In [129]:
%load_ext autoreload
%autoreload 2
from func.utils import get_categorical_features, read_pkl_gzip, to_pkl_gzip, parallel_load_data, get_filename
from func.time_utils import date_add_days, diff_of_days, diff_of_times
from glob import glob
from matplotlib import pyplot as plt
from pathlib import Path
from tqdm import tqdm
from train_prophet import main_prophet
import datetime
import math
import os
import numpy as np
import pandas as pd

HOME = os.path.expanduser('~')
sys.path.append(f"{HOME}/github/data_mining/library")
from parallel_utils import get_parallel_arg_list
from joblib import delayed, Parallel

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
COLUMN_ID = 'TransactionID'
COLUMN_DT = 'TransactionDT'
COLUMN_TARGET = 'isFraud'
COLUMNS_IGNORE = [COLUMN_ID, COLUMN_DT, COLUMN_TARGET]

train_paths = glob('../feature/raw_main/*_train.gz')
test_paths = glob('../feature/raw_main/*_test.gz')

train_paths = [path for path in train_paths 
               if path.count('DT') 
               or path.count('Fraud') 
               or path.count('D')
               or path.count('C1')
               or path.count('C13')
               or path.count('V221')
               or path.count('V285')
               or path.count('card')
               or path.count('addr')
               or path.count('Reg')
               or path.count('P_email')
               or path.count('M')
               or path.count('Product')
              ]
test_paths  = [path for path in test_paths  
               if path.count('DT') 
               or path.count('Fraud') 
               or path.count('D')
               or path.count('C1')
               or path.count('C13')
               or path.count('V221')
               or path.count('V285')
               or path.count('card')
               or path.count('addr')
               or path.count('Reg')
               or path.count('P_email')
               or path.count('M')
               or path.count('Product')
              ]

df_train = parallel_load_data(train_paths)
df_test = parallel_load_data(test_paths)

In [290]:
START_DATE = '2017-11-04'
# START_DATE = '2017-12-01'
startdate = datetime.datetime.strptime(START_DATE, '%Y-%m-%d')
df_train['datetime'] = df_train['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x) - datetime.timedelta(seconds = 14400) ))
df_test['datetime'] = df_test['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x) - datetime.timedelta(seconds = 14400) ))
df_train['datetime'].fillna(datetime.date(2020, 1, 1), inplace=True)
df_test['datetime'].fillna(datetime.date(2020, 1, 1), inplace=True)
df_train['date'] = df_train['datetime'].map(lambda x: x.date())
df_test['date']  =  df_test['datetime'].map(lambda x: x.date())
df_train['hour'] = df_train['datetime'].map(lambda x: x.hour)
df_test['hour']  =  df_test['datetime'].map(lambda x: x.hour)

In [297]:
def trans_DT(df):
    list_regist = []
    for d, diff in tqdm(df[['date', 'D1']].values):
        if diff < 999999:
            regist = date_add_days(d, -1*diff)
        else:
            regist = date_add_days(d, 0)
        list_regist.append(str(regist))
    df['Regist_date'] = list_regist
    return df
df_train = trans_DT(df_train)
df_test  = trans_DT(df_test)

  0%|          | 0/590540 [00:00<?, ?it/s]

  4%|▍         | 22373/590540 [00:00<00:02, 223728.61it/s]

  8%|▊         | 44960/590540 [00:00<00:02, 224365.70it/s]

 12%|█▏        | 68246/590540 [00:00<00:02, 226846.05it/s]

 15%|█▌        | 90179/590540 [00:00<00:02, 224536.61it/s]

 19%|█▉        | 113833/590540 [00:00<00:02, 228006.23it/s]

 23%|██▎       | 136734/590540 [00:00<00:01, 228306.17it/s]

 27%|██▋       | 159926/590540 [00:00<00:01, 229377.86it/s]

 31%|███       | 182841/590540 [00:00<00:01, 229306.89it/s]

 35%|███▍      | 205925/590540 [00:00<00:01, 229762.29it/s]

 39%|███▉      | 229185/590540 [00:01<00:01, 230605.72it/s]

 43%|████▎     | 252996/590540 [00:01<00:01, 232804.65it/s]

 47%|████▋     | 275843/590540 [00:01<00:01, 231354.36it/s]

 51%|█████     | 298677/590540 [00:01<00:01, 230291.02it/s]

 54%|█████▍    | 321749/590540 [00:01<00:01, 230417.80it/s]

 58%|█████▊    | 345311/590540 [00:01<00:01, 231952.45it/s]

 62%|██████▏   | 368864/590540 [00:01<00:00, 233013.16it/s]

 66%|██████▋   | 392097/590540 [00:01<00:00, 231614.29it/s]

 70%|███████   | 415355/590540 [00:01<00:00, 231902.07it/s]

 74%|███████▍  | 438513/590540 [00:01<00:00, 231744.69it/s]

 78%|███████▊  | 461665/590540 [00:02<00:00, 230050.82it/s]

 82%|████████▏ | 485372/590540 [00:02<00:00, 232110.01it/s]

 86%|████████▌ | 509316/590540 [00:02<00:00, 234260.36it/s]

 90%|█████████ | 532744/590540 [00:02<00:00, 234003.56it/s]

 94%|█████████▍| 556208/590540 [00:02<00:00, 234191.69it/s]

 98%|█████████▊| 580124/590540 [00:02<00:00, 235659.77it/s]

100%|██████████| 590540/590540 [00:02<00:00, 231170.50it/s]

  0%|          | 0/506691 [00:00<?, ?it/s]

  5%|▍         | 23011/506691 [00:00<00:02, 230103.09it/s]

  9%|▉         | 45791/506691 [00:00<00:02, 229404.87it/s]

 13%|█▎        | 68397/506691 [00:00<00:01, 228390.47it/s]

 18%|█▊        | 91521/506691 [00:00<00:01, 229235.72it/s]

 23%|██▎       | 114570/506691 [00:00<00:01, 229609.00it/s]

 27%|██▋       | 137357/506691 [00:00<00:01, 229082.44it/s]

 32%|███▏      | 160508/506691 [00:00<00:01, 229804.43it/s]

 36%|███▋      | 183717/506691 [00:00<00:01, 230483.95it/s]

 41%|████      | 207090/506691 [00:00<00:01, 231448.00it/s]

 45%|████▌     | 230435/506691 [00:01<00:01, 232043.57it/s]

 50%|█████     | 254158/506691 [00:01<00:01, 233574.11it/s]

 55%|█████▍    | 277987/506691 [00:01<00:00, 234969.06it/s]

 60%|█████▉    | 301550/506691 [00:01<00:00, 235164.67it/s]

 64%|██████▍   | 324886/506691 [00:01<00:00, 234618.22it/s]

 69%|██████▉   | 348627/506691 [00:01<00:00, 235447.57it/s]

 74%|███████▎  | 372451/506691 [00:01<00:00, 236275.62it/s]

 78%|███████▊  | 396005/506691 [00:01<00:00, 234910.32it/s]

 83%|████████▎ | 419962/506691 [00:01<00:00, 236286.48it/s]

 88%|████████▊ | 443932/506691 [00:01<00:00, 237298.67it/s]

 92%|█████████▏| 467640/506691 [00:02<00:00, 236195.30it/s]

 97%|█████████▋| 491802/506691 [00:02<00:00, 237796.53it/s]

100%|██████████| 506691/506691 [00:02<00:00, 233528.35it/s]

In [382]:
train_df['is_train'] = 1
test_df['is_train']  = 0
data = pd.concat([train_df, test_df], axis=0, ignore_index=True)

In [367]:
same_id_2 = [
2999837
,3056355
,3123212
,3133933
,3168396
,3207517
,3229603
,3246696
,3290427
,3325523
,3337729
,3355784
,3430130
,3441776
,3467658
,3511080
,3521314
,3542429
,3551764
,3671539
,3703201
,3733574
,3768559
]
same_id_3 = [
    3668748,
    3693073,
    3698277,
    3709224,
    3664525,
    3729137,
    3757832,
    3705315,
    3705317,
#     3748008,
#     3705320,
#     3705323,
#     3676640,
#     3675467,
#     3700295,
#     3700299,
#     3700300,
#     3700301,
#     3700302,
#     3700303,
#     3667743,
#     3686307,
#     3761431,
#     3716708,
#     3740195,
#     3746885,
#     3670358,
#     3749338,
#     3728126,
#     3737842,
#     3743537,
#     3743586,
#     3744487,
#     3744762,
#     3751017,
#     3751020,
#     3684352,
#     3684367,
#     3729949,
#     3667192,
#     3667227,
#     3667337,
#     3676524,
#     3681076,
#     3705975,
#     3708425,
#     3708754,
#     3708774,
#     3715049,
#     3721365,
#     3730294,
#     3731742,
#     3698518,
#     3730264,
#     3739964,
#     3673044,
#     3698238,
#     3740350,
#     3670750,
#     3700464,
#     3719449,
#     3716834,
#     3716860,
#     3668549,
#     3720667,
#     3714268,
#     3738980,
#     3695883,
#     3733159,
#     3702689,
#     3731050,
#     3702124,
#     3740356,
#     3740380,
#     3754209,
#     3756316,
#     3663768,
#     3686474,
#     3699667,
#     3721623,
#     3701425,
#     3722101,
#     3735782,
#     3757219,
#     3690140,
#     3705555,
#     3730447,
#     3743090,
#     3743094,
#     3746753,
#     3756938,
#     3762422,
#     3691208,
#     3693800,
#     3695850,
#     3699472,
#     3700929,
#     3700953,
#     3703100,
#     3704420,
#     3704437,
#     3712315,
#     3712337,
#     3718525,
#     3736264,
#     3750859,
#     3755848,
#     3755866,
#     3756179,
#     3757001,
#     3758654,
#     3758877,
#     3758881,
#     3759972,
#     3759994,
#     3760000,
#     3694564,
#     3738079,
#     3738141,
#     3738522,
#     3738529,
#     3738539,
#     3741829,
#     3741831,
#     3741833,
#     3747194,
#     3760419,
#     3735759,
#     3701323,
#     3712229,
#     3712789,
#     3739761,
#     3742192,
#     3664053,
#     3681422,
#     3681426,
#     3736224,
#     3751581,
#     3755457,
#     3729864,
#     3738335,  # ここまで Train isFraud=1 ユーザー
#     3675836,  # ここから Train isFraud=1/0 混在ユーザー
#     3669470,
#     3744024,
#     3721865,
#     3741798,
#     3737838,
#     3665398,
#     3744931,
#     3690549,
#     3723397,
#     3734649,
#     3676496,
#     3677414,
#     3682909,
#     3684497,
#     3685731,
#     3694302,
#     3694311,
#     3694324,
#     3696725,
#     3707687,
#     3731212,
#     3732961,
#     3733277,
#     3736311,
#     3751471,
#     3751768,
#     3751770,
#     3698099,
#     3703038,
#     3705750,
#     3733565,
#     3762502,
#     3683366,
#     3712376,
#     3676196,
#     3711864,
#     3726228,
#     3747470,
#     3668357,
#     3693154,
#     3664261,
#     3725072,
#     3763830
]


# data[data[COLUMN_ID].isin(same_id_2)][sorted(list(set(check_cols)-set(['user_id'])))]
# data[data[COLUMN_ID].isin(same_id_3)][sorted(user_keys)]
# data['card5'].value_countse()

異なるuser keyで様々なユーザー特定パターン（正確でなくてもよい）を作り、それぞれのパターンで特徴を作る  
正確でなくてもよい理由としては、粒度を粗くしてもある条件を外した特徴量になるだけなので、問題ない

In [384]:
user_info = [
    'ProductCD',
#     'Regist_date'
]
list_card = [
    'card1',
    'card2',
    'card3',
    'card4',
#     'card5',
#     'card6',
]
list_addr = [
    'addr1',
    'addr2',
]
list_pemail = [
    'P_emaildomain'
]
list_M = [col for col in data.columns if col.startswith('M')]

user_keys__card = user_info + list_card

user_keys__card_addr = user_info + list_card + list_addr
user_keys__card_pemail = user_info + list_card + list_pemail
user_keys__card_M = user_info + list_card + list_M

user_keys__card_addr_pemail = user_info + list_card + list_addr + list_pemail
user_keys__card_addr_M = user_info + list_card + list_addr + list_M
user_keys__card_pemail_M = user_info + list_card + list_pemail + list_M

user_keys__card_addr_pemail_M = user_info + list_card + list_addr + list_pemail + list_M

list_user_keys = [
  ['user_keys__card',      user_keys__card,],
  ['user_keys__card_addr',      user_keys__card_addr,],
  ['user_keys__card_pemail',      user_keys__card_pemail,],
  ['user_keys__card_M',      user_keys__card_M,],
  ['user_keys__card_addr_M',      user_keys__card_addr_M,],
  ['user_keys__card_addr_pemail',      user_keys__card_addr_pemail,],
  ['user_keys__card_pemail_M',      user_keys__card_pemail_M,],
  ['user_keys__card_addr_pemail_M',      user_keys__card_addr_pemail_M,],
]
check_Ds = ['D1', 'D2', 'D3', 'D4', 'D5', 'datetime']

data['D1'].fillna(-1, inplace=True)
data[user_info + list_card] = data[user_info + list_card].astype('str').fillna('#')

user_keys = user_keys__card_addr
# user_keys = user_keys__card_addr_pemail

uid = 'user_id'
df = data.copy()

for col in user_keys:
    df[col].fillna('#', inplace=True)

df[user_keys] =  df[user_keys].astype('str')

user_keyで粗いグループを作ったら、そのグループの中で同じユーザーを探索し、条件が合えば仲間にしてさらにグループを作っていくイメージ

In [385]:
user_df = df.groupby(user_keys)[COLUMN_ID].min()
user_df = user_df.to_frame(uid)
user_df = df.set_index(user_keys).join(user_df)

check_cols = [COLUMN_ID, uid, COLUMN_TARGET, 'datetime', 'Regist_date', 'is_train'] + ['D1', 'D3', 'C1', 'C13', 'V221', 'V285']
user_df = user_df.reset_index()[check_cols]

if uid not in user_df.columns:
    user_df.reset_index(inplace=True)
    
user_df['hour'] = user_df['datetime'].map(lambda x: x.hour)
user_df['D3'].fillna(-99999, inplace=True)
user_df['C1'].fillna(-99999, inplace=True)
user_df['C13'].fillna(-99999, inplace=True)
user_df['V221'].fillna(-99999, inplace=True)
user_df['V285'].fillna(-99999, inplace=True)

train_max_datetime = train_df['datetime'].max()
test_min_datetime = test_df['datetime'].min()

# user_df.sort_values(by=[uid, 'datetime'], inplace=True)

# user_df['diff_from_regist'] = user_df['datetime'] - user_df['Regist_date'].map(lambda x: datetime.datetime(int(x[:4]), int(x[5:7]), int(x[8:10]) ) )
# user_df['diff_from_regist'] = user_df['diff_from_regist'].map(lambda x: x.days)

# user_df['Regist_date_add_D1'] = user_df[['Regist_date', 'D1']].apply(lambda x: date_add_days(x[0], x[1]), axis=1)
# user_df['Regist_date_add_D1-D3'] = user_df[['Regist_date_add_D1', 'D3']].apply(lambda x: date_add_days(x[0], -1*x[1]), axis=1)
# user_df['Regist_date_add_D1-D3-1'] = user_df[['Regist_date_add_D1', 'D3']].apply(lambda x: date_add_days(x[0], -1*x[1]-1), axis=1)

# user_df['date__before1'] = user_df.groupby(uid)['date'].shift(1)
# user_df['date__before2'] = user_df.groupby(uid)['date'].shift(2)
# user_df['date__before3'] = user_df.groupby(uid)['date'].shift(3)
# user_df['D1__before1']   = user_df.groupby(uid)['D1'].shift(1)
# user_df['D1__before2']   = user_df.groupby(uid)['D1'].shift(2)

# user_df['diff_D1__before1'] = user_df[['D1', 'D1__before1']].apply(lambda x: x[0] - x[1] , axis=1)
# user_df['diff_D1__before2'] = user_df[['D1', 'D1__before2']].apply(lambda x: x[0] - x[1] , axis=1)
# user_df['diff_day__before1'] = user_df[['date', 'date__before1']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)
# user_df['diff_day__before2'] = user_df[['date', 'date__before2']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)
# user_df['diff_day__before3'] = user_df[['date', 'date__before3']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)

# user_df.to_csv('../output/0901_ieee__user_df_card_addr_pemail__for_specific_same_user.csv', index=False)

In [386]:
col_no = 'no'
user_df['no'] = np.arange(user_df.shape[0])+1

tmp = user_df.groupby(uid)['C1'].count().to_frame('user_cnt')
df_multi_user = tmp[tmp['user_cnt']>1]
multi_user = df_multi_user.index.tolist()

list_eval_group = []
list_user_map = []

arg_list = get_parallel_arg_list(n_jobs=16, arg_list=multi_user)

In [387]:
def parallel_explore_same_user(group_no_list):
    
    list_user_map = []
    for group_no in group_no_list:

        group = user_df[user_df[uid]==group_no]
        group.sort_values(by='datetime', inplace=True)
        users = group[col_no].unique().tolist()
        user_map = {}
        
        while True:
        
            remain_user = group[~group[col_no].isin(list(user_map.keys()))][col_no].values
        #     remain_user = list( set(users) - set(list(user_map.keys())) )
        
            base_user = remain_user[0]
            user_map[base_user] = base_user
            list_same_user = []
        
            base = group[group[col_no]==base_user]
            base_reg = base['Regist_date'].values[0]
            base_dt = base['datetime'].values[0]
            base_d1 = base['D1'].values[0]
            base_d3 = base['D3'].values[0]
            base_c1 = base['C1'].values[0]
            base_c13 = base['C13'].values[0]
            base_v221 = base['V221'].values[0]
            base_v285 = base['V285'].values[0]
            base_hour = base['hour'].values[0]
            base_fraud = base[COLUMN_TARGET].values[0]
            base_is_train = base['is_train'].values[0]
        
            for i in range(1, len(remain_user), 1):
        
                tmp_user = remain_user[i]
        
                tmp = group[group[col_no]==tmp_user]
                tmp_reg = tmp['Regist_date'].values[0]
                diff_regist_days = abs((pd.to_datetime(tmp_reg) - pd.to_datetime(base_reg)).days)
                
                # Regist_dateで1day以上の差は除外
                if diff_regist_days>1:
                    continue
                
                tmp_dt = tmp['datetime'].values[0]
                tmp_d1 = tmp['D1'].values[0]
                tmp_d3 = tmp['D3'].values[0]
                tmp_c1 = tmp['C1'].values[0]
                tmp_c13 = tmp['C13'].values[0]
                tmp_v221 = tmp['V221'].values[0]
                tmp_v285 = tmp['V285'].values[0]
                tmp_hour = tmp['hour'].values[0]
                tmp_fraud = tmp[COLUMN_TARGET].values[0]
                tmp_is_train = tmp['is_train'].values[0]
                
                is_same_data = base_is_train == tmp_is_train
                
                if not is_same_data:
                    no_term_date = date_add_days(pd.to_datetime(base_dt), tmp_d3*-1)
                    if train_max_datetime <= no_term_date <= test_min_datetime:
                        match_d1 = True
                else:
                    match_d1 = True
        
                diff_d1   = tmp_d1 - base_d1
                diff_c1   = abs(tmp_c1 - base_c1)
                minus_c1   = tmp_c1 < base_c1
                if minus_c1:
                    thres_c1 = 3
                    thres_c1_2 = 3
                else:
                    thres_c1 = 4
                    thres_c1_2 = 8
                thres_c1_large = 5
                thres_v = 3
        
                diff_c13  = abs(tmp_c13 - base_c13)
                diff_v221 = abs(tmp_v221 - base_v221)
                diff_v285 = abs(tmp_v285 - base_v285)
        
                ratio_c1   = abs(tmp_c1  / base_c1)
                ratio_c13  = abs(tmp_c13 / base_c13)
        
        #         print("="*12)
        #         print(f"base {base_user} {base_dt}  ->  D1:{base_d1} D3:{base_d3} C1:{base_c1} C13:{base_c13} V221:{base_v221} V285:{base_v285}")
        #         print(f"tmp  {tmp_user} {tmp_dt}  ->  D1:{tmp_d1} D3:{tmp_d3} C1:{tmp_c1} C13:{tmp_c13} V221:{tmp_v221} V285:{tmp_v285}")
        #         print(f"diff_D1 {diff_d1} diffD1-D3: {diff_d1-tmp_d3} diff_C1:{diff_c1} diff_C13:{diff_c13} diff_V221:{diff_v221} diff_V285:{diff_v285}")
        #         print("="*12)
        
                # D3がNullの場合
                if base_d3==-99999 or tmp_d3==-99999:
                    # TODO
                    # ここでFraud条件を入れると、train-test間を同じユーザーにまとめることはできなくなる
                    # 両パターンを作成し、Fraud含めないパターンでまたいたユーザーが本当にまたいでるかチェックしたい
                    
                    if diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285<=thres_v:
                        pass
                    elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285>90000:
                        pass
                    elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285<=thres_v:
                        pass
                    elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285>90000:
                        pass
                    elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285<=thres_v:
                        pass
                    elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285>90000:
                        pass
                    elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285<=thres_v:
                        pass
                    elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285>90000:
                        pass
                    else:
                        continue
                    
        #             if base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285<=thres_v:
        #                 pass
        #             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285>90000:
        #                 pass
        #             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285<=thres_v:
        #                 pass
        #             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285>90000:
        #                 pass
        #             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285<=thres_v:
        #                 pass
        #             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285>90000:
        #                 pass
        #             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285<=thres_v:
        #                 pass
        #             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285>90000:
        #                 pass
        #             else:
        #                 continue
        
                # D3がNullsでない場合
                # D3の差分が時差を考慮してもおかしい場合は別ユーザーにする（時差が1~2時間以上だと強制的にはじいてしまうが）
                elif (diff_d1 == tmp_d3) or (abs(diff_d1 - tmp_d3)==1):
                    pass
                else:
                    # train testの境目
                    if not is_same_data and match_d1:
                        pass
                    else:
                        # 別ユーザーとみなす
                        continue
        
                # D3がNullsでない場合
                if base_d3!=-99999 and tmp_d3!=-99999:
                    
                    # 別ユーザーとみなす
                    if diff_c1<-10 or diff_c1>1000:
                        continue
                    if diff_c13<-10 or diff_c13>1000:
                        continue
        
        #             print("  * check diff_V")
                    # V221, 285の変化量が1トランザクションで10以上はないという想定
                    if (10<= diff_v221) and (diff_v221<=100):
                        continue
                    if (10<= diff_v285) and (diff_v285<=100):
                        continue
        
        #             print("  * check diff_C")
                    if diff_c1<=thres_c1 and diff_c13<=thres_c1 and (diff_v221<=thres_v or diff_v285<=thres_v) and diff_d1>0:
        #                 print('    * pass1')
                        pass
                    elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and (diff_v221<=thres_v or diff_v285<=thres_v) and diff_d1==0:
                        pass
                    elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_d1!=0:
                        pass
                    else:
                        # 別ユーザーとみなす
                        continue
        
                user_map[tmp_user] = base_user
        #         print(pd.Series(user_map))
                
                # base_userと同じと判定されたので、baseを直近のトランザクションに書き換える
                base_dt    = tmp['datetime'].values[0]
                base_d1    = tmp['D1'].values[0]
                base_d3    = tmp['D3'].values[0]
                base_c1    = tmp['C1'].values[0]
                base_c13   = tmp['C13'].values[0]
                base_v221  = tmp['V221'].values[0]
                base_v285  = tmp['V285'].values[0]
                base_hour  = tmp['hour'].values[0]
                base_fraud = tmp[COLUMN_TARGET].values[0]
        
            if len(user_map.keys()) == len(users):
                break
                
        tmp_user = pd.Series(user_map).to_frame('same_user')
        tmp_user['group_no'] = same_group
        list_user_map.append(tmp_user)
    return list_user_map

In [389]:
list_p = Parallel(16)([delayed(parallel_explore_same_user)(group_no_list) for group_no_list in arg_list])
list_df = []
for tmp_list in list_p:
    tmp = pd.concat(tmp_list, axis=0)
    list_df.append(tmp)
df = pd.concat(list_df, axis=0)

KeyboardInterrupt:

以下はテスト用

In [368]:
#========================================================================
# テスト用
#========================================================================
tmp_check = user_df[user_df[COLUMN_ID].isin(same_id_3)]
check_user = tmp_check[uid].unique()
check = user_df[user_df[uid].isin(check_user)]
check.shape

(1004, 14)

In [374]:
#========================================================================
# テスト用
#========================================================================

# group = user_df[user_df[uid]==group_no]
group = check
group.sort_values(by='datetime', inplace=True)
users = group[col_no].unique().tolist()
user_map = {}

while True:

    remain_user = group[~group[col_no].isin(list(user_map.keys()))][col_no].values
#     remain_user = list( set(users) - set(list(user_map.keys())) )

    base_user = remain_user[0]
    user_map[base_user] = base_user
    list_same_user = []

    base = group[group[col_no]==base_user]
    base_reg = base['Regist_date'].values[0]
    base_dt = base['datetime'].values[0]
    base_d1 = base['D1'].values[0]
    base_d3 = base['D3'].values[0]
    base_c1 = base['C1'].values[0]
    base_c13 = base['C13'].values[0]
    base_v221 = base['V221'].values[0]
    base_v285 = base['V285'].values[0]
    base_hour = base['hour'].values[0]
    base_fraud = base[COLUMN_TARGET].values[0]
    base_is_train = base['is_train'].values[0]

    for i in range(1, len(remain_user), 1):

        tmp_user = remain_user[i]

        tmp = group[group[col_no]==tmp_user]
        tmp_reg = tmp['Regist_date'].values[0]
        diff_regist_days = abs((pd.to_datetime(tmp_reg) - pd.to_datetime(base_reg)).days)
        
        # Regist_dateで1day以上の差は除外
        if diff_regist_days>1:
            continue
        
        tmp_dt = tmp['datetime'].values[0]
        tmp_d1 = tmp['D1'].values[0]
        tmp_d3 = tmp['D3'].values[0]
        tmp_c1 = tmp['C1'].values[0]
        tmp_c13 = tmp['C13'].values[0]
        tmp_v221 = tmp['V221'].values[0]
        tmp_v285 = tmp['V285'].values[0]
        tmp_hour = tmp['hour'].values[0]
        tmp_fraud = tmp[COLUMN_TARGET].values[0]
        tmp_is_train = tmp['is_train'].values[0]
        
        is_same_data = base_is_train == tmp_is_train
        
        if not is_same_data:
            no_term_date = date_add_days(pd.to_datetime(base_dt), tmp_d3*-1)
            if train_max_datetime <= no_term_date <= test_min_datetime:
                match_d1 = True
        else:
            match_d1 = True

        diff_d1   = tmp_d1 - base_d1
        diff_c1   = abs(tmp_c1 - base_c1)
        minus_c1   = tmp_c1 < base_c1
        if minus_c1:
            thres_c1 = 3
            thres_c1_2 = 3
        else:
            thres_c1 = 4
            thres_c1_2 = 8
        thres_c1_large = 5
        thres_v = 3

        diff_c13  = abs(tmp_c13 - base_c13)
        diff_v221 = abs(tmp_v221 - base_v221)
        diff_v285 = abs(tmp_v285 - base_v285)

        ratio_c1   = abs(tmp_c1  / base_c1)
        ratio_c13  = abs(tmp_c13 / base_c13)

#         print("="*12)
#         print(f"base {base_user} {base_dt}  ->  D1:{base_d1} D3:{base_d3} C1:{base_c1} C13:{base_c13} V221:{base_v221} V285:{base_v285}")
#         print(f"tmp  {tmp_user} {tmp_dt}  ->  D1:{tmp_d1} D3:{tmp_d3} C1:{tmp_c1} C13:{tmp_c13} V221:{tmp_v221} V285:{tmp_v285}")
#         print(f"diff_D1 {diff_d1} diffD1-D3: {diff_d1-tmp_d3} diff_C1:{diff_c1} diff_C13:{diff_c13} diff_V221:{diff_v221} diff_V285:{diff_v285}")
#         print("="*12)

        # D3がNullの場合
        if base_d3==-99999 or tmp_d3==-99999:
            # TODO
            # ここでFraud条件を入れると、train-test間を同じユーザーにまとめることはできなくなる
            # 両パターンを作成し、Fraud含めないパターンでまたいたユーザーが本当にまたいでるかチェックしたい
            
            if diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285<=thres_v:
                pass
            elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285>90000:
                pass
            elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285<=thres_v:
                pass
            elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285>90000:
                pass
            elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285<=thres_v:
                pass
            elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285>90000:
                pass
            elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285<=thres_v:
                pass
            elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285>90000:
                pass
            else:
                continue
            
#             if base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285<=thres_v:
#                 pass
#             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=thres_v and diff_v285>90000:
#                 pass
#             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285<=thres_v:
#                 pass
#             elif base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221>90000 and diff_v285>90000:
#                 pass
#             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285<=thres_v:
#                 pass
#             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285>90000:
#                 pass
#             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221>90000 and diff_v285<=thres_v:
#                 pass
#             elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.6) and (0.9<=ratio_c13 or ratio_c13<=1.6) and diff_v221<=thres_v and diff_v285>90000:
#                 pass
#             else:
#                 continue

        # D3がNullsでない場合
        # D3の差分が時差を考慮してもおかしい場合は別ユーザーにする（時差が1~2時間以上だと強制的にはじいてしまうが）
        elif (diff_d1 == tmp_d3) or (abs(diff_d1 - tmp_d3)==1):
            pass
        else:
            # train testの境目
            if not is_same_data and match_d1:
                pass
            else:
                # 別ユーザーとみなす
                continue

        # D3がNullsでない場合
        if base_d3!=-99999 and tmp_d3!=-99999:
            
            # 別ユーザーとみなす
            if diff_c1<-10 or diff_c1>1000:
                continue
            if diff_c13<-10 or diff_c13>1000:
                continue

#             print("  * check diff_V")
            # V221, 285の変化量が1トランザクションで10以上はないという想定
            if (10<= diff_v221) and (diff_v221<=100):
                continue
            if (10<= diff_v285) and (diff_v285<=100):
                continue

#             print("  * check diff_C")
            if diff_c1<=thres_c1 and diff_c13<=thres_c1 and (diff_v221<=thres_v or diff_v285<=thres_v) and diff_d1>0:
#                 print('    * pass1')
                pass
            elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and (diff_v221<=thres_v or diff_v285<=thres_v) and diff_d1==0:
                pass
            elif base_c1>=thres_c1_large and tmp_c1>=thres_c1_large and (0.3<=ratio_c1 and ratio_c1<=1.6) and (0.3<=ratio_c13 or ratio_c13<=1.6) and diff_d1!=0:
                pass
            else:
                # 別ユーザーとみなす
                continue

        user_map[tmp_user] = base_user
#         print(pd.Series(user_map))
        
        # base_userと同じと判定されたので、baseを直近のトランザクションに書き換える
        base_dt    = tmp['datetime'].values[0]
        base_d1    = tmp['D1'].values[0]
        base_d3    = tmp['D3'].values[0]
        base_c1    = tmp['C1'].values[0]
        base_c13   = tmp['C13'].values[0]
        base_v221  = tmp['V221'].values[0]
        base_v285  = tmp['V285'].values[0]
        base_hour  = tmp['hour'].values[0]
        base_fraud = tmp[COLUMN_TARGET].values[0]

    if len(user_map.keys()) == len(users):
        break

tmp_user = pd.Series(user_map).to_frame('same_user')
check.set_index('no').join(tmp_user['same_user'])

,TransactionID,user_id,isFraud,datetime,Regist_date,is_train,D1,D3,C1,C13,V221,V285,hour,same_user
no,,,,,,,,,,,,,,
4516,2987205,2987205,0.0,2017-11-04 20:56:33,2017-11-04,1,0.0,-99999.0,2.0,2.0,-99999.0,0.0,20,4516
75636,2988069,2988069,1.0,2017-11-05 04:18:16,2017-11-05,1,0.0,-99999.0,40.0,1.0,-99999.0,0.0,4,75636
4517,2989968,2987205,0.0,2017-11-05 13:59:11,2017-11-05,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,13,4516
75637,2990559,2988069,1.0,2017-11-05 15:31:57,2017-11-05,1,0.0,-99999.0,5.0,0.0,-99999.0,0.0,15,4516
4518,2991265,2987205,0.0,2017-11-05 17:29:19,2017-11-05,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,17,4518
4519,2992252,2987205,0.0,2017-11-05 20:25:58,2017-11-05,1,0.0,-99999.0,2.0,2.0,-99999.0,0.0,20,4516
4520,2993411,2987205,0.0,2017-11-06 09:59:39,2017-11-06,1,0.0,-99999.0,2.0,2.0,-99999.0,0.0,9,4518
4521,2994121,2987205,1.0,2017-11-06 13:20:42,2017-11-06,1,0.0,-99999.0,34.0,2.0,-99999.0,0.0,13,4521
4522,2994123,2987205,1.0,2017-11-06 13:20:58,2017-11-06,1,0.0,0.0,61.0,5.0,-99999.0,0.0,13,4522
4523,2994126,2987205,1.0,2017-11-06 13:21:29,2017-11-06,1,0.0,-99999.0,35.0,2.0,-99999.0,0.0,13,4521
741279,2994660,2994660,0.0,2017-11-06 15:20:30,2017-11-06,1,0.0,-99999.0,6.0,9.0,-99999.0,0.0,15,741279
75638,2996571,2988069,0.0,2017-11-07 00:36:07,2017-11-07,1,0.0,-99999.0,2.0,1.0,-99999.0,0.0,0,75638
521279,2997663,2997663,0.0,2017-11-07 14:19:46,2017-11-07,1,0.0,-99999.0,3.0,4.0,-99999.0,0.0,14,75638
4524,2997669,2987205,0.0,2017-11-07 14:21:09,2017-11-07,1,0.0,-99999.0,2.0,1.0,-99999.0,0.0,14,75638
75639,2997887,2988069,1.0,2017-11-07 15:17:58,2017-11-07,1,0.0,-99999.0,4.0,3.0,-99999.0,0.0,15,75638
75640,2998001,2988069,0.0,2017-11-07 15:43:59,2017-11-07,1,0.0,-99999.0,2.0,7.0,-99999.0,0.0,15,75640
4525,2998425,2987205,0.0,2017-11-07 17:37:38,2017-11-07,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,17,75638
75641,2998812,2988069,1.0,2017-11-07 18:55:32,2017-11-07,1,0.0,-99999.0,2.0,1.0,-99999.0,0.0,18,75638
4526,2999161,2987205,0.0,2017-11-07 20:19:55,2017-11-07,1,0.0,-99999.0,5.0,4.0,-99999.0,0.0,20,75638
521280,2999453,2997663,0.0,2017-11-07 21:36:24,2017-11-07,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,21,521280
741280,2999491,2994660,0.0,2017-11-07 21:46:40,2017-11-07,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,21,521280
4527,2999587,2987205,0.0,2017-11-07 22:13:44,2017-11-07,1,0.0,-99999.0,1.0,1.0,1.0,0.0,22,521280
4528,2999600,2987205,0.0,2017-11-07 22:17:37,2017-02-10,1,270.0,269.0,2.0,3.0,-99999.0,0.0,22,4528
75642,2999720,2988069,0.0,2017-11-07 22:59:44,2017-11-07,1,0.0,-99999.0,2.0,8.0,-99999.0,0.0,22,75640
741281,3000465,2994660,0.0,2017-11-08 10:10:56,2017-11-08,1,0.0,1.0,1.0,1.0,-99999.0,1.0,10,521280
75643,3000566,2988069,0.0,2017-11-08 10:48:01,2017-11-08,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,10,521280
741282,3001183,2994660,0.0,2017-11-08 13:13:28,2017-11-08,1,0.0,0.0,1.0,1.0,-99999.0,1.0,13,521280
741283,3001227,2994660,0.0,2017-11-08 13:22:33,2017-11-08,1,0.0,0.0,1.0,1.0,-99999.0,1.0,13,521280
521281,3002325,2997663,0.0,2017-11-08 17:11:54,2017-04-11,1,211.0,13.0,4.0,22.0,-99999.0,1.0,17,521281
521282,3003142,2997663,0.0,2017-11-08 20:03:12,2017-09-26,1,43.0,15.0,4.0,24.0,-99999.0,1.0,20,521282
521283,3004317,2997663,0.0,2017-11-09 04:00:55,2016-09-12,1,423.0,11.0,3.0,44.0,-99999.0,5.0,4,521283
521284,3006199,2997663,0.0,2017-11-09 16:38:56,2016-09-12,1,423.0,1.0,3.0,45.0,-99999.0,6.0,16,521283
521285,3020350,2997663,0.0,2017-11-13 12:44:14,2017-04-12,1,215.0,19.0,2.0,16.0,-99999.0,2.0,12,521285
4529,3025974,2987205,0.0,2017-11-14 20:06:47,2017-11-14,1,0.0,-99999.0,1175.0,896.0,1.0,0.0,20,4529
4530,3026000,2987205,0.0,2017-11-14 20:14:38,2017-11-14,1,0.0,0.0,1183.0,920.0,2.0,1.0,20,4529
4531,3026006,2987205,0.0,2017-11-14 20:15:25,2017-11-14,1,0.0,0.0,1183.0,921.0,3.0,1.0,20,4529
4532,3026010,2987205,0.0,2017-11-14 20:16:17,2017-11-14,1,0.0,0.0,1183.0,921.0,4.0,1.0,20,4529
521286,3028654,2997663,0.0,2017-11-15 14:59:10,2017-09-27,1,49.0,7.0,4.0,25.0,-99999.0,2.0,14,521282
4533,3034592,2987205,0.0,2017-11-16 20:38:23,2017-11-16,1,0.0,-99999.0,1780.0,1597.0,0.0,0.0,20,4533
521287,3035415,2997663,0.0,2017-11-17 01:29:25,2017-09-27,1,51.0,1.0,4.0,26.0,-99999.0,3.0,1,521282
521288,3040638,2997663,0.0,2017-11-18 12:09:25,2016-07-10,1,496.0,72.0,119.0,483.0,-99999.0,0.0,12,521288
4534,3043834,2987205,0.0,2017-11-18 23:00:31,2017-11-18,1,0.0,-99999.0,1.0,1.0,1.0,0.0,23,4534
4535,3044059,2987205,0.0,2017-11-19 00:27:57,2017-11-19,1,0.0,-99999.0,2.0,0.0,0.0,0.0,0,4534
4536,3044066,2987205,0.0,2017-11-19 00:29:33,2017-11-19,1,0.0,0.0,2.0,0.0,0.0,0.0,0,4534
4537,3047754,2987205,0.0,2017-11-19 18:54:21,2017-11-19,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,18,4534
4538,3056630,2987205,0.0,2017-11-21 21:20:53,2017-11-21,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,21,4538
4539,3060713,2987205,1.0,2017-11-22 17:07:15,2017-11-22,1,0.0,-99999.0,19.0,0.0,8.0,0.0,17,4539
4540,3060771,2987205,1.0,2017-11-22 17:17:22,2017-11-22,1,0.0,-99999.0,20.0,0.0,9.0,0.0,17,4539
4541,3061187,2987205,0.0,2017-11-22 18:22:04,2017-11-22,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,18,4538
4542,3061678,2987205,0.0,2017-11-22 19:37:38,2017-11-22,1,0.0,-99999.0,1.0,0.0,-99999.0,0.0,19,4538
4543,3061684,2987205,0.0,2017-11-22 19:40:00,2017-11-22,1,0.0,0.0,1.0,1.0,-99999.0,0.0,19,4538
4544,3062021,2987205,0.0,2017-11-22 20:34:52,2017-11-22,1,0.0,-99999.0,1.0,1.0,1.0,0.0,20,4538
4545,3066016,2987205,0.0,2017-11-23 16:26:59,2017-11-23,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,16,4545
4546,3066099,2987205,0.0,2017-11-23 16:41:30,2017-11-23,1,0.0,-99999.0,1.0,1.0,1.0,0.0,16,4545
4547,3066255,2987205,0.0,2017-11-23 17:06:59,2017-11-23,1,0.0,0.0,1.0,1.0,2.0,1.0,17,4545
4548,3066277,2987205,0.0,2017-11-23 17:09:17,2017-11-23,1,0.0,0.0,1.0,1.0,3.0,1.0,17,4545
4549,3068100,2987205,0.0,2017-11-23 22:26:43,2017-11-22,1,1.0,0.0,1.0,1.0,4.0,1.0,22,4545
4550,3071108,2987205,0.0,2017-11-24 14:47:44,2017-11-24,1,0.0,-99999.0,2.0,1.0,4.0,0.0,14,4545
4551,3075335,2987205,0.0,2017-11-25 11:16:32,2017-11-25,1,0.0,-99999.0,2.0,2.0,1.0,0.0,11,4551
4552,3082292,2987205,0.0,2017-11-26 13:13:45,2017-09-15,1,72.0,72.0,1.0,2.0,0.0,0.0,13,4552
521289,3082941,2997663,0.0,2017-11-26 14:22:55,2017-11-26,1,0.0,-99999.0,2.0,1.0,-99999.0,0.0,14,4551
4553,3085383,2987205,0.0,2017-11-26 19:27:59,2017-11-26,1,0.0,-99999.0,8.0,3.0,1.0,0.0,19,4553
521290,3085814,2997663,0.0,2017-11-26 20:29:51,2017-10-24,1,33.0,33.0,3.0,8.0,-99999.0,0.0,20,521290
521291,3085956,2997663,0.0,2017-11-26 20:51:25,2017-04-11,1,229.0,13.0,2.0,17.0,-99999.0,1.0,20,521285
4554,3086095,2987205,0.0,2017-11-26 21:15:37,2017-02-21,1,278.0,49.0,1.0,3.0,0.0,0.0,21,4554
741284,3086883,2994660,0.0,2017-11-27 00:33:44,2017-11-27,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,0,741284
4555,3088230,2987205,0.0,2017-11-27 12:22:57,2017-11-27,1,0.0,-99999.0,1.0,1.0,1.0,0.0,12,741284
4556,3095047,2987205,0.0,2017-11-28 14:32:50,2017-11-28,1,0.0,-99999.0,1.0,1.0,0.0,0.0,14,741284
4557,3095494,2987205,0.0,2017-11-28 15:31:30,2017-11-28,1,0.0,-99999.0,1.0,0.0,-99999.0,0.0,15,741284
4558,3095503,2987205,0.0,2017-11-28 15:32:27,2017-11-28,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,15,741284
741285,3095649,2994660,0.0,2017-11-28 15:50:05,2017-11-28,1,0.0,-99999.0,6.0,22.0,-99999.0,0.0,15,741285
4559,3095772,2987205,0.0,2017-11-28 16:03:32,2017-11-28,1,0.0,0.0,2.0,1.0,-99999.0,0.0,16,741284
741286,3098003,2994660,0.0,2017-11-28 21:18:27,2017-11-27,1,1.0,0.0,6.0,22.0,-99999.0,0.0,21,741285
741287,3099935,2994660,0.0,2017-11-29 09:46:09,2017-10-11,1,49.0,50.0,2.0,3.0,-99999.0,0.0,9,741287
521292,3099943,2997663,0.0,2017-11-29 09:47:41,2017-08-28,1,93.0,94.0,9.0,61.0,-99999.0,0.0,9,521292
4560,3101394,2987205,1.0,2017-11-29 13:41:51,2017-11-29,1,0.0,-99999.0,1.0,1.0,0.0,0.0,13,4560
4561,3105371,2987205,0.0,2017-11-30 14:42:59,2017-11-30,1,0.0,-99999.0,1.0,1.0,1.0,0.0,14,4560
4562,3107748,2987205,0.0,2017-12-01 04:10:14,2017-12-01,1,0.0,-99999.0,3.0,3.0,1.0,0.0,4,4562
4563,3107751,2987205,0.0,2017-12-01 04:18:33,2017-12-01,1,0.0,0.0,3.0,3.0,2.0,1.0,4,4562
4564,3107752,2987205,0.0,2017-12-01 04:19:31,2017-12-01,1,0.0,0.0,3.0,3.0,3.0,1.0,4,4562
4565,3108323,2987205,0.0,2017-12-01 12:02:52,2017-12-01,1,0.0,-99999.0,1.0,1.0,1.0,0.0,12,4562
4566,3108704,2987205,0.0,2017-12-01 13:36:18,2017-12-01,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,13,4562
521293,3109632,2997663,0.0,2017-12-01 16:57:06,2017-12-01,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,16,4562
4567,3114560,2987205,1.0,2017-12-03 02:48:27,2017-12-03,1,0.0,-99999.0,1.0,0.0,0.0,0.0,2,4567
4568,3117709,2987205,0.0,2017-12-03 19:00:13,2017-12-03,1,0.0,-99999.0,1.0,1.0,1.0,0.0,19,4567
521294,3119288,2997663,0.0,2017-12-04 11:15:00,2017-11-26,1,8.0,8.0,2.0,1.0,-99999.0,1.0,11,4551
4569,3121267,2987205,0.0,2017-12-04 19:39:42,2017-12-04,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,19,4567
521295,3121370,2997663,0.0,2017-12-04 20:07:50,2017-04-11,1,237.0,8.0,2.0,18.0,-99999.0,2.0,20,521285
4570,3122919,2987205,1.0,2017-12-05 13:55:15,2017-12-05,1,0.0,-99999.0,8.0,2.0,13.0,0.0,13,4570
4571,3124386,2987205,0.0,2017-12-05 20:26:43,2017-12-05,1,0.0,-99999.0,1.0,1.0,0.0,0.0,20,4571
521296,3126415,2997663,0.0,2017-12-06 18:26:31,2016-09-06,1,456.0,194.0,140.0,543.0,-99999.0,0.0,18,521296
4572,3128336,2987205,0.0,2017-12-07 13:07:41,2017-12-07,1,0.0,-99999.0,1.0,1.0,1.0,0.0,13,4572
4573,3129425,2987205,0.0,2017-12-07 17:15:31,2017-11-05,1,32.0,32.0,1.0,2.0,1.0,0.0,17,4516
521297,3129737,2997663,0.0,2017-12-07 18:31:32,2017-12-07,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,18,4572
4574,3132604,2987205,0.0,2017-12-08 13:54:27,2017-12-08,1,0.0,-99999.0,1.0,0.0,-99999.0,0.0,13,4572
4575,3133421,2987205,0.0,2017-12-08 16:38:13,2017-12-08,1,0.0,-99999.0,5.0,1.0,0.0,0.0,16,4572
4576,3135365,2987205,0.0,2017-12-09 00:57:30,2017-02-22,1,290.0,12.0,1.0,4.0,0.0,1.0,0,4554
4577,3137279,2987205,0.0,2017-12-09 16:27:36,2017-12-09,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,16,4577
4578,3137308,2987205,0.0,2017-12-09 16:34:02,2017-12-09,1,0.0,0.0,1.0,2.0,-99999.0,1.0,16,4577
521298,3139846,2997663,0.0,2017-12-10 12:58:59,2017-12-10,1,0.0,-99999.0,1.0,1.0,-99999.0,0.0,12,4577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521524,4059122,2997663,NaN,2018-11-06 15:43:58,2018-11-06,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,15,75963
4804,4060643,2987205,NaN,2018-11-06 22:38:47,2018-09-16,0,51.0,51.0,1.0,2.0,0.0,0.0,22,75917
75964,4060969,2988069,NaN,2018-11-07 01:33:08,2018-11-07,0,0.0,-99999.0,4.0,1.0,4.0,0.0,1,75963
75965,4061004,2988069,NaN,2018-11-07 02:02:28,2018-11-07,0,0.0,0.0,4.0,1.0,5.0,0.0,2,75963
741322,4065236,2994660,NaN,2018-11-08 00:30:58,2018-01-30,0,282.0,38.0,3.0,11.0,-99999.0,0.0,0,4642
4805,4065646,2987205,NaN,2018-11-08 09:49:17,2018-11-08,0,0.0,-99999.0,1.0,1.0,1.0,0.0,9,4805
75966,4070703,2988069,NaN,2018-11-09 17:17:05,2018-11-09,0,0.0,-99999.0,1.0,1.0,1.0,0.0,17,4805
521525,4072594,2997663,NaN,2018-11-10 11:18:54,2018-10-21,0,20.0,20.0,1.0,1.0,-99999.0,1.0,11,741320
4806,4072951,2987205,NaN,2018-11-10 13:10:41,2018-11-10,0,0.0,-99999.0,1.0,1.0,1.0,0.0,13,4806
75967,4074954,2988069,NaN,2018-11-10 22:02:18,2018-11-10,0,-1.0,-99999.0,1.0,1.0,1.0,0.0,22,4806
521526,4075536,2997663,NaN,2018-11-11 08:34:56,2018-11-11,0,0.0,-99999.0,2.0,2.0,-99999.0,0.0,8,4806
521527,4079325,2997663,NaN,2018-11-12 10:43:08,2018-11-05,0,7.0,7.0,1.0,3.0,-99999.0,2.0,10,4803
741323,4079679,2994660,NaN,2018-11-12 12:41:58,2018-11-12,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,12,741323
741324,4080415,2994660,NaN,2018-11-12 16:12:04,2018-11-12,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,16,741323
521528,4081296,2997663,NaN,2018-11-12 20:33:06,2018-11-03,0,9.0,8.0,1.0,2.0,-99999.0,1.0,20,521528
521529,4081486,2997663,NaN,2018-11-12 21:29:51,2018-11-12,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,21,741323
521530,4081832,2997663,NaN,2018-11-13 00:32:20,2018-10-21,0,23.0,3.0,1.0,1.0,-99999.0,1.0,0,741320
521531,4081842,2997663,NaN,2018-11-13 00:39:42,2018-10-21,0,23.0,0.0,1.0,2.0,-99999.0,1.0,0,741320
75968,4082065,2988069,NaN,2018-11-13 09:35:40,2018-11-13,0,0.0,-99999.0,2.0,0.0,0.0,0.0,9,741323
4807,4084889,2987205,NaN,2018-11-14 02:13:53,2018-09-26,0,49.0,48.0,2.0,2.0,-99999.0,0.0,2,521505
75969,4085230,2988069,NaN,2018-11-14 10:43:46,2018-11-14,0,0.0,-99999.0,1.0,1.0,1.0,0.0,10,75969
75970,4085615,2988069,NaN,2018-11-14 12:41:13,2018-10-17,0,28.0,28.0,1.0,2.0,-99999.0,1.0,12,521512
75971,4085902,2988069,NaN,2018-11-14 13:43:03,2018-11-13,0,1.0,1.0,3.0,0.0,2.0,0.0,13,741323
75972,4088268,2988069,NaN,2018-11-14 23:39:10,2018-11-14,0,0.0,-99999.0,1.0,0.0,1.0,0.0,23,75969
75973,4088275,2988069,NaN,2018-11-14 23:42:09,2018-11-14,0,0.0,-99999.0,2.0,0.0,2.0,0.0,23,75969
75974,4089513,2988069,NaN,2018-11-15 13:12:48,2018-11-15,0,0.0,-99999.0,1.0,1.0,1.0,0.0,13,75969
75975,4090120,2988069,NaN,2018-11-15 15:47:14,2018-11-15,0,0.0,-99999.0,1.0,1.0,1.0,0.0,15,75969
521532,4092281,2997663,NaN,2018-11-16 10:02:49,2018-11-11,0,5.0,5.0,2.0,2.0,-99999.0,1.0,10,4806
521533,4092295,2997663,NaN,2018-11-16 10:09:13,2018-11-11,0,5.0,0.0,2.0,3.0,-99999.0,1.0,10,4806
4808,4094434,2987205,NaN,2018-11-16 19:27:52,2018-11-16,0,0.0,-99999.0,2.0,0.0,2.0,0.0,19,4808
4809,4096423,2987205,NaN,2018-11-17 13:21:21,2018-11-17,0,0.0,-99999.0,1.0,1.0,1.0,0.0,13,4808
4810,4098112,2987205,NaN,2018-11-17 20:44:07,2018-11-17,0,0.0,-99999.0,1.0,1.0,1.0,0.0,20,4808
4811,4098124,2987205,NaN,2018-11-17 20:47:03,2018-11-17,0,-1.0,0.0,1.0,0.0,1.0,1.0,20,4808
75976,4098139,2988069,NaN,2018-11-17 20:50:41,2017-05-20,0,546.0,545.0,1.0,1.0,1.0,0.0,20,75976
75977,4099938,2988069,NaN,2018-11-18 12:54:18,2018-11-18,0,0.0,-99999.0,1.0,0.0,-99999.0,0.0,12,75977
4812,4100549,2987205,NaN,2018-11-18 15:10:26,2018-11-18,0,0.0,-99999.0,2.0,2.0,0.0,0.0,15,75977
75978,4101845,2988069,NaN,2018-11-18 20:13:01,2018-11-18,0,0.0,-99999.0,1568.0,573.0,-99999.0,0.0,20,75978
741325,4101852,2994660,NaN,2018-11-18 20:13:58,2018-01-29,0,293.0,11.0,3.0,12.0,-99999.0,1.0,20,741325
4813,4102439,2987205,NaN,2018-11-18 23:02:21,2018-11-18,0,0.0,-99999.0,2.0,1.0,2.0,0.0,23,75977
4814,4102794,2987205,NaN,2018-11-19 02:14:42,2018-11-19,0,0.0,-99999.0,1.0,1.0,0.0,0.0,2,75977
75979,4103267,2988069,NaN,2018-11-19 11:26:27,2017-05-21,0,547.0,2.0,1.0,2.0,1.0,1.0,11,75976
4815,4103759,2987205,NaN,2018-11-19 13:33:19,2018-11-19,0,0.0,-99999.0,1.0,1.0,0.0,0.0,13,75977
75980,4103901,2988069,NaN,2018-11-19 14:11:08,2018-11-19,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,14,75977
75981,4104563,2988069,NaN,2018-11-19 16:49:16,2018-11-19,0,0.0,-99999.0,3.0,1.0,-99999.0,0.0,16,75977
4816,4104575,2987205,NaN,2018-11-19 16:53:41,2018-11-16,0,3.0,3.0,11.0,0.0,14.0,0.0,16,4816
75982,4105777,2988069,NaN,2018-11-19 22:59:20,2018-11-19,0,0.0,-99999.0,4.0,6.0,3.0,0.0,22,75982
4817,4105992,2987205,NaN,2018-11-20 00:57:13,2018-11-20,0,0.0,-99999.0,8.0,1.0,1.0,0.0,0,4817
521534,4106057,2997663,NaN,2018-11-20 02:00:27,2018-11-20,0,0.0,-99999.0,2.0,1.0,-99999.0,0.0,2,521534
741326,4107827,2994660,NaN,2018-11-20 17:29:00,2018-11-20,0,0.0,-99999.0,3.0,7.0,-99999.0,0.0,17,75982
75983,4108712,2988069,NaN,2018-11-20 21:07:47,2018-11-20,0,0.0,-99999.0,1.0,0.0,-99999.0,0.0,21,521534
4818,4109158,2987205,NaN,2018-11-20 23:00:35,2018-11-20,0,0.0,-99999.0,25.0,3.0,0.0,0.0,23,4818
75984,4109345,2988069,NaN,2018-11-20 23:59:58,2018-11-19,0,1.0,1.0,4.0,7.0,0.0,1.0,23,75982
75985,4109353,2988069,NaN,2018-11-21 00:04:08,2018-11-20,0,1.0,0.0,4.0,7.0,0.0,2.0,0,75982
75986,4109365,2988069,NaN,2018-11-21 00:08:28,2018-11-20,0,1.0,0.0,4.0,8.0,0.0,2.0,0,75982
75987,4109386,2988069,NaN,2018-11-21 00:22:44,2018-11-20,0,1.0,0.0,4.0,8.0,0.0,3.0,0,75982
75988,4109389,2988069,NaN,2018-11-21 00:24:08,2018-11-20,0,1.0,0.0,4.0,8.0,0.0,3.0,0,75982
4819,4112107,2987205,NaN,2018-11-21 17:37:52,2018-11-21,0,0.0,-99999.0,1.0,0.0,1.0,0.0,17,521534
521535,4113964,2997663,NaN,2018-11-22 00:19:46,2017-12-29,0,328.0,81.0,1.0,9.0,-99999.0,0.0,0,4586
75989,4114420,2988069,NaN,2018-11-22 08:45:37,2018-11-22,0,0.0,-99999.0,1.0,1.0,1.0,0.0,8,75989
75990,4115107,2988069,NaN,2018-11-22 11:58:38,2018-11-20,0,2.0,1.0,5.0,8.0,1.0,3.0,11,75982
75991,4115912,2988069,NaN,2018-11-22 14:35:10,2018-11-22,0,0.0,-99999.0,1.0,0.0,1.0,0.0,14,75989
4820,4117771,2987205,NaN,2018-11-22 20:55:23,2018-11-22,0,-1.0,0.0,13.0,2.0,0.0,0.0,20,4820
75992,4118053,2988069,NaN,2018-11-22 21:57:58,2018-11-22,0,-1.0,-99999.0,1.0,1.0,1.0,0.0,21,75989
75993,4118459,2988069,NaN,2018-11-22 23:44:52,2018-11-22,0,0.0,-99999.0,1.0,1.0,0.0,0.0,23,75989
75994,4118637,2988069,NaN,2018-11-23 01:04:17,2018-11-23,0,0.0,-99999.0,1.0,0.0,1.0,0.0,1,75989
75995,4119958,2988069,NaN,2018-11-23 12:33:13,2018-11-23,0,0.0,-99999.0,1.0,0.0,-99999.0,0.0,12,75989
521536,4121809,2997663,NaN,2018-11-23 18:17:09,2018-01-16,0,311.0,80.0,3.0,36.0,-99999.0,0.0,18,521487
521537,4121820,2997663,NaN,2018-11-23 18:18:25,2018-01-16,0,311.0,0.0,3.0,37.0,-99999.0,0.0,18,521487
521538,4121823,2997663,NaN,2018-11-23 18:19:10,2018-01-16,0,311.0,0.0,3.0,37.0,-99999.0,1.0,18,521487
521539,4121916,2997663,NaN,2018-11-23 18:37:13,2018-01-16,0,311.0,0.0,3.0,38.0,-99999.0,1.0,18,521487
741327,4122035,2994660,NaN,2018-11-23 19:01:15,2018-09-21,0,63.0,35.0,1.0,3.0,-99999.0,0.0,19,741316
75996,4125926,2988069,NaN,2018-11-24 15:47:36,2018-11-24,0,0.0,-99999.0,1.0,1.0,1.0,0.0,15,75996
75997,4125957,2988069,NaN,2018-11-24 15:52:51,2018-11-24,0,0.0,-99999.0,8.0,0.0,0.0,0.0,15,75997
75998,4128707,2988069,NaN,2018-11-25 07:33:22,2018-11-25,0,0.0,-99999.0,2.0,0.0,0.0,0.0,7,75996
75999,4131165,2988069,NaN,2018-11-25 15:20:57,2018-11-25,0,0.0,-99999.0,1.0,1.0,1.0,0.0,15,75996
76000,4131349,2988069,NaN,2018-11-25 15:48:02,2018-11-25,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,15,75996
76001,4132381,2988069,NaN,2018-11-25 18:20:20,2017-11-19,0,371.0,371.0,1.0,1.0,2.0,0.0,18,4534
4821,4133787,2987205,NaN,2018-11-25 22:46:47,2018-11-25,0,0.0,-99999.0,1.0,1.0,1.0,0.0,22,75996
4822,4134120,2987205,NaN,2018-11-26 00:38:51,2018-11-26,0,0.0,-99999.0,1.0,1.0,1.0,0.0,0,4822
4823,4138225,2987205,NaN,2018-11-26 21:58:15,2018-11-26,0,0.0,-99999.0,1.0,0.0,-99999.0,0.0,21,4822
4824,4138257,2987205,NaN,2018-11-26 22:05:47,2018-11-26,0,0.0,0.0,1.0,1.0,-99999.0,0.0,22,4822
4825,4140866,2987205,NaN,2018-11-27 16:07:52,2018-11-27,0,0.0,-99999.0,50.0,2.0,0.0,0.0,16,4825
521540,4141019,2997663,NaN,2018-11-27 16:34:50,2018-01-16,0,315.0,4.0,3.0,39.0,-99999.0,2.0,16,521487
76002,4146614,2988069,NaN,2018-11-28 15:25:53,2018-11-28,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,15,76002
741328,4153053,2994660,NaN,2018-11-29 15:02:07,2018-01-30,0,303.0,11.0,2.0,13.0,-99999.0,2.0,15,4639
76003,4156124,2988069,NaN,2018-11-30 13:10:45,2018-11-30,0,0.0,-99999.0,1.0,0.0,-99999.0,0.0,13,76003
76004,4156419,2988069,NaN,2018-11-30 14:23:09,2018-11-30,0,0.0,-99999.0,1.0,1.0,0.0,0.0,14,76003
76005,4156512,2988069,NaN,2018-11-30 14:43:25,2018-11-30,0,0.0,-99999.0,1.0,0.0,1.0,0.0,14,76003
76006,4156521,2988069,NaN,2018-11-30 14:45:27,2018-11-30,0,0.0,0.0,1.0,0.0,2.0,0.0,14,76003
76007,4156601,2988069,NaN,2018-11-30 15:04:45,2018-11-30,0,0.0,0.0,1.0,0.0,3.0,0.0,15,76003
76008,4157828,2988069,NaN,2018-11-30 19:59:38,2018-11-30,0,0.0,-99999.0,4.0,0.0,1.0,0.0,19,76003
76009,4159417,2988069,NaN,2018-12-01 12:11:58,2018-12-01,0,0.0,-99999.0,51.0,2.0,7.0,0.0,12,76009
521541,4159866,2997663,NaN,2018-12-01 14:10:26,2018-01-16,0,319.0,4.0,3.0,40.0,-99999.0,3.0,14,521487
76010,4159966,2988069,NaN,2018-12-01 14:38:24,2018-12-01,0,0.0,-99999.0,2.0,2.0,0.0,0.0,14,76003
76011,4160681,2988069,NaN,2018-12-01 18:03:58,2018-12-01,0,0.0,-99999.0,1.0,1.0,1.0,0.0,18,76003
76012,4163025,2988069,NaN,2018-12-02 13:34:59,2018-12-02,0,0.0,-99999.0,1.0,1.0,-99999.0,0.0,13,76012
521542,4164084,2997663,NaN,2018-12-02 17:39:36,2017-07-23,0,497.0,6.0,2.0,13.0,-99999.0,1.0,17,521542
76013,4164938,2988069,NaN,2018-12-02 21:29:59,2018-12-02,0,0.0,-99999.0,1.0,1.0,1.0,0.0,21,76012
76014,4165193,2988069,NaN,2018-12-02 23:11:15,2018-12-02,0,0.0,-99999.0,3.0,0.0,3.0,0.0,23,76012
76015,4165792,2988069,NaN,2018-12-03 10:24:18,2018-12-03,0,0.0,-99999.0,1.0,1.0,1.0,0.0,10,76012

In [376]:
pd.set_option('max_rows', 200)
# テスト用
# check_result = check.set_index('no').join(tmp_user['same_user'])
# check_result.sort_values(by=['same_user', 'datetime'], inplace=True)
# check_result.tail(804).head(200)
check_result[check_result['same_user']==4736]

,TransactionID,user_id,isFraud,datetime,Regist_date,is_train,D1,D3,C1,C13,V221,V285,hour,same_user
no,,,,,,,,,,,,,,
4736,3668748,2987205,NaN,2018-06-06 19:51:27,2018-01-05,0,152.0,153.0,105.0,8.0,3.0,0.0,19,4736
4763,3837824,2987205,NaN,2018-08-13 14:51:38,2018-01-05,0,220.0,68.0,89.0,5.0,0.0,0.0,14,4736