In [129]:
%load_ext autoreload
%autoreload 2
from func.utils import get_categorical_features, read_pkl_gzip, to_pkl_gzip, parallel_load_data, get_filename
from func.time_utils import date_add_days, diff_of_days, diff_of_times
from glob import glob
from matplotlib import pyplot as plt
from pathlib import Path
from tqdm import tqdm
from train_prophet import main_prophet
import datetime
import math
import os
import numpy as np
import pandas as pd

HOME = os.path.expanduser('~')
sys.path.append(f"{HOME}/github/data_mining/library")
from parallel_utils import get_parallel_arg_list
from joblib import delayed, Parallel

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
COLUMN_ID = 'TransactionID'
COLUMN_DT = 'TransactionDT'
COLUMN_TARGET = 'isFraud'
COLUMNS_IGNORE = [COLUMN_ID, COLUMN_DT, COLUMN_TARGET]

train_paths = glob('../feature/raw_main/*_train.gz')
test_paths = glob('../feature/raw_main/*_test.gz')

train_paths = [path for path in train_paths 
               if path.count('DT') 
               or path.count('Fraud') 
               or path.count('D')
               or path.count('C1')
               or path.count('C13')
               or path.count('V221')
               or path.count('V285')
               or path.count('card')
               or path.count('addr')
               or path.count('Reg')
               or path.count('P_email')
               or path.count('M')
               or path.count('Product')
              ]
test_paths  = [path for path in test_paths  
               if path.count('DT') 
               or path.count('Fraud') 
               or path.count('D')
               or path.count('C1')
               or path.count('C13')
               or path.count('V221')
               or path.count('V285')
               or path.count('card')
               or path.count('addr')
               or path.count('Reg')
               or path.count('P_email')
               or path.count('M')
               or path.count('Product')
              ]

train_df = parallel_load_data(train_paths)
test_df = parallel_load_data(test_paths)

In [ ]:
START_DATE = '2017-11-04'
# START_DATE = '2017-12-01'
startdate = datetime.datetime.strptime(START_DATE, '%Y-%m-%d')
train_df['datetime'] = train_df['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x) - datetime.timedelta(seconds = 14400) ))
test_df['datetime'] = test_df['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x) - datetime.timedelta(seconds = 14400) ))
train_df['datetime'].fillna(datetime.date(2020, 1, 1), inplace=True)
test_df['datetime'].fillna(datetime.date(2020, 1, 1), inplace=True)
train_df['date'] = train_df['datetime'].map(lambda x: x.date())
test_df['date']  =  test_df['datetime'].map(lambda x: x.date())
train_df['hour'] = train_df['datetime'].map(lambda x: x.hour)
test_df['hour']  =  test_df['datetime'].map(lambda x: x.hour)

In [ ]:
list_regist = []
for d, diff in tqdm(train_df[['date', 'D1']].values):
    if diff < 999999:
        regist = date_add_days(d, -1*diff)
    else:
        regist = date_add_days(d, 0)
    list_regist.append(str(regist))

train_df['Regist_date'] = list_regist
    
list_regist = []
for d, diff in tqdm(test_df[['date', 'D1']].values):
    if diff < 999999:
        regist = date_add_days(d, -1*diff)
    else:
        regist = date_add_days(d, 0)
    list_regist.append(str(regist))

test_df['Regist_date'] = list_regist

In [ ]:
data = pd.concat([train_df, test_df], axis=0, ignore_index=True)

異なるuser keyで様々なユーザー特定パターン（正確でなくてもよい）を作り、それぞれのパターンで特徴を作る  
正確でなくてもよい理由としては、粒度を粗くしてもある条件を外した特徴量になるだけなので、問題ない

In [ ]:
user_info = [
    'ProductCD',
    'Regist_date'
]
list_card = [
    'card1',
    'card2',
    'card3',
    'card4',
    'card5',
    'card6',
]
list_addr = [
    'addr1',
    'addr2',
]
list_pemail = [
    'P_emaildomain'
]
list_M = [col for col in data.columns if col.startswith('M')]

user_keys__card = user_info + list_card

user_keys__card_addr = user_info + list_card + list_addr
user_keys__card_pemail = user_info + list_card + list_pemail
user_keys__card_M = user_info + list_card + list_M

user_keys__card_addr_pemail = user_info + list_card + list_addr + list_pemail
user_keys__card_addr_M = user_info + list_card + list_addr + list_M
user_keys__card_pemail_M = user_info + list_card + list_pemail + list_M

user_keys__card_addr_pemail_M = user_info + list_card + list_addr + list_pemail + list_M

list_user_keys = [
  ['user_keys__card',      user_keys__card,],
  ['user_keys__card_addr',      user_keys__card_addr,],
  ['user_keys__card_pemail',      user_keys__card_pemail,],
  ['user_keys__card_M',      user_keys__card_M,],
  ['user_keys__card_addr_M',      user_keys__card_addr_M,],
  ['user_keys__card_addr_pemail',      user_keys__card_addr_pemail,],
  ['user_keys__card_pemail_M',      user_keys__card_pemail_M,],
  ['user_keys__card_addr_pemail_M',      user_keys__card_addr_pemail_M,],
]
check_Ds = ['D1', 'D2', 'D3', 'D4', 'D5', 'datetime']

data['D1'].fillna(-1, inplace=True)
data[user_info + list_card] = data[user_info + list_card].astype('str').fillna('#')

user_keyで粗いグループを作ったら、そのグループの中で同じユーザーを探索し、条件が合えば仲間にしてさらにグループを作っていくイメージ

In [ ]:
user_keys = user_keys__card_addr_pemail

uid = 'user_id'
df = data.copy()

for col in user_keys:
    df[col].fillna('#', inplace=True)

df[user_keys] =  df[user_keys].astype('str')

user_df = df.groupby(user_keys)[COLUMN_ID].min()
user_df = user_df.to_frame(uid)
user_df = df.set_index(user_keys).join(user_df)

check_cols = [COLUMN_ID, uid, COLUMN_TARGET, 'datetime', 'Regist_date'] + ['D1', 'D3', 'C1', 'C13', 'V221', 'V285']
user_df = user_df.reset_index()[check_cols]

if uid not in user_df.columns:
    user_df.reset_index(inplace=True)
    
user_df['hour'] = user_df['datetime'].map(lambda x: x.hour)
user_df['D3'].fillna(-99999, inplace=True)
user_df['C1'].fillna(-99999, inplace=True)
user_df['C13'].fillna(-99999, inplace=True)
user_df['V221'].fillna(-99999, inplace=True)
user_df['V285'].fillna(-99999, inplace=True)


# user_df.sort_values(by=[uid, 'datetime'], inplace=True)

# user_df['diff_from_regist'] = user_df['datetime'] - user_df['Regist_date'].map(lambda x: datetime.datetime(int(x[:4]), int(x[5:7]), int(x[8:10]) ) )
# user_df['diff_from_regist'] = user_df['diff_from_regist'].map(lambda x: x.days)

# user_df['Regist_date_add_D1'] = user_df[['Regist_date', 'D1']].apply(lambda x: date_add_days(x[0], x[1]), axis=1)
# user_df['Regist_date_add_D1-D3'] = user_df[['Regist_date_add_D1', 'D3']].apply(lambda x: date_add_days(x[0], -1*x[1]), axis=1)
# user_df['Regist_date_add_D1-D3-1'] = user_df[['Regist_date_add_D1', 'D3']].apply(lambda x: date_add_days(x[0], -1*x[1]-1), axis=1)

# user_df['date__before1'] = user_df.groupby(uid)['date'].shift(1)
# user_df['date__before2'] = user_df.groupby(uid)['date'].shift(2)
# user_df['date__before3'] = user_df.groupby(uid)['date'].shift(3)
# user_df['D1__before1']   = user_df.groupby(uid)['D1'].shift(1)
# user_df['D1__before2']   = user_df.groupby(uid)['D1'].shift(2)

# user_df['diff_D1__before1'] = user_df[['D1', 'D1__before1']].apply(lambda x: x[0] - x[1] , axis=1)
# user_df['diff_D1__before2'] = user_df[['D1', 'D1__before2']].apply(lambda x: x[0] - x[1] , axis=1)
# user_df['diff_day__before1'] = user_df[['date', 'date__before1']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)
# user_df['diff_day__before2'] = user_df[['date', 'date__before2']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)
# user_df['diff_day__before3'] = user_df[['date', 'date__before3']].apply(lambda x: diff_of_days(x[0], x[1]) , axis=1)

# user_df.to_csv('../output/0901_ieee__user_df_card_addr_pemail__for_specific_same_user.csv', index=False)

In [155]:
col_no = 'no'
user_df['no'] = np.arange(user_df.shape[0])+1

tmp = user_df.groupby(uid)['C1'].count().to_frame('user_cnt')
df_multi_user = tmp[tmp['user_cnt']>1]
multi_user = df_multi_user.index.tolist()

list_eval_group = []
list_user_map = []

arg_list = get_parallel_arg_list(n_jobs=16, arg_list=multi_user)

In [156]:
def parallel_explore_same_user(group_no_list):
    
    list_user_map = []
    for group_no in group_no_list:

        group = user_df[user_df[uid]==group_no]
        group.sort_values(by='datetime', inplace=True)
        users = group[col_no].unique().tolist()
        user_map = {}
        
        while True:
            
            remain_user = list( set(users) - set(list(user_map.keys())) )
            
            base_user = remain_user[0]
            user_map[base_user] = base_user
            list_same_user = []
            
            base = group[group[col_no]==base_user]
            base_dt = base['datetime'].values[0]
            base_d1 = base['D1'].values[0]
            base_d3 = base['D3'].values[0]
            base_c1 = base['C1'].values[0]
            base_c13 = base['C13'].values[0]
            base_v221 = base['V221'].values[0]
            base_v285 = base['V285'].values[0]
            base_hour = base['hour'].values[0]
            base_fraud = base[COLUMN_TARGET].values[0]
            
            for i in range(1, len(remain_user), 1):
            
                tmp_user = remain_user[i]
                
                tmp = group[group[col_no]==tmp_user]
                tmp_dt = tmp['datetime'].values[0]
                tmp_d1 = tmp['D1'].values[0]
                tmp_d3 = tmp['D3'].values[0]
                tmp_c1 = tmp['C1'].values[0]
                tmp_c13 = tmp['C13'].values[0]
                tmp_v221 = tmp['V221'].values[0]
                tmp_v285 = tmp['V285'].values[0]
                tmp_hour = tmp['hour'].values[0]
                tmp_fraud = tmp[COLUMN_TARGET].values[0]
                
                diff_d1   = tmp_d1 - base_d1
                diff_c1   = abs(tmp_c1 - base_c1)
                minus_c1   = tmp_c1 < base_c1
                if minus_c1:
                    thres_c1 = 1
                    thres_c1_2 = 1
                else:
                    thres_c1 = 2
                    thres_c1_2 = 4
                
                diff_c13  = abs(tmp_c13 - base_c13)
                diff_v221 = abs(tmp_v221 - base_v221)
                diff_v285 = abs(tmp_v285 - base_v285)
                
                ratio_c1   = abs(tmp_c1  / base_c1)
                ratio_c13  = abs(tmp_c13 / base_c13)
                
    #             if base_user==58:
    #                 print("="*12)
    #                 print(f"base {base_user} {base_dt}  ->  D1:{base_d1} D3:{base_d3} C1:{base_c1} C13:{base_c13} V221:{base_v221} V285:{base_v285}")
    #                 print(f"tmp  {tmp_user} {tmp_dt}  ->  D1:{tmp_d1} D3:{tmp_d3} C1:{tmp_c1} C13:{tmp_c13} V221:{tmp_v221} V285:{tmp_v285}")
    #                 print(f"diff_D1 {diff_d1} diffD1-D3: {diff_d1-tmp_d3} diff_C1:{diff_c1} diff_C13:{diff_c13} diff_V221:{diff_v221} diff_V285:{diff_v285}")
    #                 print("="*12)
                
                # D3がNullの場合
                if base_d3==-99999 or tmp_d3==-99999:
                    # TODO
                    # ここでFraud条件を入れると、train-test間を同じユーザーにまとめることはできなくなる
                    # 両パターンを作成し、Fraud含めないパターンでまたいたユーザーが本当にまたいでるかチェックしたい
                    if base_fraud==tmp_fraud and diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=2 and diff_v285<=2:
                        pass
                    elif base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.1) and (0.9<=ratio_c13 or ratio_c13<=1.1) and diff_v221<=2 and diff_v285<=2:
                        pass
                    elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.1) and (0.9<=ratio_c13 or ratio_c13<=1.1) and diff_v221>90000 and diff_v285>90000:
                        pass
                    elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.1) and (0.9<=ratio_c13 or ratio_c13<=1.1) and diff_v221>90000 and diff_v285<=2:
                        pass
                    elif base_fraud==tmp_fraud and base_c1>=20 and tmp_c1>=20 and (0.9<=ratio_c1 and ratio_c1<=1.1) and (0.9<=ratio_c13 or ratio_c13<=1.1) and diff_v221<=2 and diff_v285>90000:
                        pass
                    else:
                        continue
                    
                # D3がNullsでない場合
                # D3の差分が時差を考慮してもおかしい場合は別ユーザーにする（時差が1~2時間以上だと強制的にはじいてしまうが）
                elif (diff_d1 == tmp_d3) or abs(diff_d1 - tmp_d3)==1 and (tmp_hour>=23 or tmp_hour<=1):
                    pass
                else:
                    # 別ユーザーとみなす
                    continue
                    
                    
                # D3がNullsでない場合
                if base_d3!=-99999 and tmp_d3!=-99999:
                    # 別ユーザーとみなす
                    if diff_c1<-10 or diff_c1>1000:
                        continue
                    if diff_c13<-10 or diff_c13>1000:
                        continue
                        
                    # V221, 285の変化量が1トランザクションで10以上はないという想定
                    if (10<= diff_v221) and (diff_v221<=50):
                        continue
                    if (10<= diff_v285) and (diff_v285<=30):
                        continue
                    
                    if diff_c1<=thres_c1_2 and diff_c13<=thres_c1_2 and diff_v221<=2 and diff_v285<=2 and diff_d1>0:
                        pass
                    elif diff_c1<=thres_c1 and diff_c13<=thres_c1 and diff_v221<=1 and diff_v285<=1 and diff_d1==0:
                        pass
                    elif base_c1>=20 and tmp_c1>=20 and (0.8<=ratio_c1 and ratio_c1<=1.6) and (0.8<=ratio_c13 or ratio_c13<=1.6) and diff_d1!=0:
                        pass
                    else:
                        # 別ユーザーとみなす
                        continue
                    
                user_map[tmp_user] = base_user
                
            if len(user_map.keys()) == len(users):
                break
                
        tmp_user = pd.Series(user_map).to_frame('same_user')
        tmp_user['group_no'] = same_group
        list_user_map.append(tmp_user)
    return tmp_user

In [ ]:
list_p = Parallel(16)([delayed(parallel_explore_same_user)(group_no_list) for group_no_list in arg_list])

In [125]:
tmp = user_df.set_index('no').join( pd.concat(list_user_map), how='inner')
tmp[tmp['group_no']>=10].sort_values(by='same_user')

,TransactionID,user_id,isFraud,datetime,Regist_date,D1,D3,C1,C13,V221,V285,hour,same_user,group_no
27,3017689,3017689,1.0,2017-11-12 16:57:08,2016-07-01,499.0,-99999.0,4.0,0.0,1.0,-99999.0,16,27,10
28,3028580,3017689,1.0,2017-11-15 14:45:13,2016-07-01,502.0,-99999.0,4.0,0.0,1.0,0.0,14,28,10
29,3028585,3017689,1.0,2017-11-15 14:46:20,2016-07-01,502.0,-99999.0,4.0,0.0,1.0,0.0,14,28,10
30,3028936,3017689,1.0,2017-11-15 15:48:23,2016-07-01,502.0,-99999.0,5.0,1.0,1.0,0.0,15,28,10
31,3028956,3017689,1.0,2017-11-15 15:52:08,2016-07-01,502.0,-99999.0,5.0,1.0,1.0,0.0,15,28,10
32,3038102,3017689,0.0,2017-11-17 18:13:53,2016-07-01,504.0,-99999.0,3306.0,2067.0,-99999.0,0.0,18,32,10
33,3106587,3017689,0.0,2017-11-30 19:19:31,2016-07-01,517.0,-99999.0,41.0,6.0,-99999.0,0.0,19,33,10
55,3371836,3017689,0.0,2018-02-23 13:22:19,2016-07-01,602.0,-99999.0,1.0,1.0,-99999.0,0.0,13,34,10
54,3369423,3017689,0.0,2018-02-22 16:36:32,2016-07-01,601.0,-99999.0,0.0,0.0,-99999.0,0.0,16,34,10
51,3345228,3017689,0.0,2018-02-14 14:48:13,2016-07-01,593.0,-99999.0,0.0,0.0,-99999.0,0.0,14,34,10
50,3309331,3017689,0.0,2018-02-04 12:51:34,2016-07-01,583.0,-99999.0,2.0,1.0,-99999.0,0.0,12,34,10
48,3280947,3017689,0.0,2018-01-26 18:50:47,2016-07-01,574.0,-99999.0,1.0,1.0,-99999.0,0.0,18,34,10
46,3266507,3017689,0.0,2018-01-21 15:25:28,2016-07-01,569.0,-99999.0,0.0,0.0,-99999.0,0.0,15,34,10
60,3454662,3017689,0.0,2018-03-23 10:19:43,2016-07-01,630.0,-99999.0,1.0,1.0,-99999.0,0.0,10,34,10
34,3143857,3017689,0.0,2017-12-11 15:42:24,2016-07-01,528.0,-99999.0,0.0,0.0,-99999.0,0.0,15,34,10
38,3157487,3017689,0.0,2017-12-16 12:19:10,2016-07-01,533.0,-99999.0,1.0,1.0,-99999.0,0.0,12,34,10
35,3146147,3017689,0.0,2017-12-12 14:05:17,2016-07-01,529.0,-99999.0,14.0,2.0,-99999.0,0.0,14,35,10
36,3155948,3017689,0.0,2017-12-15 18:24:01,2016-07-01,532.0,-99999.0,16.0,2.0,-99999.0,0.0,18,35,10
49,3298418,3017689,0.0,2018-02-01 14:23:37,2016-07-01,580.0,-99999.0,16.0,2.0,-99999.0,0.0,14,35,10
37,3156056,3017689,1.0,2017-12-15 19:04:33,2016-07-01,532.0,-99999.0,0.0,0.0,-99999.0,0.0,19,37,10
40,3157932,3017689,1.0,2017-12-16 14:35:16,2016-07-01,533.0,-99999.0,0.0,0.0,-99999.0,0.0,14,37,10
39,3157637,3017689,1.0,2017-12-16 13:10:19,2016-07-01,533.0,-99999.0,0.0,0.0,-99999.0,0.0,13,37,10
41,3161145,3017689,0.0,2017-12-17 14:12:08,2016-07-01,534.0,-99999.0,1.0,6.0,-99999.0,0.0,14,41,10
42,3181627,3017689,0.0,2017-12-24 14:11:39,2016-07-01,541.0,-99999.0,2.0,6.0,-99999.0,0.0,14,41,10
53,3368854,3017689,0.0,2018-02-22 13:35:43,2016-07-01,601.0,-99999.0,4.0,2.0,-99999.0,0.0,13,43,10
43,3210485,3017689,0.0,2018-01-03 18:49:54,2016-07-01,551.0,-99999.0,3.0,1.0,-99999.0,0.0,18,43,10
45,3260233,3017689,0.0,2018-01-19 14:58:16,2016-07-01,567.0,-99999.0,225.0,12.0,-99999.0,0.0,14,44,10
44,3260181,3017689,0.0,2018-01-19 14:44:31,2016-07-01,567.0,-99999.0,225.0,12.0,-99999.0,0.0,14,44,10
62,3461881,3017689,0.0,2018-03-25 19:25:15,2016-07-01,632.0,-99999.0,6.0,3.0,-99999.0,0.0,19,47,10
47,3274936,3017689,0.0,2018-01-24 18:16:50,2016-07-01,572.0,-99999.0,6.0,3.0,-99999.0,0.0,18,47,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,3141151,2989635,0.0,2017-12-10 17:35:39,2016-07-01,527.0,-99999.0,1.0,1.0,-99999.0,0.0,17,144,13
163,3239160,2989635,0.0,2018-01-12 13:56:36,2016-07-01,560.0,-99999.0,1.0,1.0,-99999.0,0.0,13,144,13
164,3239177,2989635,0.0,2018-01-12 14:01:52,2016-07-01,560.0,-99999.0,1.0,1.0,-99999.0,0.0,14,144,13
162,3239150,2989635,0.0,2018-01-12 13:54:07,2016-07-01,560.0,-99999.0,1.0,1.0,-99999.0,0.0,13,144,13
160,3199150,2989635,0.0,2017-12-30 18:38:55,2016-07-01,547.0,-99999.0,1.0,0.0,-99999.0,0.0,18,144,13
151,3142664,2989635,1.0,2017-12-11 03:09:22,2016-07-01,528.0,-99999.0,38.0,148.0,0.0,0.0,3,151,13
155,3192678,2989635,0.0,2017-12-28 14:06:50,2016-07-01,545.0,-99999.0,6.0,3.0,6.0,0.0,14,155,13
161,3204434,2989635,0.0,2018-01-01 14:59:40,2016-07-01,549.0,-99999.0,6.0,3.0,-99999.0,0.0,14,161,13
156,3195351,2989635,0.0,2017-12-29 13:20:42,2016-07-01,546.0,-99999.0,6.0,3.0,-99999.0,0.0,13,161,13
185,3327165,2989635,0.0,2018-02-08 17:57:45,2016-07-01,587.0,-99999.0,40.0,130.0,-99999.0,0.0,17,185,13
186,3327167,2989635,0.0,2018-02-08 17:58:23,2016-07-01,587.0,-99999.0,40.0,130.0,-99999.0,0.0,17,185,13
189,3357966,2989635,0.0,2018-02-18 16:08:15,2016-07-01,597.0,-99999.0,66.0,59.0,-99999.0,0.0,16,189,13
194,3417043,2989635,0.0,2018-03-09 15:15:50,2016-07-01,616.0,-99999.0,101.0,182.0,-99999.0,0.0,15,194,13
198,3452588,2989635,0.0,2018-03-22 14:12:09,2016-07-01,629.0,-99999.0,106.0,184.0,-99999.0,0.0,14,194,13
170,3244987,2989635,0.0,2018-01-14 12:59:13,2016-07-01,562.0,-99999.0,2.0,3.0,-99999.0,0.0,12,199,13
152,3178172,2989635,0.0,2017-12-23 13:05:59,2016-07-01,540.0,-99999.0,1.0,3.0,-99999.0,0.0,13,199,13
153,3178189,2989635,0.0,2017-12-23 13:12:15,2016-07-01,540.0,-99999.0,1.0,3.0,-99999.0,0.0,13,199,13
200,3455712,2989635,0.0,2018-03-23 16:19:07,2016-07-01,630.0,-99999.0,1.0,5.0,-99999.0,0.0,16,199,13
199,3455093,2989635,0.0,2018-03-23 12:50:15,2016-07-01,630.0,-99999.0,1.0,5.0,-99999.0,0.0,12,199,13
201,3460400,2989635,0.0,2018-03-25 12:08:58,2016-07-01,632.0,-99999.0,4.0,1.0,-99999.0,0.0,12,201,13
187,3354389,2989635,0.0,2018-02-17 13:49:35,2016-07-01,596.0,-99999.0,3.0,1.0,-99999.0,0.0,13,201,13
180,3295222,2989635,0.0,2018-01-31 14:19:49,2016-07-01,579.0,-99999.0,3.0,1.0,-99999.0,0.0,14,201,13
181,3295386,2989635,0.0,2018-01-31 15:03:11,2016-07-01,579.0,-99999.0,3.0,1.0,-99999.0,0.0,15,201,13
159,3198802,2989635,0.0,2017-12-30 16:51:09,2016-07-01,547.0,-99999.0,3.0,1.0,-99999.0,0.0,16,201,13
204,3046537,3046537,0.0,2017-11-19 15:29:44,2016-07-01,506.0,-99999.0,2.0,3.0,-99999.0,0.0,15,204,16
205,3386552,3046537,0.0,2018-02-28 13:14:44,2016-07-01,607.0,-99999.0,1.0,1.0,-99999.0,0.0,13,205,16
206,3216334,3216334,1.0,2018-01-05 17:21:02,2016-07-01,553.0,-99999.0,41.0,150.0,-99999.0,0.0,17,206,17
207,3216348,3216334,1.0,2018-01-05 17:25:13,2016-07-01,553.0,-99999.0,41.0,150.0,-99999.0,0.0,17,206,17
210,3119849,3119849,0.0,2017-12-04 13:53:03,2016-07-01,521.0,-99999.0,4.0,1.0,-99999.0,0.0,13,210,20
211,3119853,3119849,0.0,2017-12-04 13:53:43,2016-07-01,521.0,-99999.0,4.0,1.0,-99999.0,0.0,13,210,20

In [ ]:
# ユーザーIDの作成
cnt = 0
p_cnt = 0
list_user = []
for user, d3, b1, b2, b3, D1_b1, D1_b2 in user_df[[
    uid,
    'D3',
    'diff_day__before1',
    'diff_day__before2',
    'diff_day__before3',
    'diff_D1__before1',
    'diff_D1__before2'
]].values:
    p_cnt+=1
#         if d3==b3 or d3==b3-1:
    if d3==b3:
        current_user = b3_user
#         elif d3==b2 or d3==b2-1:
    elif d3==b2:
        current_user = b2_user
#         elif d3==b1 or d3==b1-1:
    elif d3==b1:
        current_user = b1_user
#         elif D1_b1 == b1 and D1_b1 != 0:
#             current_user = b1_user
#         elif D1_b2 == b2 and D1_b2 != 0:
#             current_user = b2_user
    else:
        cnt += 1
    current_user = cnt

    if p_cnt>=3:
        b3_user = b2_user
    if p_cnt>=2:
        b2_user = b1_user
    b1_user = cnt
    list_user.append(current_user)

user_df[col_same_user] = list_user
print(f"Extract Same User ID.", user_df.shape)
user_df = user_df[[COLUMN_ID, col_same_user, uid]]

In [ ]:
for pattern, user_keys in tqdm(list_user_keys):
    df_new_user = create_new_user_id(data)
    df_new_user.to_csv(f'../output/0830_ieee__same_user__pattern-{pattern}.csv', index=False)