In [5]:
%load_ext autoreload
%autoreload 2
from glob import glob
import gc
import os
import sys
import datetime
import numpy as np
import pandas as pd
from tqdm import tqdm
from func.utils import get_numeric_features, get_categorical_features, read_pkl_gzip, to_pkl_gzip, parallel_load_data, get_filename
from func.time_utils import date_add_days
from func.ml_utils import save_feature, get_cnt_feature, get_dummie_feature, get_label_feature
from func.parallel_utils import get_parallel_arg_list
from kaggle_utils import move_feature
from joblib import delayed, Parallel

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
COLUMN_ID = 'TransactionID'
COLUMN_DT = 'TransactionDT'
COLUMN_TARGET = 'isFraud'
COLUMNS_IGNORE = [COLUMN_ID, COLUMN_DT, COLUMN_TARGET, 'ProductCD']

train_paths = glob('../feature/eda_base/*_train.gz')
test_paths = glob('../feature/eda_base/*_test.gz')
train_paths += glob('../feature/tmp/*_train.gz')
test_paths  += glob('../feature/tmp/*_test.gz')

train_paths = [path for path in train_paths 
               if (path.count(COLUMN_DT) 
               or path.count(COLUMN_ID)
               or path.count(COLUMN_TARGET)
               or path.count('V')
               or path.count('TransactionAmt')
               or path.count('Product')
               )
               and not path.count('fill')
               and not path.count('bin')
               and not path.count('129')
              ]
test_paths = [path for path in test_paths 
               if (path.count(COLUMN_DT) 
               or path.count(COLUMN_ID)
               or path.count(COLUMN_TARGET)
               or path.count('V')
               or path.count('TransactionAmt')
               or path.count('Product')
               )
               and not path.count('fill')
               and not path.count('bin')
               and not path.count('129')
              ]

df_train = parallel_load_data(train_paths)
df_test = parallel_load_data(test_paths)
data = pd.concat([df_train, df_test], axis=0, ignore_index=True)
train_length = df_train.shape[0]

In [3]:
cols_V2_11 = [f'V{no}' for no in np.arange(2, 12, 1)]
cols_V12_34 = [f'V{no}' for no in np.arange(12, 35, 1)]
cols_V35_52 = [f'V{no}' for no in np.arange(35, 53, 1)]
cols_V53_74 = [f'V{no}' for no in np.arange(53, 75, 1)]
cols_V75_94 = [f'V{no}' for no in np.arange(75, 95, 1)]
cols_V95_137 = [f'V{no}' for no in np.arange(95, 138, 1)]
cols_V138_166 = [f'V{no}' for no in np.arange(138, 167, 1)]
cols_V167_216 = [f'V{no}' for no in np.arange(167, 217, 1)]
cols_V217_278 = [f'V{no}' for no in np.arange(217, 279, 1)]
cols_V279_321 = [f'V{no}' for no in np.arange(279, 322, 1)]
cols_V322_339 = [f'V{no}' for no in np.arange(322, 340, 1)]

In [14]:
#========================================================================
# V2~V11
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

data['V2_11_mean'] = data[cols_V2_11].mean(axis=1)
data['V2_11_sum'] = data[cols_V2_11].sum(axis=1)
data['V2_11_std'] = data[cols_V2_11].std(axis=1)
data['V2_11_max'] = data[cols_V2_11].max(axis=1)
data['V2_11_pro'] = data[cols_V2_11].product(axis=1)

data['V3_4_5_9_11_mean'] = data[['V3', 'V4', 'V5', 'V9', 'V11']].mean(axis=1)
data['V3_4_5_9_11_sum']  = data[['V3', 'V4', 'V5', 'V9', 'V11']].sum(axis=1)
data['V3_4_5_9_11_std']  = data[['V3', 'V4', 'V5', 'V9', 'V11']].std(axis=1)
data['V3_4_5_9_11_max']  = data[['V3', 'V4', 'V5', 'V9', 'V11']].max(axis=1)
data['V3_4_5_9_11_pro']  = data[['V3', 'V4', 'V5', 'V9', 'V11']].product(axis=1)

cols_save = ['V2_11_mean'] + ['V2_11_sum']  + ['V2_11_std']  + ['V2_11_max']  + ['V2_11_pro'] +\
['V3_4_5_9_11_mean'] + ['V3_4_5_9_11_sum']  + ['V3_4_5_9_11_std']  + ['V3_4_5_9_11_max']  + ['V3_4_5_9_11_pro']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'create'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V2_11_mean
(590540,) | V2_11_sum
(590540,) | V2_11_std
(590540,) | V2_11_max
(590540,) | V2_11_pro
(590540,) | V3_4_5_9_11_mean
(590540,) | V3_4_5_9_11_sum
(590540,) | V3_4_5_9_11_std
(590540,) | V3_4_5_9_11_max
(590540,) | V3_4_5_9_11_pro
(506691,) | V2_11_mean
(506691,) | V2_11_sum
(506691,) | V2_11_std
(506691,) | V2_11_max
(506691,) | V2_11_pro
(506691,) | V3_4_5_9_11_mean
(506691,) | V3_4_5_9_11_sum
(506691,) | V3_4_5_9_11_std
(506691,) | V3_4_5_9_11_max
(506691,) | V3_4_5_9_11_pro

In [16]:
#========================================================================
# V12~V34
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V14' in cols_V12_34:
    cols_V12_34.remove('V14')
if 'V27' in cols_V12_34:
    cols_V12_34.remove('V27')
if 'V28' in cols_V12_34:
    cols_V12_34.remove('V28')
if 'V29' in cols_V12_34:
    cols_V12_34.remove('V29')
if 'V30' in cols_V12_34:
    cols_V12_34.remove('V30')

data['V12_34_mean'] = data[cols_V12_34].mean(axis=1)
data['V12_34_sum']  = data[cols_V12_34].sum(axis=1)
data['V12_34_std']  = data[cols_V12_34].std(axis=1)
data['V12_34_max']  = data[cols_V12_34].max(axis=1)
data['V12_34_pro']  = data[cols_V12_34].product(axis=1)

cols_save =  ['V12_34_mean'] + ['V12_34_sum'] + ['V12_34_std'] + ['V12_34_max'] + ['V12_34_pro']  

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'create'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V12_34_mean
(590540,) | V12_34_sum
(590540,) | V12_34_std
(590540,) | V12_34_max
(590540,) | V12_34_pro
(506691,) | V12_34_mean
(506691,) | V12_34_sum
(506691,) | V12_34_std
(506691,) | V12_34_max
(506691,) | V12_34_pro

In [20]:
#========================================================================
# V35~52
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V41' in cols_V35_52:
    cols_V35_52.remove('V41')
    
cols_other = [f'V{no}' for no in [35, 48, 49, 50]]

print(len(cols_V35_52))
cols_V35_52 = list(set(cols_V35_52) - set(cols_other))
print(len(cols_V35_52))

data['V35_52_mean'] = data[cols_V35_52].mean(axis=1)
data['V35_52_sum']  = data[cols_V35_52].sum(axis=1)
data['V35_52_std']  = data[cols_V35_52].std(axis=1)
data['V35_52_max']  = data[cols_V35_52].max(axis=1)
data['V35_52_pro']  = data[cols_V35_52].product(axis=1)

data['V35_52_other_sum']  = data[cols_other].sum(axis=1)
data['V35_52_other_max']  = data[cols_other].max(axis=1)

cols_save =  ['V35_52_mean'] + ['V35_52_sum'] + ['V35_52_std'] + ['V35_52_max'] + ['V35_52_pro']  \
+ ['V35_52_other_mean'] + ['V35_52_other_sum'] + ['V35_52_other_std'] + ['V35_52_other_max'] + ['V35_52_other_pro']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'create'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V35_52_mean
(590540,) | V35_52_sum
(590540,) | V35_52_std
(590540,) | V35_52_max
(590540,) | V35_52_pro
(590540,) | V35_52_other_mean
(590540,) | V35_52_other_sum
(590540,) | V35_52_other_std
(590540,) | V35_52_other_max
(590540,) | V35_52_other_pro
(506691,) | V35_52_mean
(506691,) | V35_52_sum
(506691,) | V35_52_std
(506691,) | V35_52_max
(506691,) | V35_52_pro
(506691,) | V35_52_other_mean
(506691,) | V35_52_other_sum
(506691,) | V35_52_other_std
(506691,) | V35_52_other_max
(506691,) | V35_52_other_pro

In [23]:
#========================================================================
# V53_74
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V65' in cols_V53_74:
    cols_V53_74.remove('V65')
    
cols_other = [f'V{no}' for no in [68, 69, 70]]

print(len(cols_V53_74))
cols_V53_74 = list(set(cols_V53_74) - set(cols_other))
print(len(cols_V53_74))

data['V53_74_mean'] = data[cols_V53_74].mean(axis=1)
data['V53_74_sum']  = data[cols_V53_74].sum(axis=1)
data['V53_74_std']  = data[cols_V53_74].std(axis=1)
data['V53_74_max']  = data[cols_V53_74].max(axis=1)
data['V53_74_pro']  = data[cols_V53_74].product(axis=1)

data['V53_74_other_sum']  = data[cols_other].sum(axis=1)
data['V53_74_other_max']  = data[cols_other].max(axis=1)

cols_save =  ['V53_74_mean'] + ['V53_74_sum'] + ['V53_74_std'] + ['V53_74_max'] + ['V53_74_pro']  \
+ ['V53_74_other_mean'] + ['V53_74_other_sum'] + ['V53_74_other_std'] + ['V53_74_other_max'] + ['V53_74_other_pro']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V53_74_mean
(590540,) | V53_74_sum
(590540,) | V53_74_std
(590540,) | V53_74_max
(590540,) | V53_74_pro
(590540,) | V53_74_other_mean
(590540,) | V53_74_other_sum
(590540,) | V53_74_other_std
(590540,) | V53_74_other_max
(590540,) | V53_74_other_pro
(506691,) | V53_74_mean
(506691,) | V53_74_sum
(506691,) | V53_74_std
(506691,) | V53_74_max
(506691,) | V53_74_pro
(506691,) | V53_74_other_mean
(506691,) | V53_74_other_sum
(506691,) | V53_74_other_std
(506691,) | V53_74_other_max
(506691,) | V53_74_other_pro

In [26]:
#========================================================================
# V75_94
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V88' in cols_V75_94:
    cols_V75_94.remove('V88')
if 'V89' in cols_V75_94:
    cols_V75_94.remove('V89')
    
cols_other = [f'V{no}' for no in [75, 90, 91, 94, 100, 104, 105, 106]]

print(len(cols_V75_94))
cols_V75_94 = list(set(cols_V75_94) - set(cols_other))
print(len(cols_V75_94))

data['V75_94_mean'] = data[cols_V75_94].mean(axis=1)
data['V75_94_sum']  = data[cols_V75_94].sum(axis=1)
data['V75_94_std']  = data[cols_V75_94].std(axis=1)
data['V75_94_max']  = data[cols_V75_94].max(axis=1)
data['V75_94_pro']  = data[cols_V75_94].product(axis=1)

data['V75_94_other_sum']  = data[cols_other].sum(axis=1)
data['V75_94_other_max']  = data[cols_other].max(axis=1)

cols_save =  ['V75_94_mean'] + ['V75_94_sum'] + ['V75_94_std'] + ['V75_94_max'] + ['V75_94_pro']  \
 + ['V75_94_other_sum'] + ['V75_94_other_max']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V75_94_mean
(590540,) | V75_94_sum
(590540,) | V75_94_std
(590540,) | V75_94_max
(590540,) | V75_94_pro
(590540,) | V75_94_other_sum
(590540,) | V75_94_other_max
(506691,) | V75_94_mean
(506691,) | V75_94_sum
(506691,) | V75_94_std
(506691,) | V75_94_max
(506691,) | V75_94_pro
(506691,) | V75_94_other_sum
(506691,) | V75_94_other_max

In [36]:
#========================================================================
# V95_137
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V107' in cols_V95_137:
    cols_V95_137.remove('V107')
cols_V95_137 = list(set(cols_V95_137) - set([f'V{no}' for no in range(130, 138, 1)]))
    
cols_other = [f'V{no}' for no in [96, 98, 99, 100, 104, 105, 106 , 120, 121, 122, 126, 127, 128]]
cols_other_2 = [f'V{no}' for no in [117, 118, 119]]

print(len(cols_V95_137))
cols_V95_137 = sorted(list(set(cols_V95_137) - set(cols_other) -set(cols_other_2)))
print(len(cols_V95_137))

data['V95_137_mean'] = data[cols_V95_137].mean(axis=1)
data['V95_137_sum']  = data[cols_V95_137].sum(axis=1)
data['V95_137_std']  = data[cols_V95_137].std(axis=1)
data['V95_137_max']  = data[cols_V95_137].max(axis=1)
data['V95_137_pro']  = data[cols_V95_137].product(axis=1)

data['V117~119_other_sum']  = data[cols_other_2].sum(axis=1)
data['V117~119_other_max']  = data[cols_other_2].max(axis=1)

cols_save =  ['V95_137_mean'] + ['V95_137_sum'] + ['V95_137_std'] + ['V95_137_max'] + ['V95_137_pro']  \
+ ['V117~119_other_sum'] + ['V117~119_other_max']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

20
17
(590540,) | V95_137_mean
(590540,) | V95_137_sum
(590540,) | V95_137_std
(590540,) | V95_137_max
(590540,) | V95_137_pro
(590540,) | V117~119_other_sum
(590540,) | V117~119_other_max
(506691,) | V95_137_mean
(506691,) | V95_137_sum
(506691,) | V95_137_std
(506691,) | V95_137_max
(506691,) | V95_137_pro
(506691,) | V117~119_other_sum
(506691,) | V117~119_other_max

In [39]:
#========================================================================
# V138_166
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

if 'V107' in cols_V138_166:
    cols_V138_166.remove('V107')
cols_V138_166 = list(set(cols_V138_166) - set([f'V{no}' for no in range(130, 138, 1)]))
    
cols_other = [f'V{no}' for no in range(153, 159, 1)]
no_use_cols = [f'V{no}' for no in range(159, 167, 1)]

print(len(cols_V138_166))
cols_V138_166 = sorted(list(set(cols_V138_166) - set(cols_other) -set(no_use_cols)))
print(len(cols_V138_166))

data['V138_166_mean'] = data[cols_V138_166].mean(axis=1)
data['V138_166_sum']  = data[cols_V138_166].sum(axis=1)
data['V138_166_std']  = data[cols_V138_166].std(axis=1)
data['V138_166_max']  = data[cols_V138_166].max(axis=1)
data['V138_166_pro']  = data[cols_V138_166].product(axis=1)

data['V153~159_sum']  = data[cols_other].sum(axis=1)
data['V153~159_max']  = data[cols_other].max(axis=1)

cols_save =  ['V138_166_mean'] + ['V138_166_sum'] + ['V138_166_std'] + ['V138_166_max'] + ['V138_166_pro']  \
+ ['V153~159_sum'] + ['V153~159_max']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(590540,) | V138_166_mean
(590540,) | V138_166_sum
(590540,) | V138_166_std
(590540,) | V138_166_max
(590540,) | V138_166_pro
(590540,) | V153~159_sum
(590540,) | V153~159_max
(506691,) | V138_166_mean
(506691,) | V138_166_sum
(506691,) | V138_166_std
(506691,) | V138_166_max
(506691,) | V138_166_pro
(506691,) | V153~159_sum
(506691,) | V153~159_max

In [41]:
#========================================================================
# V167_216
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

cols_V167_216 = list(set(cols_V167_216) - set([f'V{no}' for no in range(130, 138, 1)]))
    
cols_other = [f'V{no}' for no in range(186, 202, 1)]
no_use_cols = [f'V{no}' for no in [169, 172, 173, 174, 175] + list(range(202, 217, 1))]

print(len(cols_V167_216))
cols_V167_216 = sorted(list(set(cols_V167_216) - set(cols_other) -set(no_use_cols)))
print(len(cols_V167_216))

data['V167_216_mean'] = data[cols_V167_216].mean(axis=1)
data['V167_216_sum']  = data[cols_V167_216].sum(axis=1)
data['V167_216_std']  = data[cols_V167_216].std(axis=1)
data['V167_216_max']  = data[cols_V167_216].max(axis=1)
data['V167_216_pro']  = data[cols_V167_216].product(axis=1)

data['V186~201_sum']  = data[cols_other].sum(axis=1)
data['V186~201_max']  = data[cols_other].max(axis=1)

cols_save =  ['V167_216_mean'] + ['V167_216_sum'] + ['V167_216_std'] + ['V167_216_max'] + ['V167_216_pro']  \
+ ['V186~201_sum'] + ['V186~201_max']

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

50
14
(590540,) | V167_216_mean
(590540,) | V167_216_sum
(590540,) | V167_216_std
(590540,) | V167_216_max
(590540,) | V167_216_pro
(590540,) | V186~201_sum
(590540,) | V186~201_max
(506691,) | V167_216_mean
(506691,) | V167_216_sum
(506691,) | V167_216_std
(506691,) | V167_216_max
(506691,) | V167_216_pro
(506691,) | V186~201_sum
(506691,) | V186~201_max

In [4]:
#========================================================================
# V216_278
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

cols_V216_278 = list(set(cols_V216_278) - set([f'V{no}' for no in range(130, 138, 1)]))
    
cols_V226_230 = [f'V{no}' for no in [220, 226, 227, 228, 229, 230]]
cols_V242_263 = [f'V{no}' for no in list(range(242, 250, 1)) + list(range(252, 255, 1)) + list(range(257, 263, 1))]
cols_V250_1_255_6 = [f'V{no}' for no in [250,251,255,256]]
no_use_cols = [f'V{no}' for no in [223, 224, 225, 240, 241, 250, 251, 255, 256] + list(range(263, 279, 1))]

print(len(cols_V216_278))
cols_V217_219_231_239 = sorted(list(set(cols_V216_278) 
                                    - set(cols_V226_230) - set(cols_V242_263) -set(no_use_cols)))
print(len(cols_V217_219_231_239))

data['V226_230_mean'] = data[cols_V226_230].mean(axis=1)
data['V226_230_sum']  = data[cols_V226_230].sum(axis=1)
data['V226_230_std']  = data[cols_V226_230].std(axis=1)
data['V226_230_max']  = data[cols_V226_230].max(axis=1)
data['V226_230_pro']  = data[cols_V226_230].product(axis=1)

data['V242_263_mean'] = data[cols_V242_263].mean(axis=1)
data['V242_263_sum']  = data[cols_V242_263].sum(axis=1)
data['V242_263_std']  = data[cols_V242_263].std(axis=1)
data['V242_263_max']  = data[cols_V242_263].max(axis=1)
data['V242_263_pro']  = data[cols_V242_263].product(axis=1)

data['V250_1_255_6_mean'] = data[cols_V250_1_255_6].mean(axis=1)
data['V250_1_255_6_sum']  = data[cols_V250_1_255_6].sum(axis=1)
data['V250_1_255_6_std']  = data[cols_V250_1_255_6].std(axis=1)
data['V250_1_255_6_max']  = data[cols_V250_1_255_6].max(axis=1)
data['V250_1_255_6_pro']  = data[cols_V250_1_255_6].product(axis=1)

data['V217_219_231_239_mean'] = data[cols_V217_219_231_239].mean(axis=1)
data['V217_219_231_239_sum']  = data[cols_V217_219_231_239].sum(axis=1)
data['V217_219_231_239_std']  = data[cols_V217_219_231_239].std(axis=1)
data['V217_219_231_239_max']  = data[cols_V217_219_231_239].max(axis=1)
data['V217_219_231_239_pro']  = data[cols_V217_219_231_239].product(axis=1)

cols_save =  [col for col in data.columns if col.count('V217_219')
              or col.count('V242_263') or col.count('V226_230') or col.count('V250_1_')]

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]
data.drop(cols_save, axis=1, inplace=True)

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

SystemExit:

In [10]:
#========================================================================
# V263~278
#========================================================================
if 0:
    pd.set_option('max_columns', 200)
    pd.set_option('max_rows', 500)
    tmp = data[~data[cols_V263_279[0]].isnull()]
    display(tmp[['TransactionAmt'] + cols_V263_279])
    sys.exit()

col_amt = 'TransactionAmt'

cols_V263_265 = [f'V{no}' for no in range(263, 266, 1)]
cols_V266_268 = [f'V{no}' for no in range(266, 269, 1)]
cols_V270_272 = [f'V{no}' for no in range(270, 273, 1)]
cols_V273_275 = [f'V{no}' for no in range(273, 276, 1)]
cols_V276_278 = [f'V{no}' for no in range(276, 279, 1)]

# V263~265
data['V263_265_std'] = data[cols_V263_265].std(axis=1)
data['V264_div_265'] = data['V264'] / (data['V265'] + 1)
data['V264_div_263'] = data['V264'] / (data['V263'] + 1)
data['V265_div_263'] = data['V265'] / (data['V263'] + 1)
data['V263_div_Amt'] = data['V263'] / (data[col_amt] + 1)
data['V264_div_Amt'] = data['V264'] / (data[col_amt] + 1)
data['V265_div_Amt'] = data['V265'] / (data[col_amt] + 1)

# V263~265とV266~268
data['V263_div_266'] = data['V263'] / (data['V266'] + 1)
data['V263_div_267'] = data['V263'] / (data['V267'] + 1)
data['V263_div_268'] = data['V263'] / (data['V268'] + 1)
data['V264_div_266'] = data['V264'] / (data['V266'] + 1)
data['V264_div_267'] = data['V264'] / (data['V267'] + 1)
data['V264_div_266'] = data['V264'] / (data['V266'] + 1)
data['V265_div_267'] = data['V265'] / (data['V267'] + 1)
data['V265_div_268'] = data['V265'] / (data['V268'] + 1)
data['V265_div_268'] = data['V265'] / (data['V268'] + 1)

# V263~265とV270~272
data['V263_div_270'] = data['V263'] / (data['V270'] + 1)
data['V263_div_271'] = data['V263'] / (data['V271'] + 1)
data['V263_div_272'] = data['V263'] / (data['V272'] + 1)
data['V264_div_270'] = data['V264'] / (data['V270'] + 1)
data['V264_div_271'] = data['V264'] / (data['V271'] + 1)
data['V264_div_272'] = data['V264'] / (data['V272'] + 1)
data['V265_div_270'] = data['V265'] / (data['V270'] + 1)
data['V265_div_271'] = data['V265'] / (data['V271'] + 1)
data['V265_div_272'] = data['V265'] / (data['V272'] + 1)

# V263~265とV273~275
data['V263_div_273'] = data['V263'] / (data['V273'] + 1)
data['V263_div_274'] = data['V263'] / (data['V274'] + 1)
data['V263_div_275'] = data['V263'] / (data['V275'] + 1)
data['V264_div_273'] = data['V264'] / (data['V273'] + 1)
data['V264_div_274'] = data['V264'] / (data['V274'] + 1)
data['V264_div_275'] = data['V264'] / (data['V275'] + 1)
data['V265_div_273'] = data['V265'] / (data['V273'] + 1)
data['V265_div_274'] = data['V265'] / (data['V274'] + 1)
data['V265_div_275'] = data['V265'] / (data['V275'] + 1)

# V263~265とV276~278
data['V263_div_276'] = data['V263'] / (data['V276'] + 1)
data['V263_div_277'] = data['V263'] / (data['V277'] + 1)
data['V263_div_278'] = data['V263'] / (data['V278'] + 1)
data['V264_div_276'] = data['V264'] / (data['V276'] + 1)
data['V264_div_277'] = data['V264'] / (data['V277'] + 1)
data['V264_div_278'] = data['V264'] / (data['V278'] + 1)
data['V265_div_276'] = data['V265'] / (data['V276'] + 1)
data['V265_div_277'] = data['V265'] / (data['V277'] + 1)
data['V265_div_278'] = data['V265'] / (data['V278'] + 1)


# V266~268
data['V266_268_std'] = data[cols_V266_268].std(axis=1)
data['V267_div_268'] = data['V267'] / (data['V268'] + 1)
data['V267_div_266'] = data['V267'] / (data['V266'] + 1)
data['V268_div_266'] = data['V268'] / (data['V266'] + 1)
data['V266_div_Amt'] = data['V266'] / (data[col_amt] + 1)
data['V267_div_Amt'] = data['V267'] / (data[col_amt] + 1)
data['V268_div_Amt'] = data['V268'] / (data[col_amt] + 1)

# V266~268とV270~272
data['V266_div_270'] = data['V266'] / (data['V270'] + 1)
data['V266_div_271'] = data['V266'] / (data['V271'] + 1)
data['V266_div_272'] = data['V266'] / (data['V272'] + 1)
data['V267_div_270'] = data['V267'] / (data['V270'] + 1)
data['V267_div_271'] = data['V267'] / (data['V271'] + 1)
data['V267_div_272'] = data['V267'] / (data['V272'] + 1)
data['V268_div_270'] = data['V268'] / (data['V270'] + 1)
data['V268_div_271'] = data['V268'] / (data['V271'] + 1)
data['V268_div_272'] = data['V268'] / (data['V272'] + 1)

# V266~268とV273~275
data['V266_div_273'] = data['V266'] / (data['V273'] + 1)
data['V266_div_274'] = data['V266'] / (data['V274'] + 1)
data['V266_div_275'] = data['V266'] / (data['V275'] + 1)
data['V267_div_273'] = data['V267'] / (data['V273'] + 1)
data['V267_div_274'] = data['V267'] / (data['V274'] + 1)
data['V267_div_275'] = data['V267'] / (data['V275'] + 1)
data['V268_div_273'] = data['V268'] / (data['V273'] + 1)
data['V268_div_274'] = data['V268'] / (data['V274'] + 1)
data['V268_div_275'] = data['V268'] / (data['V275'] + 1)

# V266~268とV276~278
data['V266_div_276'] = data['V266'] / (data['V276'] + 1)
data['V266_div_277'] = data['V266'] / (data['V277'] + 1)
data['V266_div_278'] = data['V266'] / (data['V278'] + 1)
data['V267_div_276'] = data['V267'] / (data['V276'] + 1)
data['V267_div_277'] = data['V267'] / (data['V277'] + 1)
data['V267_div_278'] = data['V267'] / (data['V278'] + 1)
data['V268_div_276'] = data['V268'] / (data['V276'] + 1)
data['V268_div_277'] = data['V268'] / (data['V277'] + 1)
data['V268_div_278'] = data['V268'] / (data['V278'] + 1)


# V270~272
data['V270_272_std'] = data[cols_V270_272].std(axis=1)
data['V271_div_272'] = data['V271'] / (data['V272'] + 1)
data['V271_div_270'] = data['V271'] / (data['V270'] + 1)
data['V272_div_270'] = data['V272'] / (data['V270'] + 1)
data['V270_div_Amt'] = data['V270'] / (data[col_amt] + 1)
data['V271_div_Amt'] = data['V271'] / (data[col_amt] + 1)
data['V272_div_Amt'] = data['V272'] / (data[col_amt] + 1)

# V270~272とV273~275
data['V270_div_273'] = data['V270'] / (data['V273'] + 1)
data['V270_div_274'] = data['V270'] / (data['V274'] + 1)
data['V270_div_275'] = data['V270'] / (data['V275'] + 1)
data['V271_div_273'] = data['V271'] / (data['V273'] + 1)
data['V271_div_274'] = data['V271'] / (data['V274'] + 1)
data['V271_div_275'] = data['V271'] / (data['V275'] + 1)
data['V272_div_273'] = data['V272'] / (data['V273'] + 1)
data['V272_div_274'] = data['V272'] / (data['V274'] + 1)
data['V272_div_275'] = data['V272'] / (data['V275'] + 1)

# V270~272とV276~278
data['V270_div_276'] = data['V270'] / (data['V276'] + 1)
data['V270_div_277'] = data['V270'] / (data['V277'] + 1)
data['V270_div_278'] = data['V270'] / (data['V278'] + 1)
data['V271_div_276'] = data['V271'] / (data['V276'] + 1)
data['V271_div_277'] = data['V271'] / (data['V277'] + 1)
data['V271_div_278'] = data['V271'] / (data['V278'] + 1)
data['V272_div_276'] = data['V272'] / (data['V276'] + 1)
data['V272_div_277'] = data['V272'] / (data['V277'] + 1)
data['V272_div_278'] = data['V272'] / (data['V278'] + 1)


# V273~275
data['V273_275_std'] = data[cols_V273_275].std(axis=1)
data['V274_div_275'] = data['V274'] / (data['V275'] + 1)
data['V274_div_273'] = data['V274'] / (data['V273'] + 1)
data['V275_div_273'] = data['V275'] / (data['V273'] + 1)
data['V273_div_Amt'] = data['V273'] / (data[col_amt] + 1)
data['V274_div_Amt'] = data['V274'] / (data[col_amt] + 1)
data['V275_div_Amt'] = data['V275'] / (data[col_amt] + 1)

# V273~275とV276~278
data['V273_div_276'] = data['V273'] / (data['V276'] + 1)
data['V273_div_277'] = data['V273'] / (data['V277'] + 1)
data['V273_div_278'] = data['V273'] / (data['V278'] + 1)
data['V274_div_276'] = data['V274'] / (data['V276'] + 1)
data['V274_div_277'] = data['V274'] / (data['V277'] + 1)
data['V274_div_278'] = data['V274'] / (data['V278'] + 1)
data['V275_div_276'] = data['V275'] / (data['V276'] + 1)
data['V275_div_277'] = data['V275'] / (data['V277'] + 1)
data['V275_div_278'] = data['V275'] / (data['V278'] + 1)

# V276~278
data['V276_278_std'] = data[cols_V276_278].std(axis=1)
data['V277_div_278'] = data['V277'] / (data['V278'] + 1)
data['V277_div_276'] = data['V277'] / (data['V276'] + 1)
data['V278_div_276'] = data['V278'] / (data['V276'] + 1)
data['V276_div_Amt'] = data['V276'] / (data[col_amt] + 1)
data['V277_div_Amt'] = data['V277'] / (data[col_amt] + 1)
data['V278_div_Amt'] = data['V278'] / (data[col_amt] + 1)


cols_save =  [col for col in data.columns if col.count('_div_') or col.count('_std')]

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]
data.drop(cols_save, axis=1, inplace=True)

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

(506691,) | V265_div_274
(506691,) | V265_div_275
(506691,) | V263_div_276
(506691,) | V263_div_277
(506691,) | V263_div_278
(506691,) | V264_div_276
(506691,) | V264_div_277
(506691,) | V264_div_278
(506691,) | V265_div_276
(506691,) | V265_div_277
(506691,) | V265_div_278
(506691,) | V266_268_std
(506691,) | V267_div_268
(506691,) | V267_div_266
(506691,) | V268_div_266
(506691,) | V266_div_Amt
(506691,) | V267_div_Amt
(506691,) | V268_div_Amt
(506691,) | V266_div_270
(506691,) | V266_div_271
(506691,) | V266_div_272
(506691,) | V267_div_270
(506691,) | V267_div_271
(506691,) | V267_div_272
(506691,) | V268_div_270
(506691,) | V268_div_271
(506691,) | V268_div_272
(506691,) | V266_div_273
(506691,) | V266_div_274
(506691,) | V266_div_275
(506691,) | V267_div_273
(506691,) | V267_div_274
(506691,) | V267_div_275
(506691,) | V268_div_273
(506691,) | V268_div_274
(506691,) | V268_div_275
(506691,) | V266_div_276
(506691,) | V266_div_277
(506691,) | V266_div_278
(506691,) | V267_div_276
(506691,) | V267_div_277
(506691,) | V267_div_278
(506691,) | V268_div_276
(506691,) | V268_div_277
(506691,) | V268_div_278
(506691,) | V270_272_std
(506691,) | V271_div_272
(506691,) | V271_div_270
(506691,) | V272_div_270
(506691,) | V270_div_Amt
(506691,) | V271_div_Amt
(506691,) | V272_div_Amt
(506691,) | V270_div_273
(506691,) | V270_div_274
(506691,) | V270_div_275
(506691,) | V271_div_273
(506691,) | V271_div_274
(506691,) | V271_div_275
(506691,) | V272_div_273
(506691,) | V272_div_274
(506691,) | V272_div_275
(506691,) | V270_div_276
(506691,) | V270_div_277
(506691,) | V270_div_278
(506691,) | V271_div_276
(506691,) | V271_div_277
(506691,) | V271_div_278
(506691,) | V272_div_276
(506691,) | V272_div_277
(506691,) | V272_div_278
(506691,) | V273_275_std
(506691,) | V274_div_275
(506691,) | V274_div_273
(506691,) | V275_div_273
(506691,) | V273_div_Amt
(506691,) | V274_div_Amt
(506691,) | V275_div_Amt
(506691,) | V273_div_276
(506691,) | V273_div_277
(506691,) | V273_div_278
(506691,) | V274_div_276
(506691,) | V274_div_277
(506691,) | V274_div_278
(506691,) | V275_div_276
(506691,) | V275_div_277
(506691,) | V275_div_278
(506691,) | V276_278_std
(506691,) | V277_div_278
(506691,) | V277_div_276
(506691,) | V278_div_276
(506691,) | V276_div_Amt
(506691,) | V277_div_Amt
(506691,) | V278_div_Amt

In [ ]:
#========================================================================
# V279_321
#========================================================================
# display(df_train[cols_V2_11])
# for col in cols_V2_11:
#     display(df_train[col].value_counts(dropna=False).head())
#     display(df_train.groupby(col)[COLUMN_TARGET].mean().head())

# good
cols_V279_284 = [f'V{no}' for no in list(range(285, 284, 1))]
cols_V289_295 = [f'V{no}' for no in list(range(289, 295, 1))]
cols_V302_304 = [f'V{no}' for no in list(range(302, 305, 1))]

# not bad
cols_V285_288 = [f'V{no}' for no in list(range(285, 289, 1))]
cols_V296_301 = [f'V{no}' for no in list(range(296, 302, 1))]
cols_V306_321 = [f'V{no}' for no in list(range(306, 322, 1))]

data['V279_284_mean'] = data[cols_V279_284].mean(axis=1)
data['V279_284_sum']  = data[cols_V279_284].sum(axis=1)
data['V279_284_std']  = data[cols_V279_284].std(axis=1)
data['V279_284_max']  = data[cols_V279_284].max(axis=1)
data['V279_284_pro']  = data[cols_V279_284].product(axis=1)

data['V289_295_mean'] = data[cols_V289_295].mean(axis=1)
data['V289_295_sum']  = data[cols_V289_295].sum(axis=1)
data['V289_295_std']  = data[cols_V289_295].std(axis=1)
data['V289_295_max']  = data[cols_V289_295].max(axis=1)
data['V289_295_pro']  = data[cols_V289_295].product(axis=1)

data['V302_304_mean'] = data[cols_V302_304].mean(axis=1)
data['V302_304_sum']  = data[cols_V302_304].sum(axis=1)
data['V302_304_std']  = data[cols_V302_304].std(axis=1)
data['V302_304_max']  = data[cols_V302_304].max(axis=1)
data['V302_304_pro']  = data[cols_V302_304].product(axis=1)

data['V285_288_mean'] = data[cols_V285_288].mean(axis=1)
data['V285_288_sum']  = data[cols_V285_288].sum(axis=1)
data['V285_288_std']  = data[cols_V285_288].std(axis=1)
data['V285_288_max']  = data[cols_V285_288].max(axis=1)
data['V285_288_pro']  = data[cols_V285_288].product(axis=1)

data['V296_301_mean'] = data[cols_V296_301].mean(axis=1)
data['V296_301_sum']  = data[cols_V296_301].sum(axis=1)
data['V296_301_std']  = data[cols_V296_301].std(axis=1)
data['V296_301_max']  = data[cols_V296_301].max(axis=1)
data['V296_301_pro']  = data[cols_V296_301].product(axis=1)

data['V306_321_mean'] = data[cols_V306_321].mean(axis=1)
data['V306_321_sum']  = data[cols_V306_321].sum(axis=1)
data['V306_321_std']  = data[cols_V306_321].std(axis=1)
data['V306_321_max']  = data[cols_V306_321].max(axis=1)
data['V306_321_pro']  = data[cols_V306_321].product(axis=1)

cols_save =  [col for col in data.columns if col.count('V279_284')
              or col.count('V289_295') or col.count('V302_304') or col.count('V285_288')
              or col.count('V296_301') or col.count('V306_321')
             ]

train = data.iloc[:train_length][cols_save]
test  = data.iloc[train_length:][cols_save]
data.drop(cols_save, axis=1, inplace=True)

prefix = '526'
dir_save = 'valid_use'

save_feature(train[cols_save], prefix, dir_save, is_train=True, auto_type=True, list_ignore=COLUMNS_IGNORE)
save_feature(test[cols_save],  prefix, dir_save, is_train=False, auto_type=True, list_ignore=COLUMNS_IGNORE)

In [16]:
for col in sorted(cols_V279_321):
# for col in sorted(cols_V242_263):
    tmp = df_train.groupby(col)[COLUMN_TARGET].agg({
        'mean': 'mean',
        'count': 'count',
    })
    display(tmp.head(10))

          mean   count
V279
0.0   0.028626  492169
1.0   0.059149   60474
2.0   0.072825   18826
3.0   0.085454    8016
4.0   0.089826    4030
5.0   0.095102    2103
6.0   0.095547    1235
7.0   0.110054     736
8.0   0.106904     449
9.0   0.108475     295

          mean   count
V280
0.0   0.027337  422464
1.0   0.040778   90882
2.0   0.052997   32870
3.0   0.067477   15309
4.0   0.078297    8340
5.0   0.085057    5173
6.0   0.092935    3411
7.0   0.098537    2324
8.0   0.110630    1618
9.0   0.118950    1219

          mean   count
V281
0.0   0.032149  561201
1.0   0.072917   16896
2.0   0.101862    5694
3.0   0.106683    2484
4.0   0.187883    1469
5.0   0.132450     604
6.0   0.076923     351
7.0   0.222222     225
8.0   0.039216     102
9.0   0.227848      79

          mean   count
V282
0.0   0.016714  212812
1.0   0.037983  316455
2.0   0.074220   37537
3.0   0.088132   12243
4.0   0.097468    4976
5.0   0.125545    2525
6.0   0.141593    1130
7.0   0.090491     652
8.0   0.073718     312
9.0   0.247934     242

          mean   count
V283
0.0   0.016648  211499
1.0   0.035601  284599
2.0   0.057907   51773
3.0   0.072061   18984
4.0   0.090664    8912
5.0   0.112614    4955
6.0   0.106077    2847
7.0   0.104651    1720
8.0   0.132379    1118
9.0   0.164902     661

          mean   count
V284
0.0   0.033047  545552
1.0   0.057082   39347
2.0   0.067396    4481
3.0   0.079196     846
4.0   0.057895     190
5.0   0.102041      49
6.0   0.029412      34
7.0   0.000000      15
8.0   0.000000       6
9.0   0.000000       5

          mean   count
V285
0.0   0.038147  354815
1.0   0.029461  106275
2.0   0.028016   50008
3.0   0.026957   26969
4.0   0.029145   17739
5.0   0.033256    9923
6.0   0.044421    6596
7.0   0.035991    4390
8.0   0.036422    3130
9.0   0.044654    2329

          mean   count
V286
0.0   0.034848  573290
1.0   0.039201   16122
2.0   0.045311     949
3.0   0.058824     136
4.0   0.000000      11
5.0   0.000000       5
6.0   0.000000       6
7.0   0.000000       8
8.0   0.000000       1

          mean   count
V287
0.0   0.032099  466863
1.0   0.040366   83560
2.0   0.056477   22186
3.0   0.066940    8784
4.0   0.070944    4863
5.0   0.058645     989
6.0   0.060475     463
7.0   0.008785     683
8.0   0.009174     218
9.0   0.004735    1056

          mean   count
V288
0.0   0.032507  489641
1.0   0.044079   91654
2.0   0.081873    7133
3.0   0.082786     761
4.0   0.393939      33
5.0   0.000000      29
6.0   0.000000       5
7.0   0.000000       7
8.0   0.000000       3
9.0   0.000000       1

          mean   count
V289
0.0   0.032394  487073
1.0   0.039857   75947
2.0   0.063108   18920
3.0   0.069149    5076
4.0   0.117512    1736
5.0   0.159722     288
6.0   0.027397      73
7.0   0.182927      82
8.0   0.000000      51
9.0   0.000000      21

          mean   count
V290
1.0   0.031821  551866
2.0   0.076465   30249
3.0   0.099068    4936
4.0   0.090311    1672
5.0   0.083700     681
6.0   0.049861     361
7.0   0.063107     206
8.0   0.038462     130
9.0   0.015625      64
10.0  0.026316      38

          mean   count
V291
1.0   0.030469  462929
2.0   0.043077   92440
3.0   0.058518   21378
4.0   0.079299    7251
5.0   0.093273    2884
6.0   0.090699    1301
7.0   0.123139     739
8.0   0.101942     412
9.0   0.158915     258
10.0  0.179310     145

          mean   count
V292
1.0   0.030127  522151
2.0   0.062883   52574
3.0   0.090578    9605
4.0   0.123052    3145
5.0   0.126126    1221
6.0   0.093960     596
7.0   0.101156     346
8.0   0.077670     206
9.0   0.124138     145
10.0  0.072289      83

          mean   count
V293
0.0   0.030129  546442
1.0   0.098353   24280
2.0   0.096487    8882
3.0   0.095033    4188
4.0   0.097480    2103
5.0   0.096447    1182
6.0   0.099281     695
7.0   0.108747     423
8.0   0.094118     255
9.0   0.098266     173

          mean   count
V294
0.0   0.027015  519413
1.0   0.088736   29582
2.0   0.086158   13719
3.0   0.089052    7490
4.0   0.088287    4576
5.0   0.096557    2817
6.0   0.091857    2014
7.0   0.105332    1519
8.0   0.108893    1102
9.0   0.115890     837

          mean   count
V295
0.0   0.028159  535074
1.0   0.097986   25973
2.0   0.096001   11104
3.0   0.100457    5694
4.0   0.105908    3182
5.0   0.112275    2004
6.0   0.126007    1365
7.0   0.125130     959
8.0   0.136752     702
9.0   0.163265     539

          mean   count
V296
0.0   0.033737  536687
1.0   0.042902   32376
2.0   0.042083   10099
3.0   0.075293    3586
4.0   0.063580    1620
5.0   0.097424     893
6.0   0.041051     609
7.0   0.047619     336
8.0   0.092050     239
9.0   0.122449     147

          mean   count
V297
0.0   0.034430  562740
1.0   0.047170   19398
2.0   0.049077    4605
3.0   0.055052    1435
4.0   0.048170     519
5.0   0.045833     240
6.0   0.056911     123
7.0   0.054054      74
8.0   0.097561      41
9.0   0.193548      31

          mean   count
V298
0.0   0.033657  542892
1.0   0.045899   29739
2.0   0.047861    9068
3.0   0.073202    3101
4.0   0.065957    1410
5.0   0.097442     821
6.0   0.043290     462
7.0   0.046358     302
8.0   0.135417     192
9.0   0.137097     124

          mean   count
V299
0.0   0.033904  555629
1.0   0.051072   23124
2.0   0.050679    6255
3.0   0.075024    2066
4.0   0.078089     858
5.0   0.077889     398
6.0   0.091346     208
7.0   0.109375     128
8.0   0.061224      98
9.0   0.085106      47

          mean   count
V300
0.0   0.034108  569522
1.0   0.057755   15133
2.0   0.062834    3183
3.0   0.081023     938
4.0   0.063158     285
5.0   0.116505     103
6.0   0.090909      44
7.0   0.117647      17
8.0   0.100000      10
9.0   0.250000       4

          mean   count
V301
0.0   0.033801  567409
1.0   0.064019   16292
2.0   0.061673    3778
3.0   0.073620    1141
4.0   0.117284     324
5.0   0.122581     155
6.0   0.076923      91
7.0   0.150000      20
8.0   0.153846      13
9.0   0.285714       7

          mean   count
V302
0.0   0.021164  450191
1.0   0.076899  134072
2.0   0.131329    5155
3.0   0.159590     683
4.0   0.127854     219
5.0   0.072165      97
6.0   0.021277      47
7.0   0.043478      23
8.0   0.000000      14
9.0   0.000000       6

          mean   count
V303
0.0   0.020990  449499
1.0   0.073195  126757
2.0   0.149347    9113
3.0   0.138937    2332
4.0   0.179856     834
5.0   0.046545    1375
6.0   0.101852     216
7.0   0.081301     123
8.0   0.104651      86
9.0   0.029412      68

          mean   count
V304
0.0   0.021070  449830
1.0   0.075079  130542
2.0   0.150998    7212
3.0   0.127420    1601
4.0   0.062370     962
5.0   0.089947     189
6.0   0.083333      84
7.0   0.075000      40
8.0   0.047619      21
9.0   0.041667      24

          mean   count
V305
1.0   0.034988  590524
2.0   0.000000       4

            mean   count
V306
0.0000  0.028626  492169
0.2915  1.000000       1
0.4669  1.000000       2
0.5830  1.000000       2
0.7547  0.000000       1
0.8782  0.000000       8
0.9286  0.000000       1
0.9328  1.000000       1
1.0000  0.000000       2
1.0006  0.000000       2

            mean   count
V307
0.0000  0.032023  316650
0.2915  1.000000       1
0.4669  1.000000       1
0.5427  0.000000       1
0.5830  1.000000       2
0.7696  0.000000       1
0.8146  0.000000       1
0.8607  0.000000       1
0.8782  0.000000       1
0.9286  0.000000       1

            mean   count
V308
0.0000  0.027337  422464
0.2915  1.000000       1
0.4669  1.000000       2
0.5427  0.000000       1
0.5830  1.000000       2
0.8607  0.000000       1
0.8782  0.000000       3
0.9286  0.000000       1
0.9328  1.000000       1
0.9338  1.000000       1

            mean   count
V309
0.0000  0.033047  545552
0.2915  1.000000       4
1.0000  0.000000       2
1.6404  0.000000       1
1.7384  0.000000       2
1.8603  0.000000       1
1.8958  0.000000       1
1.9562  0.000000       1
2.0000  0.000000       2
2.1693  0.000000       1

            mean   count
V310
0.0000  0.038147  354815
0.2915  1.000000       4
0.4839  1.000000       2
0.5427  0.000000       1
0.6874  0.000000       1
0.7696  0.000000       1
0.8146  0.000000       1
0.8607  0.000000       1
1.0000  0.000000       2
1.0409  0.000000       1

            mean   count
V311
0.0000  0.034848  573290
0.2915  1.000000       2
1.0000  0.000000       2
1.7384  0.000000       1
1.8603  0.000000       1
1.8958  0.000000       1
1.9562  0.000000       1
2.0000  0.000000       2
2.1693  0.000000       1
2.3537  0.000000       1

            mean   count
V312
0.0000  0.032099  466863
0.2915  1.000000       4
0.5427  0.000000       1
0.8607  0.000000       1
1.0000  0.000000       2
1.0409  0.000000       1
1.1649  0.000000       1
1.6404  0.000000       1
1.7384  0.000000       3
1.8958  0.000000       1

            mean   count
V313
0.0000  0.032507  489641
0.2915  0.800000       5
0.4839  1.000000       2
0.5427  0.000000       2
0.6874  0.000000       1
0.7696  0.000000       1
0.8607  0.000000       1
1.0000  0.000000       1
1.0409  0.000000       2
1.1649  0.000000       5

            mean   count
V314
0.0000  0.032702  473273
0.2915  0.800000       5
0.4839  1.000000       2
0.5427  0.000000       1
0.6874  0.000000       1
0.7696  0.000000       1
0.8146  0.000000       1
0.8607  0.000000       1
1.0000  0.000000       2
1.0409  0.000000       1

            mean   count
V315
0.0000  0.032394  487073
0.2915  0.800000       5
0.4839  1.000000       2
0.5427  0.000000       1
0.6874  0.000000       1
0.7696  0.000000       1
0.8146  0.000000       1
0.8607  0.000000       1
1.0000  0.000000       2
1.0409  0.000000       1

            mean   count
V316
0.0000  0.030129  546442
0.2915  1.000000       1
0.4669  1.000000       2
0.5830  1.000000       1
0.6413  1.000000       1
0.7547  0.000000       1
0.8782  0.000000       8
0.9286  0.000000       2
0.9328  1.000000       1
0.9572  0.000000       1

            mean   count
V317
0.0000  0.027015  519413
0.2915  1.000000       1
0.4669  1.000000       1
0.5830  1.000000       1
0.6042  1.000000       1
0.6413  1.000000       1
0.8782  0.000000       1
0.9286  0.000000       2
0.9328  1.000000       1
0.9338  1.000000       1

            mean   count
V318
0.0000  0.028159  535074
0.2915  1.000000       1
0.4669  1.000000       2
0.5830  1.000000       1
0.6413  1.000000       1
0.8782  0.000000       3
0.9286  0.000000       2
0.9328  1.000000       1
0.9338  1.000000       1
0.9572  0.000000       1

           mean   count
V319
0.0000  0.03443  562740
1.9939  0.00000       1
2.1518  0.00000       1
2.2578  0.00000       1
2.2960  0.00000       1
2.3362  0.00000       1
2.5334  0.00000       1
2.5822  0.00000       1
2.9680  0.00000       1
3.0910  0.00000       1

            mean   count
V320
0.0000  0.033657  542892
1.3086  0.000000       6
1.9939  0.000000       1
2.2578  0.000000       1
2.2917  0.000000       1
2.2960  0.000000       1
2.3362  0.000000       1
2.5334  0.000000       1
2.5822  0.000000       1
2.9680  0.000000       1

            mean   count
V321
0.0000  0.033904  555629
1.3086  0.000000       6
1.9939  0.000000       1
2.1518  0.000000       1
2.2578  0.000000       1
2.2960  0.000000       1
2.3362  0.000000       1
2.5334  0.000000       1
2.5822  0.000000       1
2.9680  0.000000       1

In [19]:
# for col in sorted(no_use_cols):
list_pro = data['ProductCD'].unique()
# for col in sorted(cols_V242_263):
for col in sorted(cols_V279_321):
    list_df = []
    for pro in list_pro:
        tmp = data[data['ProductCD']==pro]
        tmp = tmp.groupby(col)[COLUMN_TARGET].agg({
            f'{pro}_mean' : 'mean',
            f'{pro}_count': 'count',
        })
        list_df.append(tmp)
    df = pd.concat(list_df, axis=1)
    df.sort_values(by='C_count', inplace=True, ascending=False)
    print(col)
    display(df.head(10))

V279

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V279,,,,,,,,,,
0.0,0.013750,370683.0,0.042074,27903.0,0.118378,53667.0,0.047776,8184,0.033846,31732.0
1.0,0.042214,44677.0,0.076568,3252.0,0.136759,7824.0,0.117030,1239,0.065192,3482.0
2.0,0.066979,13034.0,0.076784,1107.0,0.094076,3072.0,0.151961,408,0.051452,1205.0
3.0,0.086060,5287.0,0.086681,473.0,0.081978,1537.0,0.188889,180,0.053803,539.0
4.0,0.097552,2614.0,0.090909,198.0,0.070406,838.0,0.180000,100,0.042857,280.0
5.0,0.108009,1361.0,0.092593,54.0,0.061441,472.0,0.206897,58,0.044304,158.0
6.0,0.114733,767.0,0.047619,21.0,0.043189,301.0,0.234043,47,0.050505,99.0
7.0,0.141280,453.0,0.100000,10.0,0.038251,183.0,0.250000,28,0.032258,62.0
8.0,0.147170,265.0,0.000000,3.0,0.024194,124.0,0.222222,18,0.051282,39.0
9.0,0.157303,178.0,0.000000,1.0,0.013158,76.0,0.133333,15,0.040000,25.0

V280

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V280,,,,,,,,,,
0.0,0.010944,307281.0,0.040684,27382.0,0.115466,50084.0,0.037222,6394,0.033554,31323.0
1.0,0.024262,72911.0,0.079300,3430.0,0.136792,9445.0,0.094538,1428,0.064885,3668.0
2.0,0.041389,25804.0,0.082458,1237.0,0.108667,3773.0,0.117722,790,0.054502,1266.0
3.0,0.058589,11777.0,0.088235,544.0,0.101904,1943.0,0.144086,465,0.051724,580.0
4.0,0.072557,6395.0,0.099206,252.0,0.089401,1085.0,0.181507,292,0.044304,316.0
5.0,0.081858,4068.0,0.073684,95.0,0.085443,632.0,0.187817,197,0.049724,181.0
6.0,0.095875,2691.0,0.076923,52.0,0.075980,408.0,0.133803,142,0.042373,118.0
7.0,0.103723,1880.0,0.111111,18.0,0.072289,249.0,0.114286,105,0.027778,72.0
8.0,0.118008,1305.0,0.000000,8.0,0.076023,171.0,0.119048,84,0.040000,50.0
9.0,0.128413,989.0,0.000000,3.0,0.086614,127.0,0.089552,67,0.030303,33.0

V281

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V281,,,,,,,,,,
0.0,0.016815,418840.0,0.046848,32317.0,0.121324,61950,0.053386,11164.0,0.037178,36930.0
1.0,0.065670,12578.0,0.071017,521.0,0.088344,2977,0.213889,360.0,0.063043,460.0
2.0,0.113310,4042.0,0.114943,87.0,0.070301,1394,0.100000,50.0,0.074380,121.0
3.0,0.133673,1571.0,0.105263,38.0,0.048507,804,0.500000,14.0,0.087719,57.0
4.0,0.264706,918.0,0.125000,24.0,0.052632,456,0.031250,32.0,0.128205,39.0
5.0,0.226804,291.0,0.166667,12.0,0.039855,276,0.000000,3.0,0.045455,22.0
6.0,0.137143,175.0,0.000000,1.0,0.012500,160,0.000000,2.0,0.076923,13.0
7.0,0.415929,113.0,0.000000,1.0,0.020202,99,0.000000,2.0,0.100000,10.0
8.0,0.125000,24.0,0.000000,1.0,0.013889,72,0.000000,1.0,0.000000,4.0
10.0,0.233333,30.0,NaN,NaN,0.584906,53,NaN,0.0,0.000000,3.0

V282

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V282,,,,,,,,,,
1.0,0.018300,206395.0,0.041967,27474.0,0.122033,47233,0.041280,6468.0,0.036663,28885.0
0.0,0.013232,195819.0,0.023077,260.0,0.078718,9515,0.047994,4063.0,0.005071,3155.0
2.0,0.049394,24092.0,0.076385,3286.0,0.158047,6207,0.205421,701.0,0.067671,3251.0
3.0,0.087046,7272.0,0.073975,1122.0,0.106323,2483,0.175355,211.0,0.053680,1155.0
4.0,0.106826,2593.0,0.084615,520.0,0.090484,1282,0.240000,75.0,0.059289,506.0
5.0,0.171561,1294.0,0.086777,242.0,0.076692,665,0.140351,57.0,0.056180,267.0
6.0,0.216169,569.0,0.135593,59.0,0.051672,329,0.294118,17.0,0.044872,156.0
7.0,0.139706,272.0,0.045455,22.0,0.046414,237,0.250000,16.0,0.047619,105.0
8.0,0.101562,128.0,0.272727,11.0,0.018018,111,0.500000,6.0,0.035714,56.0
9.0,0.509615,104.0,0.000000,3.0,0.011111,90,0.666667,6.0,0.051282,39.0

V283

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V283,,,,,,,,,,
1.0,0.014354,179049.0,0.040382,27116.0,0.119533,43829,0.031469,6006.0,0.036330,28599.0
0.0,0.013187,194584.0,0.023077,260.0,0.078085,9464,0.048067,4036.0,0.005071,3155.0
2.0,0.032555,36554.0,0.080305,3412.0,0.156832,7677,0.131615,737.0,0.068671,3393.0
3.0,0.058612,13069.0,0.086109,1231.0,0.117111,3185,0.182965,317.0,0.054992,1182.0
4.0,0.085050,6020.0,0.087037,540.0,0.106808,1601,0.226415,212.0,0.055659,539.0
5.0,0.115622,3399.0,0.103846,260.0,0.101307,918,0.329412,85.0,0.058020,293.0
6.0,0.096193,1944.0,0.071429,98.0,0.125461,542,0.326316,95.0,0.053571,168.0
7.0,0.107965,1130.0,0.075472,53.0,0.074184,337,0.285714,84.0,0.043103,116.0
8.0,0.152174,828.0,0.210526,19.0,0.057592,191,0.384615,13.0,0.029851,67.0
9.0,0.195556,450.0,0.000000,7.0,0.096296,135,0.272727,22.0,0.042553,47.0

V284

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V284,,,,,,,,,,
0.0,0.017049,405372.0,0.047046,32330.0,0.124383,61230.0,0.061222,9833.0,0.037486,36787
1.0,0.057243,30152.0,0.077863,655.0,0.055217,6556.0,0.053410,1217.0,0.054759,767
2.0,0.080665,3248.0,0.055556,36.0,0.039249,586.0,0.019841,504.0,0.046729,107
3.0,0.091331,646.0,0.000000,3.0,0.037313,134.0,0.066667,45.0,0.000000,18
4.0,0.056604,159.0,NaN,NaN,0.000000,3.0,0.095238,21.0,0.000000,7
6.0,0.000000,29.0,NaN,NaN,0.000000,2.0,1.000000,1.0,0.000000,2
5.0,0.054054,37.0,NaN,NaN,0.000000,1.0,0.428571,7.0,0.000000,4
7.0,0.000000,13.0,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,2
8.0,0.000000,5.0,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1
9.0,0.000000,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1

V285

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V285,,,,,,,,,,
0.0,0.014298,227517,0.046760,31779.0,0.132704,53480.0,0.056347,5963.0,0.037781,36076.0
1.0,0.023302,91453,0.066494,1158.0,0.069060,11309.0,0.080983,1099.0,0.042197,1256.0
2.0,0.026215,46881,0.093333,75.0,0.042524,2187.0,0.099359,624.0,0.041494,241.0
3.0,0.026576,25587,0.222222,9.0,0.019209,885.0,0.066038,424.0,0.000000,64.0
4.0,0.028915,17050,0.500000,2.0,0.030812,357.0,0.039474,304.0,0.000000,26.0
5.0,0.032532,9529,1.000000,1.0,0.007092,141.0,0.074380,242.0,0.000000,10.0
6.0,0.043067,6339,NaN,NaN,0.090909,66.0,0.074866,187.0,0.000000,4.0
7.0,0.033668,4188,NaN,NaN,0.000000,30.0,0.102410,166.0,0.000000,6.0
8.0,0.034958,2975,NaN,NaN,0.000000,18.0,0.074074,135.0,0.000000,2.0
10.0,0.062271,1365,NaN,NaN,0.000000,14.0,0.139241,79.0,0.000000,1.0

V286

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V286,,,,,,,,,,
0.0,0.019916,429044,0.047503,32545.0,0.123469,63263.0,0.059222,11381.0,0.037834,37057.0
1.0,0.038500,10026,0.056893,457.0,0.038176,4846.0,0.054054,222.0,0.040280,571.0
2.0,0.057692,520,0.100000,20.0,0.029674,337.0,0.000000,22.0,0.020000,50.0
3.0,0.148148,54,0.000000,2.0,0.000000,65.0,0.000000,3.0,0.000000,12.0
4.0,0.000000,4,NaN,NaN,0.000000,1.0,NaN,0.0,0.000000,6.0
5.0,0.000000,3,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,2.0
6.0,0.000000,5,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1.0
7.0,0.000000,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,0.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

V287

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V287,,,,,,,,,,
0.0,0.013179,333855,0.046584,32071.0,0.127546,57203.0,0.058727,7288,0.037535,36446.0
1.0,0.035695,70766,0.079007,886.0,0.065764,9671.0,0.074135,1214,0.049853,1023.0
2.0,0.055409,20087,0.135593,59.0,0.052506,1257.0,0.095315,619,0.042683,164.0
3.0,0.067318,8081,0.142857,7.0,0.015773,317.0,0.109195,348,0.000000,31.0
4.0,0.068499,4584,1.000000,1.0,0.066667,45.0,0.123853,218,0.000000,15.0
5.0,0.044335,812,NaN,NaN,0.000000,13.0,0.138365,159,0.000000,5.0
6.0,0.056548,336,NaN,NaN,0.000000,2.0,0.074380,121,0.000000,4.0
7.0,0.009662,207,NaN,NaN,0.000000,2.0,0.008493,471,0.000000,3.0
8.0,0.008130,123,NaN,NaN,0.000000,1.0,0.010870,92,0.000000,2.0
9.0,0.014925,67,NaN,NaN,0.000000,1.0,0.004057,986,0.000000,2.0

V288

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V288,,,,,,,,,,
0.0,0.015186,356251,0.046785,31741.0,0.127208,56380.0,0.054934,8847.0,0.037450,36422.0
1.0,0.039700,75692,0.065669,1203.0,0.069142,11151.0,0.053371,2492.0,0.046595,1116.0
2.0,0.077114,6043,0.107143,56.0,0.064275,669.0,0.243028,251.0,0.070175,114.0
3.0,0.101523,591,0.000000,2.0,0.016260,123.0,0.037037,27.0,0.000000,18.0
4.0,0.400000,20,NaN,NaN,0.000000,1.0,0.625000,8.0,0.000000,4.0
5.0,0.000000,24,NaN,NaN,NaN,NaN,0.000000,3.0,0.000000,2.0
6.0,0.000000,4,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1.0
7.0,0.000000,6,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0
8.0,0.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,2.0
9.0,0.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

V289

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V289,,,,,,,,,,
0.0,0.014950,353857,0.046714,31725.0,0.127165,56281.0,0.055020,8815.0,0.037478,36395.0
1.0,0.034069,60965,0.064435,1195.0,0.070803,10508.0,0.035747,2182.0,0.046490,1097.0
2.0,0.062097,17231,0.095890,73.0,0.067006,1179.0,0.101399,286.0,0.059603,151.0
3.0,0.068973,4625,0.285714,7.0,0.016556,302.0,0.206612,121.0,0.000000,21.0
4.0,0.108005,1574,1.000000,1.0,0.063830,47.0,0.285714,105.0,0.000000,9.0
5.0,0.099567,231,1.000000,1.0,0.000000,7.0,0.478261,46.0,0.000000,3.0
6.0,0.000000,54,NaN,NaN,NaN,0.0,0.111111,18.0,0.000000,1.0
7.0,0.000000,28,NaN,NaN,NaN,NaN,0.283019,53.0,0.000000,1.0
8.0,0.000000,48,NaN,NaN,NaN,NaN,0.000000,2.0,0.000000,1.0
9.0,0.000000,20,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1.0

V290

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V290,,,,,,,,,,
1.0,0.018362,417663.0,0.045837,31961.0,0.118037,55525,0.055453,10856.0,0.035442,35861.0
2.0,0.053799,19573.0,0.091483,951.0,0.128585,7637,0.093883,703.0,0.090253,1385.0
3.0,0.094492,1979.0,0.197917,96.0,0.098844,2509,0.347826,46.0,0.062092,306.0
4.0,0.127424,361.0,0.230769,13.0,0.078298,1175,0.100000,20.0,0.077670,103.0
5.0,0.125000,64.0,0.000000,2.0,0.078498,586,0.000000,3.0,0.115385,26.0
6.0,0.100000,20.0,0.000000,1.0,0.048193,332,NaN,NaN,0.000000,8.0
7.0,0.800000,5.0,NaN,NaN,0.045918,196,NaN,NaN,0.000000,5.0
8.0,NaN,0.0,NaN,NaN,0.039062,128,NaN,NaN,0.000000,2.0
9.0,NaN,0.0,NaN,NaN,0.015873,63,NaN,NaN,0.000000,1.0
10.0,NaN,NaN,NaN,NaN,0.027027,37,NaN,NaN,0.000000,1.0

V291

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V291,,,,,,,,,,
1.0,0.016130,339929.0,0.044786,31595.0,0.115831,47699,0.051569,8222.0,0.035453,35484.0
2.0,0.028979,76159.0,0.099839,1242.0,0.125410,10669,0.065848,2688.0,0.080856,1682.0
3.0,0.040022,16166.0,0.185897,156.0,0.114977,4340,0.150685,365.0,0.059829,351.0
4.0,0.069492,4720.0,0.166667,24.0,0.098861,2195,0.096257,187.0,0.064000,125.0
5.0,0.091689,1516.0,0.250000,4.0,0.096721,1220,0.070796,113.0,0.096774,31.0
6.0,0.105647,549.0,0.333333,3.0,0.079942,688,0.085106,47.0,0.000000,14.0
7.0,0.162500,320.0,NaN,NaN,0.095122,410,0.000000,2.0,0.000000,7.0
8.0,0.136691,139.0,NaN,NaN,0.084871,271,NaN,0.0,0.000000,2.0
9.0,0.240964,83.0,NaN,NaN,0.122093,172,0.000000,2.0,0.000000,1.0
10.0,0.444444,27.0,NaN,NaN,0.120690,116,0.000000,1.0,0.000000,1.0

V292

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V292,,,,,,,,,,
1.0,0.016705,393120.0,0.045099,31730.0,0.115291,51617,0.052096,10020.0,0.035330,35664.0
2.0,0.043422,38897.0,0.100444,1125.0,0.129156,9624,0.090193,1397.0,0.088178,1531.0
3.0,0.072566,5650.0,0.185714,140.0,0.114956,3323,0.202532,158.0,0.059880,334.0
4.0,0.143586,1372.0,0.166667,24.0,0.109091,1595,0.097561,41.0,0.070796,113.0
5.0,0.190217,368.0,0.000000,3.0,0.097893,807,0.166667,12.0,0.096774,31.0
6.0,0.157895,133.0,0.000000,2.0,0.078300,447,NaN,0.0,0.000000,14.0
7.0,0.128571,70.0,NaN,NaN,0.096654,269,NaN,NaN,0.000000,7.0
8.0,0.052632,19.0,NaN,NaN,0.081081,185,NaN,NaN,0.000000,2.0
9.0,0.178571,28.0,NaN,NaN,0.112069,116,NaN,NaN,0.000000,1.0
10.0,0.000000,6.0,NaN,NaN,0.078947,76,NaN,NaN,0.000000,1.0

V293

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V293,,,,,,,,,,
0.0,0.016090,411182.0,0.044556,30142.0,0.112668,59813.0,0.054785,9802,0.034617,35503.0
1.0,0.071505,16768.0,0.085780,1737.0,0.190553,4340.0,0.262097,248,0.124684,1187.0
2.0,0.090061,5785.0,0.070100,699.0,0.122150,1842.0,0.310680,103,0.066225,453.0
3.0,0.095400,2652.0,0.075601,291.0,0.094218,934.0,0.308824,68,0.057613,243.0
4.0,0.109225,1355.0,0.062500,112.0,0.076289,485.0,0.256410,39,0.026786,112.0
5.0,0.105402,759.0,0.074074,27.0,0.061644,292.0,0.400000,30,0.027027,74.0
6.0,0.116173,439.0,0.111111,9.0,0.053191,188.0,0.368421,19,0.000000,40.0
7.0,0.148289,263.0,0.200000,5.0,0.034483,116.0,0.222222,9,0.000000,30.0
8.0,0.141935,155.0,0.000000,2.0,0.025316,79.0,0.000000,7,0.000000,12.0
9.0,0.150943,106.0,NaN,0.0,0.020000,50.0,0.000000,6,0.000000,11.0

V294

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V294,,,,,,,,,,
0.0,0.013103,387175.0,0.043694,29775.0,0.103729,57573.0,0.049542,9507,0.034339,35383.0
1.0,0.054238,21295.0,0.090050,1799.0,0.218365,4955.0,0.210682,337,0.129599,1196.0
2.0,0.064722,10012.0,0.079657,816.0,0.174500,2298.0,0.300813,123,0.065957,470.0
3.0,0.077021,5518.0,0.074380,363.0,0.137629,1257.0,0.275862,87,0.067925,265.0
4.0,0.078836,3539.0,0.063694,157.0,0.126255,697.0,0.423077,52,0.038168,131.0
5.0,0.090209,2206.0,0.057971,69.0,0.125891,421.0,0.400000,35,0.023256,86.0
6.0,0.081445,1633.0,0.080000,25.0,0.109434,265.0,0.617647,34,0.000000,57.0
7.0,0.097580,1281.0,0.100000,10.0,0.115854,164.0,0.652174,23,0.000000,41.0
8.0,0.103743,935.0,0.250000,8.0,0.140625,128.0,0.272727,11,0.000000,20.0
9.0,0.114641,724.0,0.000000,2.0,0.131868,91.0,0.250000,8,0.000000,12.0

V295

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V295,,,,,,,,,,
0.0,0.014236,401378.0,0.043998,29865.0,0.107428,58765.0,0.052702,9658,0.034371,35408.0
1.0,0.065026,18085.0,0.091011,1780.0,0.211228,4649.0,0.263158,266,0.129925,1193.0
2.0,0.079791,7670.0,0.073791,786.0,0.159441,2076.0,0.323810,105,0.066381,467.0
3.0,0.092687,3938.0,0.066860,344.0,0.133705,1077.0,0.306667,75,0.065385,260.0
4.0,0.105563,2283.0,0.067114,149.0,0.113240,574.0,0.346939,49,0.031496,127.0
5.0,0.119543,1489.0,0.066667,60.0,0.093294,343.0,0.300000,30,0.024390,82.0
6.0,0.130019,1046.0,0.086957,23.0,0.105505,218.0,0.478261,23,0.000000,55.0
7.0,0.124332,748.0,0.111111,9.0,0.098592,142.0,0.600000,20,0.000000,40.0
8.0,0.151408,568.0,0.000000,6.0,0.087379,103.0,0.142857,7,0.000000,18.0
9.0,0.181614,446.0,0.000000,2.0,0.093333,75.0,0.000000,4,0.000000,12.0

V296

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V296,,,,,,,,,,
0.0,0.018566,398738.0,0.044421,30864.0,0.117967,64196.0,0.058770,8746,0.036464,34143.0
1.0,0.031099,24888.0,0.093377,1510.0,0.090486,3006.0,0.123867,662,0.051948,2310.0
2.0,0.029959,8011.0,0.097448,431.0,0.117221,691.0,0.126866,268,0.040115,698.0
3.0,0.066195,2825.0,0.055118,127.0,0.135021,237.0,0.250000,116,0.053381,281.0
4.0,0.058735,1328.0,0.111111,45.0,0.050847,59.0,0.189189,74,0.026316,114.0
5.0,0.093369,739.0,0.250000,16.0,0.000000,43.0,0.268293,41,0.055556,54.0
55.0,NaN,NaN,NaN,NaN,1.000000,10.0,0.000000,4,NaN,NaN
6.0,0.042000,500.0,0.000000,5.0,0.000000,6.0,0.013514,74,0.125000,24.0
24.0,0.277778,18.0,NaN,NaN,0.666667,6.0,0.000000,10,NaN,NaN
51.0,NaN,NaN,NaN,NaN,0.200000,5.0,0.000000,1,NaN,NaN

V297

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V297,,,,,,,,,,
0.0,0.019687,421961.0,0.045225,31067.0,0.118743,65831.0,0.061124,9538,0.036776,34343.0
1.0,0.034496,13132.0,0.087633,1415.0,0.072080,2192.0,0.149028,463,0.050546,2196.0
2.0,0.041926,3053.0,0.087766,376.0,0.063361,363.0,0.132450,151,0.033233,662.0
3.0,0.046154,910.0,0.062500,112.0,0.081395,86.0,0.138462,65,0.053435,262.0
4.0,0.047619,315.0,0.108108,37.0,0.043478,23.0,0.051282,39,0.028571,105.0
5.0,0.043165,139.0,0.111111,9.0,0.000000,8.0,0.032258,31,0.056604,53.0
6.0,0.044776,67.0,0.000000,4.0,0.000000,4.0,0.040000,25,0.130435,23.0
7.0,0.051282,39.0,0.000000,3.0,0.000000,3.0,0.052632,19,0.100000,10.0
8.0,0.187500,16.0,0.000000,1.0,0.000000,2.0,0.000000,13,0.111111,9.0
9.0,0.312500,16.0,NaN,NaN,NaN,0.0,0.000000,11,0.250000,4.0

V298

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V298,,,,,,,,,,
0.0,0.018596,404334.0,0.044516,30888.0,0.117732,64630.0,0.058757,8867,0.036520,34173.0
1.0,0.033629,22421.0,0.093977,1511.0,0.091632,2892.0,0.136513,608,0.052449,2307.0
2.0,0.036150,7054.0,0.095571,429.0,0.127106,653.0,0.120833,240,0.037572,692.0
3.0,0.062342,2374.0,0.055556,126.0,0.153846,195.0,0.212598,127,0.053763,279.0
4.0,0.060337,1127.0,0.111111,45.0,0.066667,45.0,0.177215,79,0.026316,114.0
5.0,0.093058,677.0,0.250000,16.0,0.000000,34.0,0.250000,40,0.055556,54.0
40.0,NaN,NaN,NaN,NaN,0.833333,12.0,0.000000,1,NaN,NaN
6.0,0.042667,375.0,0.000000,5.0,0.000000,7.0,0.019608,51,0.125000,24.0
38.0,0.000000,1.0,NaN,NaN,0.000000,4.0,0.000000,1,NaN,NaN
32.0,0.000000,5.0,NaN,NaN,0.000000,4.0,0.000000,1,NaN,NaN

V299

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V299,,,,,,,,,,
0.0,0.019006,415865.0,0.044633,30941.0,0.118269,65351.0,0.061357,9241,0.036721,34231.0
1.0,0.039240,16361.0,0.094531,1481.0,0.086887,2486.0,0.130189,530,0.050309,2266.0
2.0,0.043449,4488.0,0.092910,409.0,0.084567,473.0,0.095960,198,0.036390,687.0
3.0,0.069751,1448.0,0.056452,124.0,0.116667,120.0,0.188119,101,0.051282,273.0
4.0,0.083744,609.0,0.090909,44.0,0.041667,48.0,0.148936,47,0.027273,110.0
5.0,0.071429,294.0,0.250000,16.0,0.000000,9.0,0.115385,26,0.056604,53.0
6.0,0.096774,155.0,0.000000,5.0,0.000000,6.0,0.052632,19,0.130435,23.0
13.0,0.052632,19.0,NaN,NaN,0.500000,4.0,0.000000,6,NaN,NaN
19.0,0.250000,4.0,NaN,NaN,0.750000,4.0,0.000000,2,NaN,NaN
7.0,0.122449,98.0,0.000000,3.0,0.000000,3.0,0.076923,13,0.090909,11.0

V300

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V300,,,,,,,,,,
0.0,0.019743,427193,0.044633,30919.0,0.117624,65888.0,0.054607,11189.0,0.036408,34333.0
1.0,0.040632,9180,0.091650,1473.0,0.104404,2021.0,0.120438,274.0,0.055835,2185.0
2.0,0.048926,1676,0.092417,422.0,0.080119,337.0,0.319149,94.0,0.033639,654.0
3.0,0.107798,436,0.058333,120.0,0.000000,62.0,0.160000,50.0,0.051852,270.0
4.0,0.078261,115,0.116279,43.0,0.000000,13.0,0.142857,7.0,0.028037,107.0
5.0,0.160000,25,0.235294,17.0,0.000000,2.0,0.142857,7.0,0.057692,52.0
6.0,0.000000,11,0.000000,4.0,0.000000,1.0,0.200000,5.0,0.130435,23.0
7.0,0.000000,1,0.000000,3.0,NaN,0.0,0.500000,2.0,0.090909,11.0
8.0,NaN,0,0.000000,1.0,NaN,0.0,NaN,0.0,0.111111,9.0
9.0,NaN,0,NaN,NaN,NaN,0.0,NaN,0.0,0.250000,4.0

V301

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V301,,,,,,,,,,
0.0,0.019351,425296,0.044522,30906.0,0.117625,65794.0,0.052589,11105.0,0.036435,34308.0
1.0,0.049780,10245,0.092380,1483.0,0.107212,2052.0,0.179811,317.0,0.054214,2195.0
2.0,0.048913,2208,0.098086,418.0,0.073107,383.0,0.295238,105.0,0.037651,664.0
3.0,0.091954,609,0.055556,126.0,0.014085,71.0,0.093750,64.0,0.051661,271.0
4.0,0.186207,145,0.113636,44.0,0.000000,14.0,0.272727,11.0,0.027273,110.0
5.0,0.130435,69,0.250000,16.0,0.000000,4.0,0.230769,13.0,0.056604,53.0
6.0,0.060000,50,0.000000,5.0,0.000000,2.0,0.090909,11.0,0.130435,23.0
7.0,0.333333,3,0.000000,3.0,0.000000,1.0,0.500000,2.0,0.090909,11.0
8.0,0.500000,2,0.000000,1.0,0.000000,1.0,NaN,0.0,0.111111,9.0
9.0,0.500000,2,NaN,NaN,0.000000,1.0,NaN,0.0,0.250000,4.0

V302

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V302,,,,,,,,,,
1.0,NaN,NaN,0.047253,31575.0,0.120863,56982,0.061256,9795.0,0.037262,35720.0
0.0,0.0204,439665.0,0.012806,859.0,0.060938,8205,0.104790,334.0,0.011525,1128.0
2.0,NaN,NaN,0.116541,532.0,0.202620,2443,0.030197,1424.0,0.101852,756.0
3.0,NaN,NaN,0.169811,53.0,0.177778,495,0.140000,50.0,0.058824,85.0
4.0,NaN,NaN,0.000000,5.0,0.149171,181,0.040000,25.0,0.000000,8.0
5.0,NaN,NaN,NaN,NaN,0.072917,96,NaN,NaN,0.000000,1.0
6.0,NaN,NaN,NaN,NaN,0.021739,46,NaN,NaN,0.000000,1.0
7.0,NaN,NaN,NaN,NaN,0.043478,23,NaN,NaN,NaN,NaN
8.0,NaN,NaN,NaN,NaN,0.000000,14,NaN,NaN,NaN,NaN
15.0,NaN,NaN,NaN,NaN,0.000000,7,NaN,NaN,NaN,NaN

V303

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V303,,,,,,,,,,
1.0,NaN,NaN,0.045977,31081.0,0.115796,52774,0.056911,7626.0,0.036966,35276.0
0.0,0.0204,439664.0,0.012987,847.0,0.056887,7594,0.038732,284.0,0.010811,1110.0
2.0,NaN,NaN,0.111566,977.0,0.179971,5462,0.113020,1513.0,0.084410,1161.0
3.0,0.0000,1.0,0.214286,98.0,0.205263,1330,0.023407,769.0,0.089552,134.0
4.0,NaN,NaN,0.200000,15.0,0.216312,564,0.104603,239.0,0.000000,16.0
5.0,NaN,NaN,0.250000,4.0,0.137931,261,0.024346,1109.0,0.000000,1.0
6.0,NaN,NaN,0.000000,2.0,0.114583,192,0.000000,21.0,0.000000,1.0
7.0,NaN,NaN,NaN,NaN,0.090090,111,0.000000,12.0,NaN,NaN
8.0,NaN,NaN,NaN,NaN,0.115385,78,0.000000,8.0,NaN,NaN
9.0,NaN,NaN,NaN,NaN,0.047619,42,0.000000,26.0,NaN,NaN

V304

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V304,,,,,,,,,,
1.0,0.0000,1.0,0.046299,31275.0,0.118224,55031,0.061500,8748.0,0.036887,35487.0
0.0,0.0204,439664.0,0.012881,854.0,0.059107,7884,0.064725,309.0,0.010724,1119.0
2.0,NaN,NaN,0.121402,799.0,0.194863,4049,0.076314,1389.0,0.099487,975.0
3.0,NaN,NaN,0.219512,82.0,0.189189,851,0.030303,561.0,0.074766,107.0
4.0,NaN,NaN,0.000000,9.0,0.166163,331,0.008157,613.0,0.000000,9.0
5.0,NaN,NaN,0.000000,5.0,0.097143,175,0.000000,8.0,0.000000,1.0
6.0,NaN,NaN,NaN,NaN,0.084337,83,NaN,0.0,0.000000,1.0
7.0,NaN,NaN,NaN,NaN,0.075000,40,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,0.041667,24,NaN,NaN,NaN,NaN
8.0,NaN,NaN,NaN,NaN,0.047619,21,NaN,NaN,NaN,NaN

V305

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V305,,,,,,,,,,
1.0,0.0204,439661,0.047662,33024.0,0.116855,68512.0,0.058996,11628.0,0.037826,37699.0
2.0,0.0000,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

V306

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V306,,,,,,,,,,
0.000000,0.01375,370683.0,0.042074,27903.0,0.118378,53667.0,0.047776,8184.0,0.033846,31732.0
64.712997,NaN,NaN,NaN,NaN,0.054054,37.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.333333,30.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.066667,30.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.285714,28.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.259259,27.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.111111,27.0,NaN,NaN,NaN,NaN
44.106602,NaN,NaN,NaN,NaN,0.192308,26.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.160000,25.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.080000,25.0,NaN,NaN,NaN,NaN

V307

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V307,,,,,,,,,,
0.000000,0.011789,207065.0,0.040466,27060.0,0.115980,46344.0,0.035359,5232.0,0.033733,30949.0
64.712997,NaN,NaN,NaN,NaN,0.146341,41.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.307692,39.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.166667,36.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.285714,35.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.114286,35.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.212121,33.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.121212,33.0,NaN,NaN,NaN,NaN
44.106602,NaN,NaN,NaN,NaN,0.281250,32.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.172414,29.0,NaN,NaN,NaN,NaN

V308

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V308,,,,,,,,,,
0.000000,0.010944,307281.0,0.040684,27382.0,0.115466,50084.0,0.037222,6394.0,0.033554,31323.0
64.712997,NaN,NaN,NaN,NaN,0.076923,39.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.323529,34.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.117647,34.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.125000,32.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.093750,32.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.322581,31.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.096774,31.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.233333,30.0,NaN,NaN,NaN,NaN
44.106602,NaN,NaN,NaN,NaN,0.241379,29.0,NaN,NaN,NaN,NaN

V309

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V309,,,,,,,,,,
0.000000,0.017049,405372.0,0.047046,32330.0,0.124383,61230.0,0.061222,9833.0,0.037486,36787.0
64.712997,NaN,NaN,NaN,NaN,0.051282,39.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.000000,33.0,NaN,NaN,NaN,NaN
34.105499,NaN,NaN,NaN,NaN,0.000000,33.0,NaN,NaN,NaN,NaN
22.959600,NaN,NaN,NaN,NaN,0.000000,29.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.038462,26.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.000000,24.0,NaN,NaN,NaN,NaN
52.202900,NaN,NaN,NaN,NaN,0.000000,22.0,NaN,NaN,NaN,NaN
20.988001,NaN,NaN,NaN,NaN,0.000000,22.0,NaN,NaN,NaN,NaN

V310

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V310,,,,,,,,,,
0.000000,0.014298,227517.0,0.04676,31779.0,0.132704,53480.0,0.056347,5963.0,0.037781,36076.0
64.712997,NaN,NaN,NaN,NaN,0.166667,48.0,NaN,NaN,NaN,NaN
25.452700,NaN,NaN,NaN,NaN,0.930233,43.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.048780,41.0,NaN,NaN,NaN,NaN
34.105499,NaN,NaN,NaN,NaN,0.000000,39.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.102564,39.0,NaN,NaN,NaN,NaN
31.970100,NaN,NaN,NaN,NaN,0.000000,39.0,NaN,NaN,NaN,NaN
23.563801,NaN,NaN,NaN,NaN,0.694444,36.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.088235,34.0,NaN,NaN,NaN,NaN
35.345699,NaN,NaN,NaN,NaN,0.272727,33.0,NaN,NaN,NaN,NaN

V311

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V311,,,,,,,,,,
0.000000,0.019916,429044.0,0.047503,32545.0,0.123469,63263.0,0.059222,11381.0,0.037834,37057.0
20.521601,NaN,NaN,NaN,NaN,0.000000,24.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.041667,24.0,NaN,NaN,NaN,NaN
64.712997,NaN,NaN,NaN,NaN,0.041667,24.0,NaN,NaN,NaN,NaN
34.105499,NaN,NaN,NaN,NaN,0.000000,22.0,NaN,NaN,NaN,NaN
22.959600,NaN,NaN,NaN,NaN,0.000000,21.0,NaN,NaN,NaN,NaN
25.069000,NaN,NaN,NaN,NaN,0.000000,18.0,NaN,NaN,NaN,NaN
28.397400,NaN,NaN,NaN,NaN,0.111111,18.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.058824,17.0,NaN,NaN,NaN,NaN
27.983999,NaN,NaN,NaN,NaN,0.000000,15.0,NaN,NaN,NaN,NaN

V312

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V312,,,,,,,,,,
0.000000,0.013179,333855.0,0.046584,32071.0,0.127546,57203.0,0.058727,7288.0,0.037535,36446.0
64.712997,NaN,NaN,NaN,NaN,0.152174,46.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.025000,40.0,NaN,NaN,NaN,NaN
25.452700,NaN,NaN,NaN,NaN,0.925000,40.0,NaN,NaN,NaN,NaN
20.521601,NaN,NaN,NaN,NaN,0.000000,39.0,NaN,NaN,NaN,NaN
34.105499,NaN,NaN,NaN,NaN,0.000000,38.0,NaN,NaN,NaN,NaN
31.970100,NaN,NaN,NaN,NaN,0.000000,35.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.066667,30.0,NaN,NaN,NaN,NaN
22.959600,NaN,NaN,NaN,NaN,0.000000,29.0,NaN,NaN,NaN,NaN
35.345699,NaN,NaN,NaN,NaN,0.241379,29.0,NaN,NaN,NaN,NaN

V313

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V313,,,,,,,,,,
0.000000,0.015186,356251.0,0.046785,31741.0,0.127208,56380.0,0.054934,8847.0,0.03745,36422.0
76.023201,NaN,NaN,NaN,NaN,0.061224,49.0,NaN,NaN,NaN,NaN
64.712997,NaN,NaN,NaN,NaN,0.187500,48.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.159091,44.0,NaN,NaN,NaN,NaN
25.452700,NaN,NaN,NaN,NaN,0.952381,42.0,NaN,NaN,NaN,NaN
24.835800,NaN,NaN,NaN,NaN,0.641026,39.0,NaN,NaN,NaN,NaN
25.418800,NaN,NaN,NaN,NaN,0.000000,38.0,NaN,NaN,NaN,NaN
30.209999,NaN,NaN,NaN,NaN,0.567568,37.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.055556,36.0,NaN,NaN,NaN,NaN
31.970100,NaN,NaN,NaN,NaN,0.000000,36.0,NaN,NaN,NaN,NaN

V314

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V314,,,,,,,,,,
0.000000,0.014746,340630.0,0.046729,31715.0,0.127687,55926.0,0.054214,8614.0,0.037485,36388.0
64.712997,NaN,NaN,NaN,NaN,0.187500,48.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.155556,45.0,NaN,NaN,NaN,NaN
25.452700,NaN,NaN,NaN,NaN,0.930233,43.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.105263,38.0,NaN,NaN,NaN,NaN
31.970100,NaN,NaN,NaN,NaN,0.000000,36.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.058824,34.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.062500,32.0,NaN,NaN,NaN,NaN
3.582800,NaN,NaN,NaN,NaN,0.000000,32.0,NaN,NaN,NaN,NaN
36.614498,NaN,NaN,NaN,NaN,0.031250,32.0,NaN,NaN,NaN,NaN

V315

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V315,,,,,,,,,,
0.000000,0.01495,353857.0,0.046714,31725.0,0.127165,56281.0,0.05502,8815.0,0.037478,36395.0
64.712997,NaN,NaN,NaN,NaN,0.187500,48.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.155556,45.0,NaN,NaN,NaN,NaN
25.452700,NaN,NaN,NaN,NaN,0.952381,42.0,NaN,NaN,NaN,NaN
76.023201,NaN,NaN,NaN,NaN,0.073171,41.0,NaN,NaN,NaN,NaN
24.835800,NaN,NaN,NaN,NaN,0.641026,39.0,NaN,NaN,NaN,NaN
38.011600,NaN,NaN,NaN,NaN,0.055556,36.0,NaN,NaN,NaN,NaN
31.970100,NaN,NaN,NaN,NaN,0.000000,36.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.117647,34.0,NaN,NaN,NaN,NaN
30.209999,NaN,NaN,NaN,NaN,0.636364,33.0,NaN,NaN,NaN,NaN

V316

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V316,,,,,,,,,,
0.000000,0.01609,411182.0,0.044556,30142.0,0.112668,59813.0,0.054785,9802.0,0.034617,35503.0
64.712997,NaN,NaN,NaN,NaN,0.000000,27.0,NaN,NaN,NaN,NaN
77.337601,NaN,NaN,NaN,NaN,0.782609,23.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.304348,23.0,NaN,NaN,NaN,NaN
76.023201,NaN,NaN,NaN,NaN,0.200000,20.0,NaN,NaN,NaN,NaN
129.425995,NaN,NaN,NaN,NaN,0.052632,19.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.473684,19.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.315789,19.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.105263,19.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.111111,18.0,NaN,NaN,NaN,NaN

V317

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V317,,,,,,,,,,
0.000000,0.013103,387175.0,0.043694,29775.0,0.103729,57573.0,0.049542,9507.0,0.034339,35383.0
64.712997,NaN,NaN,NaN,NaN,0.100000,30.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.269231,26.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.291667,24.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.434783,23.0,NaN,NaN,NaN,NaN
77.337601,NaN,NaN,NaN,NaN,0.750000,20.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.100000,20.0,NaN,NaN,NaN,NaN
76.023201,NaN,NaN,NaN,NaN,0.157895,19.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.105263,19.0,NaN,NaN,NaN,NaN
20.754801,NaN,NaN,NaN,NaN,0.111111,18.0,NaN,NaN,NaN,NaN

V318

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V318,,,,,,,,,,
0.000000,0.014236,401378.0,0.043998,29865.0,0.107428,58765.0,0.052702,9658.0,0.034371,35408.0
64.712997,NaN,NaN,NaN,NaN,0.000000,29.0,NaN,NaN,NaN,NaN
67.066704,NaN,NaN,NaN,NaN,0.291667,24.0,NaN,NaN,NaN,NaN
77.337601,NaN,NaN,NaN,NaN,0.782609,23.0,NaN,NaN,NaN,NaN
33.533600,NaN,NaN,NaN,NaN,0.380952,21.0,NaN,NaN,NaN,NaN
88.213203,NaN,NaN,NaN,NaN,0.450000,20.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.100000,20.0,NaN,NaN,NaN,NaN
26.818001,NaN,NaN,NaN,NaN,0.631579,19.0,NaN,NaN,NaN,NaN
129.425995,NaN,NaN,NaN,NaN,0.052632,19.0,NaN,NaN,NaN,NaN
32.356499,NaN,NaN,NaN,NaN,0.111111,18.0,NaN,NaN,NaN,NaN

V319

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V319,,,,,,,,,,
0.000000,0.019687,421961.0,0.045225,31067.0,0.118743,65831.0,0.061124,9538.0,0.036776,34343.0
16.790400,NaN,NaN,NaN,NaN,0.071429,14.0,NaN,NaN,NaN,NaN
22.053301,NaN,NaN,NaN,NaN,0.000000,13.0,NaN,NaN,NaN,NaN
24.837900,NaN,NaN,NaN,NaN,0.000000,12.0,NaN,NaN,NaN,NaN
24.651400,NaN,NaN,NaN,NaN,0.000000,12.0,NaN,NaN,NaN,NaN
44.106602,NaN,NaN,NaN,NaN,0.166667,12.0,NaN,NaN,NaN,NaN
14.808200,NaN,NaN,NaN,NaN,0.000000,11.0,NaN,NaN,NaN,NaN
29.264500,NaN,NaN,NaN,NaN,0.000000,11.0,NaN,NaN,NaN,NaN
42.558998,NaN,NaN,NaN,NaN,0.000000,11.0,NaN,NaN,NaN,NaN
13.525600,NaN,NaN,NaN,NaN,0.000000,10.0,NaN,NaN,NaN,NaN

V320

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V320,,,,,,,,,,
0.000000,0.018596,404334.0,0.044516,30888.0,0.117732,64630.0,0.058757,8867.0,0.03652,34173.0
4.108600,NaN,NaN,NaN,NaN,0.075758,66.0,NaN,NaN,NaN,NaN
8.808600,NaN,NaN,NaN,NaN,0.000000,28.0,NaN,NaN,NaN,NaN
12.826000,NaN,NaN,NaN,NaN,0.166667,24.0,NaN,NaN,NaN,NaN
96.671997,NaN,NaN,NaN,NaN,0.956522,23.0,NaN,NaN,NaN,NaN
26.118401,NaN,NaN,NaN,NaN,0.450000,20.0,NaN,NaN,NaN,NaN
200.178802,NaN,NaN,NaN,NaN,0.000000,19.0,NaN,NaN,NaN,NaN
58.003201,NaN,NaN,NaN,NaN,1.000000,18.0,NaN,NaN,NaN,NaN
35.345699,NaN,NaN,NaN,NaN,0.294118,17.0,NaN,NaN,NaN,NaN
158.342804,NaN,NaN,NaN,NaN,1.000000,17.0,NaN,NaN,NaN,NaN

V321

,W_mean,W_count,H_mean,H_count,C_mean,C_count,S_mean,S_count,R_mean,R_count
V321,,,,,,,,,,
0.000000,0.019006,415865.0,0.044633,30941.0,0.118269,65351.0,0.061357,9241.0,0.036721,34231.0
150.011093,NaN,NaN,NaN,NaN,0.000000,19.0,NaN,NaN,NaN,NaN
13.292400,NaN,NaN,NaN,NaN,0.000000,18.0,NaN,NaN,NaN,NaN
4.108600,NaN,NaN,NaN,NaN,0.055556,18.0,NaN,NaN,NaN,NaN
158.342804,NaN,NaN,NaN,NaN,1.000000,17.0,NaN,NaN,NaN,NaN
16.790400,NaN,NaN,NaN,NaN,0.071429,14.0,NaN,NaN,NaN,NaN
22.053301,NaN,NaN,NaN,NaN,0.000000,13.0,NaN,NaN,NaN,NaN
24.837900,NaN,NaN,NaN,NaN,0.000000,13.0,NaN,NaN,NaN,NaN
44.106602,NaN,NaN,NaN,NaN,0.166667,12.0,NaN,NaN,NaN,NaN
24.651400,NaN,NaN,NaN,NaN,0.000000,12.0,NaN,NaN,NaN,NaN

In [20]:
list_pro

'R'