In [1]:
%load_ext autoreload
%autoreload 2
from glob import glob
import os
from pathlib import Path
import gc
import re
import sys
import yaml
import datetime
import numpy as np
import pandas as pd
from tqdm import tqdm
from func.utils import get_categorical_features, read_pkl_gzip, to_pkl_gzip, parallel_load_data, get_filename, logger_func
from ieee_train import eval_train, eval_check_feature
from kaggle_utils import reduce_mem_usage, move_feature

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
plt.figure(figsize=(12, 12))

logger = logger_func()

2019-09-28 21:39:48,551 func.utils 347 [INFO]    [logger_func] start

In [2]:
COLUMN_ID = 'TransactionID'
COLUMN_DT = 'TransactionDT'
COLUMN_TARGET = 'isFraud'
COLUMN_GROUP = 'DT-M'
COLUMNS_IGNORE = [COLUMN_ID, COLUMN_DT, COLUMN_TARGET, COLUMN_GROUP, 'is_train', 'datetime', 'date', 'year', 'month', 'DT-M']

def filter_feature(path):
    if path.count(''):
        return True
    else:
        return False

paths_train = glob('../submit/re_sub/*_train.gz')
paths_test  = glob('../submit/re_sub/*_test.gz')
paths_train += glob('../submit/add_feature/*_train.gz')
paths_test  += glob('../submit/add_feature/*_test.gz')
print(len(paths_train))

paths_train_feature = []
paths_test_feature  = []

# df_train = reduce_mem_usage( parallel_load_data(paths_train) )
# df_test  = reduce_mem_usage( parallel_load_data(paths_test) )
df_train = parallel_load_data(paths_train)
df_test  = parallel_load_data(paths_test)

679

Process ForkPoolWorker-94:
Process ForkPoolWorker-54:
Process ForkPoolWorker-1:
Process ForkPoolWorker-34:
Process ForkPoolWorker-51:
Process ForkPoolWorker-53:

In [3]:
# data = pd.concat([df_train, df_test], axis=0)
startdate = datetime.datetime(2017,12,1)

# data['datetime'] = data['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x)))
# data['year'] = data['datetime'].map(lambda x: x.year)
# data['month'] = data['datetime'].map(lambda x: x.month)
# data['month'] = data['month'].map(lambda x: 5 if x==6 else x)

# data['DT-M'] = data[['year', 'month']].apply(lambda x: str(x[0]) + '-' + str(x[1]), axis=1)


df_train['datetime'] = df_train['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x)))
df_train['year'] = df_train['datetime'].map(lambda x: x.year)
df_train['month'] = df_train['datetime'].map(lambda x: x.month)
df_train['month'] = df_train['month'].map(lambda x: 5 if x==6 else x)
df_train['DT-M'] = df_train[['year', 'month']].apply(lambda x: str(x[0]) + '-' + str(x[1]), axis=1)

df_test['datetime'] = df_test['TransactionDT'].apply(lambda x: (startdate + datetime.timedelta(seconds = x)))
df_test['year'] = df_test['datetime'].map(lambda x: x.year)
df_test['month'] = df_test['datetime'].map(lambda x: x.month)
df_test['month'] = df_test['month'].map(lambda x: 5 if x==6 else x)

df_test['DT-M'] = df_test[['year', 'month']].apply(lambda x: str(x[0]) + '-' + str(x[1]), axis=1)

In [74]:
#========================================================================
# Bear's ID
#========================================================================
df_user_id_bear = pd.read_csv('../output/same_user_pattern/20190901_user_ids_share.csv')
# data = pd.concat([df_train, df_test], axis=0)
# col_bear = 'user_id_bear'
# data.columns = [col.replace('ker__', '') for col in data.columns]

# data.set_index(COLUMN_ID, inplace=True)
# df_user_id_bear = pd.read_csv('../output/same_user_pattern/20190901_user_ids_share.csv').set_index(COLUMN_ID)
# data[col_bear] = df_user_id_bear['predicted_user_id']

# max_id = data[col_bear].max()

# data.loc[data[data[col_bear].isnull()].index, col_bear] = np.arange(data[data[col_bear].isnull()].shape[0]) + max_id+1
# data.reset_index(inplace=True)
# data[col_bear] = data[col_bear].astype('int')
# data[col_bear].head()

In [62]:
#========================================================================
# Bear's score
#========================================================================

from sklearn.metrics import roc_auc_score
bear = pd.read_csv('../input/20190913_ieee__bear_probing.csv').iloc[:, [0, 1, 2, 3, 4, 6]]
# bear = bear[bear[COLUMN_TARGET]==-1]
bear = bear.iloc[:, [0,1,2,3,5]]
bear.columns = [COLUMN_ID, COLUMN_DT, col_bear, 'data_type', 'bear_probing']
bear = bear.merge(data[[COLUMN_ID, 'DT-M']], how='inner', on=COLUMN_ID)
submission = pd.read_csv('../input/sample_submission.csv')
submission.columns = [COLUMN_ID, 'pred']


def bear_validation(test_pred):
    submission['pred'] = test_pred
    bear_score = submission.merge(bear, how='inner', on=COLUMN_ID)
    public  = bear_score[bear_score['data_type']=='test_public']
    private = bear_score[bear_score['data_type']=='test_private']
    
    public_score = roc_auc_score(public[COLUMN_TARGET].values, public['pred'].values)
    private_score = roc_auc_score(private[COLUMN_TARGET].values, private['pred'].values)
    all_score = roc_auc_score(bear_score[COLUMN_TARGET].values, bear_score['pred'].values)

    return public_score, private_score, all_score

In [34]:
#========================================================================
# Join Prediction
#========================================================================
# pred = read_pkl_gzip('../output/pred_result/20190925_1450__CV0-9581588018233685__all_preds.gz').iloc[:, 1].values
# data['pred_holy'] = pred

# oof_haku = pd.read_csv('../output/oof/oof.csv').iloc[:, 1].values
# test_haku = pd.read_csv('../output/oof/submission.csv').iloc[:, 1].values
# data['pred_haku'] = np.hstack((oof_haku, test_haku))

# oof_hmd = pd.read_csv('../output/oof/20190925_hmdhmd_oof.csv').iloc[:, 1].values
# test_hmd = pd.read_csv('../output/oof/20190925_hmdhmd_pred.csv').iloc[:, 1].values
# data['pred_hmd'] = np.hstack((oof_hmd, test_hmd))

# oof_bear = pd.read_csv('../output/oof/20190925_all_uid_agg_stats_lr001_oof_features1381_oof0.95_pub0.984_pri0.989.csv')
# test_bear = pd.read_csv('../output/oof/20190925_all_uid_agg_stats_lr001_pred_features1381_oof0.95_pub0.984_pri0.989.csv')
# df_bear = pd.concat([oof_bear, test_bear], axis=0)
# df_bear.columns = [COLUMN_ID, 'pred_bear']
# data = data.merge(df_bear, how='inner', on=COLUMN_ID)


pred = read_pkl_gzip('../output/pred_result/20190925_1450__CV0-9581588018233685__all_preds.gz').iloc[:len(df_train), 1].values
df_train['pred_holy'] = pred
oof_haku = pd.read_csv('../output/oof/oof.csv').iloc[:, 1].values
df_train['pred_haku'] = oof_haku

oof_hmd = pd.read_csv('../output/oof/20190925_hmdhmd_oof.csv').iloc[:, 1].values
df_train['pred_hmd'] = oof_hmd

oof_bear = pd.read_csv('../output/oof/20190925_all_uid_agg_stats_lr001_oof_features1381_oof0.95_pub0.984_pri0.989.csv')
oof_bear.columns = [COLUMN_ID, 'pred_bear']
df_train = df_train.merge(oof_bear, how='inner', on=COLUMN_ID)


pred = read_pkl_gzip('../output/pred_result/20190925_1450__CV0-9581588018233685__all_preds.gz').iloc[len(df_train):, 1].values
df_test['pred_holy'] = pred

test_haku = pd.read_csv('../output/oof/submission.csv').iloc[:, 1].values
df_test['pred_haku'] = test_haku

test_hmd = pd.read_csv('../output/oof/20190925_hmdhmd_pred.csv').iloc[:, 1].values
df_test['pred_hmd'] = test_hmd

test_bear = pd.read_csv('../output/oof/20190925_all_uid_agg_stats_lr001_pred_features1381_oof0.95_pub0.984_pri0.989.csv')
test_bear.columns = [COLUMN_ID, 'pred_bear']
df_test = df_test.merge(test_bear, how='inner', on=COLUMN_ID)

In [36]:
#========================================================================
# 検証するbear's idでfilter
#========================================================================
data.sort_values(by=COLUMN_DT, inplace=True)
bear_first = data.groupby(col_bear)['DT-M'].first()
bear_cnt = data.groupby(col_bear)['DT-M'].count()

bear_test_user = bear_first[bear_first>='2018-7'].index
bear_multi_cnt_user = bear_cnt[bear_cnt>3].index
bear_valid_user = list(set(bear_test_user) & set(bear_multi_cnt_user))
print(len(bear_valid_user))

df_bear_valid = bear[bear[col_bear].isin(bear_valid_user)]
df_bear_valid = df_bear_valid.merge(data[[COLUMN_ID, 'pred_holy', 'pred_haku', 'pred_hmd', 'pred_bear']], how='inner', on=COLUMN_ID)

pd.set_option('max_rows', 1400)
df_bear_valid.sort_values(by=[col_bear, COLUMN_DT], ascending=False)

13180

In [9]:
cnt_adv = pd.concat([
df_train['528__ugr_R_emaildomain_C1_C14_ratio_agg_V35_52_mean_mean'].value_counts().rename('cnt_train'), 
df_test['528__ugr_R_emaildomain_C1_C14_ratio_agg_V35_52_mean_mean'].value_counts().rename('cnt_test')
], axis=1)
cnt_adv.sort_values(by='cnt_test', ascending=False, inplace=True)
cnt_adv

           cnt_train  cnt_test
0.539019    335751.0  274585.0
0.922614     38772.0   41394.0
0.590437     20809.0   19492.0
0.961942     18891.0   17591.0
0.868339     15277.0   14189.0
0.566206     16716.0   12656.0
0.569855     14096.0   11782.0
1.149457      8830.0    8467.0
0.814798      9239.0    7357.0
0.556883      8502.0    6677.0
0.545796      5760.0    4682.0
1.219403      3403.0    3887.0
0.552655        62.0    3260.0
0.539918      4065.0    2808.0
0.781217      2855.0    2719.0
0.631076      2562.0    2614.0
1.344813      2877.0    2504.0
0.889419      2812.0    2473.0
0.542823      2596.0    1972.0
1.236629      2084.0    1926.0
0.569548      2171.0    1802.0
0.542054      1644.0    1419.0
0.969680      1262.0    1415.0
0.751434      1481.0    1378.0
0.916489      1531.0    1195.0
0.545826      1725.0    1181.0
1.133767      1105.0    1052.0
1.196232       679.0     989.0
0.540163      1075.0     971.0
1.431391       816.0     957.0
...              ...       ...
2.538461         1.0       NaN
2.846154         3.0       NaN
2.846154         6.0       NaN
2.984615         5.0       NaN
3.128205         3.0       NaN
3.307692         4.0       NaN
3.307693         2.0       NaN
3.538462         2.0       NaN
3.557692         8.0       NaN
3.846154         4.0       NaN
3.871795         3.0       NaN
4.076923         2.0       NaN
4.384615         1.0       NaN
4.461538         4.0       NaN
4.769231        12.0       NaN
5.423077         2.0       NaN
5.461538         4.0       NaN
5.692307         1.0       NaN
5.807693         4.0       NaN
6.076923         2.0       NaN
6.192307         2.0       NaN
6.615385         1.0       NaN
7.115385         4.0       NaN
8.615385         1.0       NaN
8.923077         1.0       NaN
9.230769         1.0       NaN
9.538462         1.0       NaN
9.846154         1.0       NaN
10.307692        2.0       NaN
14.124542       21.0       NaN

[1074 rows x 2 columns]

In [41]:
from sklearn.metrics import roc_auc_score
df_train['round_ugr'] = df_train['528__ugr_R_emaildomain_C1_C14_ratio_agg_V35_52_mean_mean'].map(lambda x: np.round(x, 2))
list_val = []

for val in tqdm(sorted(df_train['round_ugr'].unique().tolist())):
    
    tmp = df_train[df_train['round_ugr']==val]
    
    if len(tmp)==0:
        continue
    
    y_train = tmp[COLUMN_TARGET].values
    haku = tmp['pred_haku'].values
    holy = tmp['pred_holy'].values
    hmd = tmp['pred_hmd'].values
    bear = tmp['pred_bear'].values
    cnt = tmp.shape[0]
    
    try:
        score_haku = roc_auc_score(y_train, haku)
        score_hmd = roc_auc_score(y_train, hmd)
        score_holy = roc_auc_score(y_train, holy)
        score_bear = roc_auc_score(y_train, bear)
        mean_haku = np.mean(haku)
        mean_hmd  = np.mean(hmd)
        mean_holy = np.mean(holy)
        mean_bear = np.mean(bear)
        max_val = np.max(y_train)
#         print(f" * ugr: {val} cnt: {cnt} haku: {score_haku} hmd: {score_hmd} holy: {score_holy} bear: {score_bear}")
        list_val.append([val, cnt, score_haku, score_hmd, score_holy, score_bear, max_val, mean_haku, mean_hmd, mean_holy, mean_bear])
    except ValueError:
        mean_haku = np.mean(haku)
        mean_hmd  = np.mean(hmd)
        mean_holy = np.mean(holy)
        mean_bear = np.mean(bear)
        max_val = np.max(y_train)
#         print(f" * ugr: {val} cnt: {tmp.shape[0]} y_train: {np.max(y_train)} ")
        list_val.append([val, cnt, np.nan, np.nan, np.nan, np.nan, max_val, mean_haku, mean_hmd, mean_holy, mean_bear])

100%|██████████| 272/272 [00:05<00:00, 51.71it/s]

In [43]:
pd.set_option('max_rows', 300)
# ugr_train = pd.DataFrame(list_val, columns=['ugr', 'cnt', 'score_haku', 'score_hmd', 'score_holy', 'score_bear', 'max_target', 'mean_haku', 'mean_hmd', 'mean_holy', 'mean_bear'])
ugr_train.columns = [f"train_{col}" if not col.count('ugr') else col  for col in ugr_train.columns]

In [45]:
df_test['round_ugr'] = df_test['528__ugr_R_emaildomain_C1_C14_ratio_agg_V35_52_mean_mean'].map(lambda x: np.round(x, 2))
list_val = []

for val in tqdm(sorted(df_test['round_ugr'].unique().tolist())):
    
    tmp = df_test[df_test['round_ugr']==val]
    
    if len(tmp)==0:
        continue
    
    y_test = tmp[COLUMN_TARGET].values
    haku = tmp['pred_haku'].values
    holy = tmp['pred_holy'].values
    hmd = tmp['pred_hmd'].values
    bear = tmp['pred_bear'].values
    cnt = tmp.shape[0]
    
    try:
        mean_haku = np.mean(haku)
        mean_hmd  = np.mean(hmd)
        mean_holy = np.mean(holy)
        mean_bear = np.mean(bear)
        max_val = np.max(y_test)
        list_val.append([val, cnt, max_val, mean_haku, mean_hmd, mean_holy, mean_bear])
    except ValueError:
        mean_haku = np.mean(haku)
        mean_hmd  = np.mean(hmd)
        mean_holy = np.mean(holy)
        mean_bear = np.mean(bear)
        max_val = np.max(y_test)
        list_val.append([val, cnt, max_val, mean_haku, mean_hmd, mean_holy, mean_bear])

100%|██████████| 325/325 [00:04<00:00, 66.17it/s]

In [46]:
ugr_test = pd.DataFrame(list_val, columns=['ugr', 'cnt', 'max_target', 'mean_haku', 'mean_hmd', 'mean_holy', 'mean_bear'])
ugr_test.columns = [f"test_{col}" if not col.count('ugr') else col  for col in ugr_test.columns]
ugr_test.head()

,ugr,test_cnt,test_max_target,test_mean_haku,test_mean_hmd,test_mean_holy,test_mean_bear
0,0.00,1,NaN,0.001627,0.003237,0.003757,0.006765
1,0.46,106,NaN,0.158311,0.152592,0.169974,0.187896
2,0.50,177,NaN,0.026778,0.025598,0.043991,0.033125
3,0.51,1512,NaN,0.008860,0.012417,0.012599,0.012087
4,0.52,4374,NaN,0.003852,0.006193,0.005105,0.005251

In [47]:
df_ugr = ugr_train.merge(ugr_test, how='outer', on='ugr')
df_ugr.head()

,ugr,train_cnt,train_score_haku,train_score_hmd,train_score_holy,train_score_bear,train_max_target,train_mean_haku,train_mean_hmd,train_mean_holy,train_mean_bear,test_cnt,test_max_target,test_mean_haku,test_mean_hmd,test_mean_holy,test_mean_bear
0,0.00,6.0,1.000000,1.000000,1.000000,1.000000,1.0,0.117848,0.047873,0.127307,0.116812,1.0,NaN,0.001627,0.003237,0.003757,0.006765
1,0.46,165.0,0.978148,0.973449,0.968515,0.982848,1.0,0.152751,0.171911,0.196523,0.178794,106.0,NaN,0.158311,0.152592,0.169974,0.187896
2,0.49,153.0,0.989237,0.935421,0.979452,0.979452,1.0,0.031673,0.033229,0.032788,0.031838,91.0,NaN,0.037527,0.035277,0.045750,0.041782
3,0.50,353.0,0.972805,0.993902,0.996829,0.987195,1.0,0.036091,0.036758,0.041254,0.037983,177.0,NaN,0.026778,0.025598,0.043991,0.033125
4,0.51,3229.0,0.976165,0.971749,0.962694,0.968476,1.0,0.007095,0.007907,0.006946,0.007189,1512.0,NaN,0.008860,0.012417,0.012599,0.012087

In [50]:
df_ugr.to_csv('../output/0928_ieee__528__ugr_R_emaildomain_C1_C14_ratio_agg_V35_52_mean_mean__round2__score.csv', index=False)

In [97]:
# col_bear = 'predicted_user_id'
# cols_pred = [col for col in df_train.columns if col.count('pred')]

# if col_bear not in df_train.columns:
#     df_train = df_train.merge(df_user_id_bear[[COLUMN_ID, col_bear]], how='left', on=COLUMN_ID)

tmp = df_train[(0.959<df_train['round_ugr']) 
         &
         (df_train['round_ugr']<0.961)][[COLUMN_ID, 'DT-M', 'datetime', COLUMN_TARGET] + cols_pred]
tmp.sort_values(by=COLUMN_TARGET, ascending=False, inplace=True)
tmp = tmp[tmp[COLUMN_TARGET]==1]

low_ids = tmp[col_bear].unique()

In [100]:
train_low = df_train[df_train[col_bear].isin(low_ids)][[COLUMN_ID, 'DT-M', 'datetime', COLUMN_TARGET] + cols_pred]

In [101]:
train_low.sort_values(by=[col_bear, 'datetime'], inplace=True)
train_low

,TransactionID,DT-M,datetime,isFraud,pred_holy,pred_haku,pred_hmd,pred_bear,predicted_user_id
98374,3085374,2017-12,2017-12-23 23:27:01,1,0.005418,0.006594,0.018037,0.001160,288.0
98565,3085565,2017-12,2017-12-23 23:53:14,1,0.004442,0.006098,0.010895,0.001512,288.0
572063,3559063,2018-5,2018-05-25 20:18:53,1,0.025139,0.001826,0.008054,0.010378,1033.0
396006,3383006,2018-3,2018-03-26 04:48:35,0,0.044509,0.017446,0.047083,0.419595,1035.0
396484,3383484,2018-3,2018-03-26 15:35:29,0,0.017173,0.048781,0.072576,0.218130,1035.0
397410,3384410,2018-3,2018-03-26 20:40:37,1,0.158475,0.193318,0.384720,0.583477,1035.0
441082,3428082,2018-4,2018-04-09 16:39:52,1,0.036392,0.059748,0.399370,0.147729,1035.0
441096,3428096,2018-4,2018-04-09 16:46:43,1,0.048099,0.067002,0.385572,0.144854,1035.0
443417,3430417,2018-4,2018-04-10 14:41:15,1,0.057148,0.041687,0.436016,0.058694,1035.0
470564,3457564,2018-4,2018-04-20 15:36:31,1,0.038984,0.031150,0.324351,0.079661,1035.0
553114,3540114,2018-5,2018-05-19 01:31:54,0,0.005528,0.002284,0.004870,0.001150,4433.0
555177,3542177,2018-5,2018-05-19 20:05:17,1,0.009512,0.001338,0.007632,0.000569,4433.0
110389,3097389,2017-12,2017-12-25 23:34:04,1,0.485637,0.467440,0.646808,0.955773,10644.0
200704,3187704,2018-1,2018-01-22 21:13:15,1,0.521024,0.562978,0.706429,0.946485,10644.0
241239,3228239,2018-2,2018-02-04 23:13:26,1,0.152886,0.401857,0.257747,0.515267,10644.0
241313,3228313,2018-2,2018-02-04 23:38:01,1,0.143430,0.296675,0.233621,0.484196,10644.0
243067,3230067,2018-2,2018-02-05 19:17:32,1,0.163377,0.290663,0.253928,0.554954,10644.0
91887,3078887,2017-12,2017-12-23 00:21:50,0,0.009215,0.002467,0.006905,0.000412,10720.0
92362,3079362,2017-12,2017-12-23 01:55:08,1,0.997405,0.998420,0.990587,0.997537,10720.0
96162,3083162,2017-12,2017-12-23 18:48:11,0,0.002585,0.001935,0.003974,0.001536,10720.0
96856,3083856,2017-12,2017-12-23 20:06:56,0,0.007505,0.000946,0.007319,0.001288,10720.0
97184,3084184,2017-12,2017-12-23 20:52:23,0,0.003868,0.000712,0.002236,0.000228,10720.0
97770,3084770,2017-12,2017-12-23 22:07:18,1,0.010764,0.002622,0.006127,0.000607,10720.0
97814,3084814,2017-12,2017-12-23 22:11:47,1,0.012364,0.007089,0.007232,0.000972,10720.0
138773,3125773,2018-1,2018-01-02 19:13:55,0,0.024285,0.042349,0.092626,0.009355,10720.0
230537,3217537,2018-2,2018-02-02 03:40:39,0,0.172455,0.206054,0.093349,0.144164,10720.0
230545,3217545,2018-2,2018-02-02 03:43:55,0,0.119826,0.155184,0.099409,0.155980,10720.0
230556,3217556,2018-2,2018-02-02 03:49:14,0,0.124258,0.130684,0.118983,0.145845,10720.0
230718,3217718,2018-2,2018-02-02 05:41:54,0,0.107857,0.127455,0.118190,0.162386,10720.0
231312,3218312,2018-2,2018-02-02 14:12:25,0,0.077553,0.048840,0.115996,0.093262,10720.0
248792,3235792,2018-2,2018-02-07 16:34:36,0,0.050386,0.030074,0.147246,0.049292,10720.0
421558,3408558,2018-4,2018-04-03 15:30:57,0,0.008375,0.007369,0.054429,0.039837,10720.0
428466,3415466,2018-4,2018-04-05 05:41:20,0,0.019248,0.019519,0.096791,0.063882,10720.0
441170,3428170,2018-4,2018-04-09 17:09:54,0,0.018821,0.015270,0.059781,0.045162,10720.0
471377,3458377,2018-4,2018-04-20 20:30:56,0,0.016242,0.013880,0.038414,0.026796,10720.0
210952,3197952,2018-1,2018-01-26 15:55:55,0,0.000870,0.004526,0.003037,0.001069,10790.0
211955,3198955,2018-1,2018-01-26 21:46:40,1,0.002083,0.003779,0.003688,0.001676,10790.0
549987,3536987,2018-5,2018-05-18 00:28:08,0,0.008844,0.003584,0.011365,0.001864,11028.0
550028,3537028,2018-5,2018-05-18 00:40:21,1,0.008481,0.007068,0.007037,0.002606,11028.0
551021,3538021,2018-5,2018-05-18 14:42:22,0,0.010600,0.006452,0.014741,0.002169,11028.0
573301,3560301,2018-5,2018-05-26 04:00:52,1,0.012906,0.001684,0.007181,0.001527,11046.0
574929,3561929,2018-5,2018-05-26 20:04:16,0,0.012808,0.001657,0.015794,0.001127,11046.0
319241,3306241,2018-3,2018-03-02 21:11:33,1,0.062137,0.065836,0.015006,0.017021,13096.0
319256,3306256,2018-3,2018-03-02 21:14:40,1,0.043925,0.064731,0.022143,0.029672,13096.0
456878,3443878,2018-4,2018-04-15 03:52:20,0,0.003287,0.001218,0.005681,0.002643,13212.0
456961,3443961,2018-4,2018-04-15 05:25:11,1,0.003582,0.000596,0.006859,0.003368,13212.0
458081,3445081,2018-4,2018-04-15 19:39:52,0,0.007002,0.001761,0.005430,0.005001,13212.0
460047,3447047,2018-4,2018-04-16 18:38:18,1,0.011102,0.002078,0.013981,0.002105,13216.0
166886,3153886,2018-1,2018-01-11 03:45:41,1,0.001622,0.001485,0.016111,0.000806,15598.0
177542,3164542,2018-1,2018-01-14 19:22:06,1,0.002215,0.001063,0.021503,0.000532,15598.0
29642,3016642,2017-12,2017-12-09 17:18:31,0,0.085276,0.114928,0.036756,0.054662,17190.0
194172,3181172,2018-1,2018-01-20 16:12:50,0,0.182576,0.152521,0.072140,0.274759,17190.0
485880,3472880,2018-4,2018-04-26 14:15:51,0,0.326541,0.222114,0.196696,0.287347,17190.0
516118,3503118,2018-5,2018-05-06 13:21:37,0,0.005921,0.002976,0.002607,0.000996,17190.0
557128,3544128,2018-5,2018-05-20 16:08:04,0,0.006499,0.005433,0.003412,0.000799,17190.0
562696,3549696,2018-5,2018-05-22 15:23:59,1,0.003874,0.003181,0.002938,0.000564,17190.0
573708,3560708,2018-5,2018-05-26 13:36:22,1,0.002881,0.003143,0.001614,0.000628,17190.0
541082,3528082,2018-5,2018-05-15 01:05:26,0,0.004471,0.014206,0.049073,0.018858,18042.0
542381,3529381,2018-5,2018-05-15 16:09:24,0,0.006402,0.005939,0.021571,0.015978,18042.0
543052,3530052,2018-5,2018-05-15 19:24:12,0,0.013081,0.010413,0.024995,0.023088,18042.0
543065,3530065,2018-5,2018-05-15 19:28:33,0,0.006964,0.004915,0.025940,0.014592,18042.0
543070,3530070,2018-5,2018-05-15 19:29:26,1,0.006925,0.004274,0.030554,0.016210,18042.0
543131,3530131,2018-5,2018-05-15 19:51:30,1,0.006822,0.004523,0.025138,0.016064,18042.0
576721,3563721,2018-5,2018-05-27 14:53:50,1,0.022270,0.011930,0.044706,0.024379,18042.0
576723,3563723,2018-5,2018-05-27 14:54:27,1,0.021839,0.011654,0.046802,0.021787,18042.0
576749,3563749,2018-5,2018-05-27 15:05:58,1,0.009396,0.006214,0.023516,0.023868,18042.0
471692,3458692,2018-4,2018-04-20 22:20:11,1,0.004199,0.002248,0.003678,0.010568,20887.0
471784,3458784,2018-4,2018-04-20 22:49:09,1,0.003652,0.003254,0.004200,0.010479,20887.0
45078,3032078,2017-12,2017-12-13 15:33:47,1,0.002981,0.003285,0.004810,0.009198,20911.0
45118,3032118,2017-12,2017-12-13 15:41:08,1,0.003119,0.002369,0.005694,0.011712,20911.0
69310,3056310,2017-12,2017-12-19 00:17:42,1,0.001779,0.000735,0.004484,0.000539,20916.0
74110,3061110,2017-12,2017-12-19 22:08:23,0,0.011152,0.055196,0.069945,0.080053,20916.0
327380,3314380,2018-3,2018-03-04 03:06:36,1,0.651780,0.544666,0.706819,0.197803,20916.0
159186,3146186,2018-1,2018-01-08 18:17:45,1,0.128903,0.086987,0.075387,0.017971,20956.0
416297,3403297,2018-4,2018-04-01 17:55:47,1,0.014814,0.024198,0.068730,0.013775,21048.0
187463,3174463,2018-1,2018-01-18 12:24:05,1,0.007074,0.009725,0.012512,0.013539,24919.0
187464,3174464,2018-1,2018-01-18 12:25:19,1,0.000739,0.001583,0.003372,0.003573,24919.0
239292,3226292,2018-2,2018-02-04 12:47:24,1,0.004445,0.001014,0.011841,0.002745,27995.0
21659,3008659,2017-12,2017-12-07 15:23:03,1,0.001335,0.000574,0.001282,0.000916,28072.0
22007,3009007,2017-12,2017-12-07 16:50:31,0,0.001346,0.000518,0.001597,0.001033,28072.0
66304,3053304,2017-12,2017-12-18 04:57:16,1,0.003323,0.000385,0.000901,0.000849,28164.0
164961,3151961,2018-1,2018-01-10 17:47:17,0,0.000973,0.002550,0.001995,0.000406,28324.0
166194,3153194,2018-1,2018-01-10 23:37:12,1,0.000356,0.000565,0.000863,0.000352,28324.0
238321,3225321,2018-2,2018-02-04 00:25:43,0,0.005802,0.001968,0.005071,0.002766,28437.0
239294,3226294,2018-2,2018-02-04 12:51:54,0,0.003622,0.000459,0.008284,0.002038,28437.0
239814,3226814,2018-2,2018-02-04 16:43:49,0,0.002193,0.001283,0.004389,0.002710,28437.0
239848,3226848,2018-2,2018-02-04 16:53:11,0,0.009098,0.001510,0.005558,0.004540,28437.0
241276,3228276,2018-2,2018-02-04 23:24:33,1,0.002315,0.000392,0.004599,0.001778,28437.0
241385,3228385,2018-2,2018-02-04 23:53:33,0,0.002607,0.000463,0.003546,0.002734,28437.0
337690,3324690,2018-3,2018-03-07 01:25:26,0,0.000679,0.001789,0.001779,0.001383,28616.0
338085,3325085,2018-3,2018-03-07 03:23:10,0,0.003041,0.004870,0.005189,0.002056,28616.0
338115,3325115,2018-3,2018-03-07 03:37:19,0,0.001113,0.001157,0.001563,0.001566,28616.0
338311,3325311,2018-3,2018-03-07 05:58:30,0,0.001822,0.001454,0.002183,0.001980,28616.0
338481,3325481,2018-3,2018-03-07 12:43:39,1,0.002495,0.001274,0.001656,0.001504,28616.0
339361,3326361,2018-3,2018-03-07 18:19:29,1,0.001488,0.003432,0.002400,0.002016,28616.0
350116,3337116,2018-3,2018-03-10 21:37:29,1,0.010426,0.011671,0.004569,0.004000,28616.0
350420,3337420,2018-3,2018-03-10 22:56:30,0,0.007069,0.007978,0.004803,0.003700,28616.0
350429,3337429,2018-3,2018-03-10 22:58:24,0,0.006195,0.007109,0.004563,0.003745,28616.0
350449,3337449,2018-3,2018-03-10 23:02:10,0,0.006763,0.009482,0.005304,0.004570,28616.0
350474,3337474,2018-3,2018-03-10 23:08:53,0,0.006078,0.012605,0.005908,0.004873,28616.0
351549,3338549,2018-3,2018-03-11 07:55:58,1,0.076824,0.078371,0.017085,0.014716,28616.0
496701,3483701,2018-4,2018-04-30 14:55:00,0,0.002025,0.000629,0.003493,0.001028,28897.0
496725,3483725,2018-4,2018-04-30 15:09:16,0,0.001832,0.000549,0.004592,0.001168,28897.0
497364,3484364,2018-4,2018-04-30 19:38:37,1,0.001277,0.000323,0.002879,0.000968,28897.0
497734,3484734,2018-4,2018-04-30 21:39:45,0,0.002703,0.001515,0.009589,0.001246,28897.0
497778,3484778,2018-4,2018-04-30 22:00:03,0,0.001174,0.000402,0.006815,0.001097,28897.0
518057,3505057,2018-5,2018-05-07 00:58:38,0,0.006325,0.004817,0.014805,0.001923,33328.0
518777,3505777,2018-5,2018-05-07 15:22:49,1,0.025092,0.002916,0.020128,0.002191,33328.0
522349,3509349,2018-5,2018-05-08 19:49:27,1,0.168907,0.089612,0.382955,0.130083,33329.0
522573,3509573,2018-5,2018-05-08 20:59:22,1,0.363078,0.206378,0.511520,0.126995,33329.0
523182,3510182,2018-5,2018-05-08 23:45:57,1,0.843800,0.910602,0.740334,0.736878,33329.0
523186,3510186,2018-5,2018-05-08 23:47:22,1,0.897050,0.959420,0.828135,0.807723,33329.0
565965,3552965,2018-5,2018-05-23 16:57:12,1,0.723853,0.889475,0.842367,0.866549,33329.0
104503,3091503,2017-12,2017-12-25 00:02:34,0,0.001209,0.001001,0.005990,0.000543,41431.0
105038,3092038,2017-12,2017-12-25 01:34:23,0,0.001446,0.000845,0.000968,0.001453,41431.0
105382,3092382,2017-12,2017-12-25 02:46:58,0,0.000932,0.000618,0.003015,0.000720,41431.0
105750,3092750,2017-12,2017-12-25 04:37:05,1,0.005599,0.001411,0.003654,0.001223,41431.0
105825,3092825,2017-12,2017-12-25 05:07:20,1,0.050314,0.011710,0.008787,0.019975,41431.0
108374,3095374,2017-12,2017-12-25 19:16:09,0,0.004865,0.004453,0.004704,0.001628,41431.0
108401,3095401,2017-12,2017-12-25 19:19:11,0,0.004688,0.001581,0.001267,0.006453,41431.0
109740,3096740,2017-12,2017-12-25 22:03:40,0,0.001784,0.000406,0.003876,0.001286,41431.0
110213,3097213,2017-12,2017-12-25 23:12:25,0,0.003851,0.004666,0.005058,0.002005,41431.0
153617,3140617,2018-1,2018-01-06 19:42:55,0,0.009219,0.004672,0.020860,0.149472,41431.0
250475,3237475,2018-2,2018-02-08 00:28:41,0,0.008098,0.001588,0.015029,0.003168,41621.0
250937,3237937,2018-2,2018-02-08 03:01:31,0,0.002558,0.000714,0.008161,0.003659,41621.0
251978,3238978,2018-2,2018-02-08 17:09:57,1,0.023513,0.007400,0.009427,0.008478,41621.0
251983,3238983,2018-2,2018-02-08 17:11:54,1,0.016044,0.010385,0.018958,0.006779,41621.0
277890,3264890,2018-2,2018-02-17 03:40:22,0,0.001883,0.000332,0.006178,0.003548,41621.0
262554,3249554,2018-2,2018-02-12 00:36:18,0,0.007606,0.006863,0.033937,0.043249,41641.0
262560,3249560,2018-2,2018-02-12 00:38:44,0,0.012884,0.007969,0.031235,0.055400,41641.0
263430,3250430,2018-2,2018-02-12 16:07:11,1,0.007550,0.002641,0.008333,0.019558,41641.0
263655,3250655,2018-2,2018-02-12 17:43:05,0,0.005516,0.001066,0.009083,0.012467,41641.0
263959,3250959,2018-2,2018-02-12 19:31:32,0,0.029504,0.020194,0.084023,0.180298,41641.0
277799,3264799,2018-2,2018-02-17 03:04:50,1,0.007083,0.007758,0.017649,0.022415,41641.0
468444,3455444,2018-4,2018-04-19 18:46:50,1,0.744187,0.161174,0.249661,0.657834,41641.0
401635,3388635,2018-3,2018-03-28 02:54:36,0,0.002914,0.001486,0.009362,0.003826,41810.0
401758,3388758,2018-3,2018-03-28 04:21:49,1,0.001341,0.001206,0.003486,0.003512,41810.0
401818,3388818,2018-3,2018-03-28 04:53:29,0,0.004761,0.014272,0.018709,0.020931,41810.0
403487,3390487,2018-3,2018-03-28 20:53:03,0,0.001429,0.003121,0.006152,0.006011,41810.0
403717,3390717,2018-3,2018-03-28 21:54:57,0,0.000815,0.000882,0.003884,0.003695,41810.0
403728,3390728,2018-3,2018-03-28 21:58:29,0,0.003259,0.001798,0.006773,0.008391,41810.0
404431,3391431,2018-3,2018-03-29 01:37:12,0,0.002209,0.002453,0.002407,0.003517,41815.0
404517,3391517,2018-3,2018-03-29 02:10:02,0,0.000919,0.002280,0.005320,0.003018,41815.0
404542,3391542,2018-3,2018-03-29 02:19:09,0,0.000915,0.001447,0.006862,0.003020,41815.0
404665,3391665,2018-3,2018-03-29 03:16:15,0,0.001954,0.003058,0.002007,0.003012,41815.0
404752,3391752,2018-3,2018-03-29 04:03:17,1,0.002199,0.004403,0.004495,0.004494,41815.0
404755,3391755,2018-3,2018-03-29 04:05:41,1,0.002191,0.004854,0.004303,0.004223,41815.0
404768,3391768,2018-3,2018-03-29 04:14:22,0,0.002523,0.003988,0.003101,0.004677,41815.0
404811,3391811,2018-3,2018-03-29 04:40:29,0,0.001279,0.002420,0.002403,0.004128,41815.0
404816,3391816,2018-3,2018-03-29 04:42:54,0,0.002573,0.006948,0.005059,0.005306,41815.0
...,...,...,...,...,...,...,...,...,...
570570,3557570,2018-5,2018-05-25 04:26:39,0,0.003988,0.000930,0.002204,0.000656,NaN
570860,3557860,2018-5,2018-05-25 12:38:00,0,0.000243,0.000183,0.000641,0.000073,NaN
571079,3558079,2018-5,2018-05-25 14:31:46,0,0.000197,0.000108,0.001358,0.000045,NaN
571646,3558646,2018-5,2018-05-25 17:59:44,0,0.001350,0.000319,0.002395,0.000446,NaN
571893,3558893,2018-5,2018-05-25 19:24:29,0,0.001030,0.000241,0.001250,0.000332,NaN
572743,3559743,2018-5,2018-05-25 23:45:22,0,0.003022,0.000728,0.007093,0.000435,NaN
572777,3559777,2018-5,2018-05-25 23:56:50,0,0.000517,0.000131,0.000365,0.000141,NaN
572822,3559822,2018-5,2018-05-26 00:16:54,0,0.000433,0.000262,0.001602,0.000087,NaN
572960,3559960,2018-5,2018-05-26 01:08:34,0,0.001241,0.000453,0.002891,0.002790,NaN
573327,3560327,2018-5,2018-05-26 04:31:59,0,0.000442,0.000312,0.001513,0.000079,NaN
573333,3560333,2018-5,2018-05-26 04:37:32,0,0.000417,0.000263,0.001332,0.000082,NaN
573419,3560419,2018-5,2018-05-26 09:00:12,0,0.000742,0.000385,0.001605,0.000402,NaN
573461,3560461,2018-5,2018-05-26 10:20:28,0,0.002493,0.001226,0.006459,0.001035,NaN
573686,3560686,2018-5,2018-05-26 13:23:11,0,0.000377,0.000297,0.001575,0.000086,NaN
574280,3561280,2018-5,2018-05-26 16:56:59,1,0.146488,0.057923,0.045030,0.036881,NaN
574484,3561484,2018-5,2018-05-26 17:59:01,0,0.001226,0.000498,0.004465,0.000163,NaN
574910,3561910,2018-5,2018-05-26 20:00:30,0,0.000321,0.000219,0.000629,0.000292,NaN
574924,3561924,2018-5,2018-05-26 20:03:14,0,0.005595,0.001867,0.008380,0.000868,NaN
574967,3561967,2018-5,2018-05-26 20:14:39,0,0.005626,0.002133,0.006589,0.003599,NaN
575292,3562292,2018-5,2018-05-26 21:36:11,0,0.002085,0.000920,0.017929,0.000430,NaN
575699,3562699,2018-5,2018-05-26 23:25:31,0,0.000439,0.000513,0.002601,0.000127,NaN
575909,3562909,2018-5,2018-05-27 00:27:36,0,0.003009,0.000705,0.001257,0.000330,NaN
575932,3562932,2018-5,2018-05-27 00:37:10,0,0.002059,0.000161,0.001258,0.000588,NaN
576317,3563317,2018-5,2018-05-27 05:17:00,0,0.006040,0.002288,0.007691,0.003230,NaN
576438,3563438,2018-5,2018-05-27 11:59:12,0,0.002492,0.000456,0.002077,0.000357,NaN
576535,3563535,2018-5,2018-05-27 13:21:42,0,0.001483,0.000537,0.002428,0.000166,NaN
576536,3563536,2018-5,2018-05-27 13:22:04,0,0.002164,0.000564,0.001578,0.000319,NaN
577292,3564292,2018-5,2018-05-27 18:23:02,0,0.002220,0.000425,0.001246,0.001288,NaN
577302,3564302,2018-5,2018-05-27 18:27:25,0,0.023604,0.007940,0.031564,0.002045,NaN
577535,3564535,2018-5,2018-05-27 19:51:56,0,0.006151,0.001983,0.006582,0.003772,NaN
577542,3564542,2018-5,2018-05-27 19:53:21,0,0.008108,0.002734,0.007788,0.004694,NaN
577560,3564560,2018-5,2018-05-27 20:01:02,0,0.000889,0.000241,0.006049,0.000160,NaN
577803,3564803,2018-5,2018-05-27 21:32:30,0,0.000848,0.000275,0.001293,0.001065,NaN
578320,3565320,2018-5,2018-05-28 00:58:42,0,0.000520,0.000120,0.002773,0.000240,NaN
578894,3565894,2018-5,2018-05-28 14:01:53,0,0.003123,0.001158,0.007414,0.000313,NaN
579098,3566098,2018-5,2018-05-28 16:05:06,0,0.000502,0.000383,0.001192,0.000065,NaN
579171,3566171,2018-5,2018-05-28 16:40:30,0,0.000910,0.000255,0.004155,0.000158,NaN
579197,3566197,2018-5,2018-05-28 16:51:53,0,0.000921,0.000254,0.003846,0.000157,NaN
579232,3566232,2018-5,2018-05-28 17:11:43,0,0.000449,0.000226,0.001281,0.000239,NaN
579316,3566316,2018-5,2018-05-28 17:45:11,0,0.001203,0.000509,0.003505,0.000493,NaN
579800,3566800,2018-5,2018-05-28 20:52:36,0,0.000600,0.000191,0.002866,0.000126,NaN
580209,3567209,2018-5,2018-05-28 23:39:10,0,0.004454,0.001375,0.004085,0.001078,NaN
580394,3567394,2018-5,2018-05-29 01:05:37,0,0.002201,0.000597,0.001559,0.000703,NaN
580463,3567463,2018-5,2018-05-29 01:34:56,0,0.000626,0.000126,0.000862,0.000102,NaN
580754,3567754,2018-5,2018-05-29 08:20:03,0,0.009335,0.005005,0.006192,0.003762,NaN
581050,3568050,2018-5,2018-05-29 14:40:27,0,0.000984,0.000384,0.004061,0.000170,NaN
581120,3568120,2018-5,2018-05-29 15:13:22,0,0.000734,0.001278,0.001513,0.000203,NaN
581194,3568194,2018-5,2018-05-29 15:39:24,0,0.000654,0.000347,0.000848,0.000157,NaN
581301,3568301,2018-5,2018-05-29 16:30:43,0,0.000219,0.000190,0.002410,0.000067,NaN
581409,3568409,2018-5,2018-05-29 17:01:00,0,0.002262,0.000940,0.001364,0.000826,NaN
581461,3568461,2018-5,2018-05-29 17:21:05,0,0.000891,0.000333,0.001221,0.000271,NaN
581578,3568578,2018-5,2018-05-29 18:04:21,0,0.001743,0.000972,0.005479,0.000554,NaN
581611,3568611,2018-5,2018-05-29 18:20:44,0,0.000518,0.000097,0.000340,0.000104,NaN
581622,3568622,2018-5,2018-05-29 18:25:50,0,0.000698,0.000203,0.001092,0.000128,NaN
581809,3568809,2018-5,2018-05-29 19:53:33,0,0.001044,0.000278,0.005640,0.000155,NaN
581874,3568874,2018-5,2018-05-29 20:22:16,0,0.002279,0.000396,0.004932,0.000983,NaN
582241,3569241,2018-5,2018-05-29 22:46:42,0,0.001795,0.000530,0.000851,0.000477,NaN
582426,3569426,2018-5,2018-05-29 23:58:46,0,0.001486,0.000415,0.001354,0.000369,NaN
582558,3569558,2018-5,2018-05-30 00:58:24,0,0.000974,0.000219,0.001956,0.000130,NaN
582563,3569563,2018-5,2018-05-30 01:02:13,0,0.002724,0.000661,0.003310,0.000242,NaN
582848,3569848,2018-5,2018-05-30 03:31:53,0,0.015509,0.004512,0.011022,0.006828,NaN
582912,3569912,2018-5,2018-05-30 05:11:12,0,0.000832,0.000126,0.001135,0.000209,NaN
582989,3569989,2018-5,2018-05-30 10:00:34,0,0.002320,0.001217,0.006774,0.001070,NaN
583101,3570101,2018-5,2018-05-30 12:33:08,0,0.005000,0.009812,0.009861,0.002633,NaN
583105,3570105,2018-5,2018-05-30 12:36:07,0,0.005325,0.010327,0.011583,0.002776,NaN
583158,3570158,2018-5,2018-05-30 13:16:18,0,0.005120,0.005837,0.012258,0.002224,NaN
583352,3570352,2018-5,2018-05-30 14:34:39,0,0.000601,0.000571,0.001144,0.000247,NaN
583418,3570418,2018-5,2018-05-30 15:00:44,0,0.000406,0.000138,0.001068,0.000086,NaN
583423,3570423,2018-5,2018-05-30 15:02:15,0,0.000380,0.000164,0.000951,0.000091,NaN
583507,3570507,2018-5,2018-05-30 15:26:48,0,0.000706,0.001295,0.001624,0.000180,NaN
583553,3570553,2018-5,2018-05-30 15:45:00,0,0.001710,0.000617,0.001203,0.000392,NaN
583568,3570568,2018-5,2018-05-30 15:49:55,0,0.001636,0.000523,0.001019,0.000514,NaN
583636,3570636,2018-5,2018-05-30 16:12:52,0,0.001694,0.000584,0.001043,0.000515,NaN
583785,3570785,2018-5,2018-05-30 16:57:51,0,0.000599,0.000239,0.000684,0.000250,NaN
583800,3570800,2018-5,2018-05-30 17:02:30,0,0.000722,0.000283,0.000788,0.000402,NaN
583848,3570848,2018-5,2018-05-30 17:19:52,0,0.002225,0.002426,0.004870,0.000715,NaN
584310,3571310,2018-5,2018-05-30 19:38:24,0,0.000589,0.000317,0.001643,0.000473,NaN
584385,3571385,2018-5,2018-05-30 20:03:21,0,0.019892,0.043483,0.040203,0.005168,NaN
584408,3571408,2018-5,2018-05-30 20:14:00,0,0.000588,0.000260,0.002140,0.000133,NaN